[2016-07-12 11:37] confessor-adguard commented on #1068
http://x.epidemz.com/ (nsfw)
Another case of this situation.

[2016-07-12 11:37] vbagirov opened #1175 "Push API feature messes with Facebook comments and chat"
According to our user, 'Block Push API' feature breaks comments section and chat on Facebook. He was able to reproduce it on 3 different machines.

https://forum.adguard.com/index.php?threads/11842

[2016-07-12 16:37] #1171 closed

[2016-07-13 08:50] suhan3z commented on #1044
Problem with wfp driver, we somehow bypassing RST packets. Can be fixed by adding $content exception rule.

[2016-07-13 11:23] Alex-302 commented on #1044
Ok, added:
`@@||ovh.es^$content`
@Aokromes please check this rule.

[2016-07-13 11:25] #1162 closed

[2016-07-13 11:53] Aokromes commented on #1044
Works :)

[2016-07-13 12:11] confessor-adguard commented on #1170
Related to #1162 .

[2016-07-13 12:11] #1170 closed

[2016-07-13 12:57] suhan3z commented on #1155
Added

[2016-07-13 12:57] #1155 closed

[2016-07-13 15:38] suhan3z commented on #1068
Fixed

[2016-07-13 15:38] #1068 closed

[2016-07-13 16:35] vozersky opened #1176 "Adguard assistant doesn't work in "Avast safezone browser""
If you add the correct file szbrowser.exe to filtered apps list, then filtering works fine, but Assistant is still missing.

[2016-07-13 16:48] suhan3z commented on #1175
@Alex-302 add @@||facebook.com^$stealth to filters

[2016-07-13 16:48] gshumihin commented on #1174
VPN is broken if https filtering enabled in Adguard. When https filtering disabled, VPN in Opera works fine, but there is no filtration in Opera.

[2016-07-13 16:51] ameshkov commented on #1174
@gshumihin wow, that's really useful notice! Now we should simply find out which domain should be excluded from VPN.

[2016-07-13 16:54] Alex-302 commented on #1175
@suhan3z
done

[2016-07-13 16:55] gshumihin commented on #1174
this can be default0.opera-proxy.net
Here's error i've got after enabled https filtering: http://screencast.com/t/x7DGodUN

[2016-07-13 16:59] Eugene-Savenko opened #1177 "[Feature request] Add 'URL blocking helper' module"
Add support for "url blocking helper"! Like element hiding helper, the
helper will show 3rd party domains connected to a current page, and
users can choose which domain will be blocked in the current page.
ublock origin already supports this feature, although with a different
name "dynamic filtering", but there is no need to separate this
feature from usual url blocking rules and it will only incr

[2016-07-13 17:14] vozersky opened #1178 "BSOD, utorrent crashes on TDI driver."
id 1043438

Bugcheck :  https://gist.github.com/vozersky/0c7ed7f3a2c01ef033d9132c25489333

win 7 sp1 x64,
I've asked user about utorrent version.

[2016-07-14 14:15] confessor-adguard commented on #1159
Added all additional options for @run-at key.

[2016-07-14 14:15] #1159 closed

[2016-07-14 14:15] confessor-adguard commented on #1160
Fixed, relative to: #1159.

[2016-07-14 14:15] #1160 closed

[2016-07-14 20:58] vgavrish commented on #1042
Zyxel Keenetic 4g II
a problem in Yandex browser (16.7.0.3342), in Chrome (51.0.2704.106 m) it's ok
Disabling WFP helps

[2016-07-15 09:19] #1169 closed

[2016-07-15 09:25] confessor-adguard commented on #1134
@Bluscream i tested "Stem Market Helper" and another userscripts from your collection, like: "Steam Overall Enhancement UE", "Steam Community Extras",  and seems that it is not actual now. Do they work in Tampermonkey or Greasemonkey?

[2016-07-15 09:27] ameshkov opened #1179 "Update network SDK"
Fix premature connections closing in case if Windows Defender and WFP driver.

[2016-07-15 12:00] ameshkov commented on #1044
Leaving this issue open, we should re-check it with newer driver version again.

[2016-07-15 12:35] ameshkov commented on #1173
Reported this issue to Opera. Leaving it open for now.

[2016-07-15 12:54] ameshkov commented on #1174
@suhan3z please take care of it.

[2016-07-15 12:54] ameshkov commented on #1177
Agreed, we should do it.

[2016-07-15 13:08] confessor-adguard commented on #1173
Nevertheless I change the URL from: "adguard-ajax-api" to: "ag-ajax-api".

[2016-07-15 14:44] #1069 closed

[2016-07-15 15:11] vbagirov opened #1180 "Adguard injections shown as plain text"
On the bbscorner.com/bbssoftware/ website Adguard injections are shown as plain text at the top of the page.

![image](https://cloud.githubusercontent.com/assets/8577533/16879034/8bfd2e7c-4ab7-11e6-84fc-6fff3e6e2199.png)

Taken from forum:
https://forum.adguard.com/index.php?threads/adguard-breaks-www-bbscorner-com-bbssoftware.11923/

[2016-07-15 15:17] worldsdream commented on #1131
@vbagirov, are you able to do that please?

[2016-07-15 16:52] ameshkov commented on #1173
@confessor-adguard this will break extensions integration!

[2016-07-16 13:14] BooBerry commented on #1093
Seems like turning on TCP Fast Open causes a BSOD in the latest Insider build:

https://forum.adguard.com/index.php?threads/stop-0xd1-when-turnning-on-fast-tcp-open-in-edge-browser.11953/

[2016-07-16 23:16] Bluscream commented on #1134
I didn't test that. I only care about the steam client cause that would be the browser where this extensions make most sense.

[2016-07-17 10:38] vgavrish commented on #847
"Возможно автоподключение стоит делать при частом посещении сайтов с другим языком, а не сразу же? Или как вариант делать запрос: хотите подключить испанский фильтр? Если отвечаю нет, то не подключается и больше не запрашивает, а анализирует частоту посещения. И уже при
постоянных - подключает."
id 1099770

[2016-07-17 12:57] Alex-302 opened #1181 "@@||domain.com$content doesn't work on subdomains"
Example:
http://blogs.timesofindia.indiatimes.com/toi-edit-page/a-bastille-day-of-mourning-why-france-is-reeling-under-horrific-attacks-by-islamist-extremists/?utm_source=TOInewHP_TILwidget&utm_campaign=TOInewHP&utm_medium=Widget_Stry
<details>
![image](http://imagizer.imageshack.com/img921/9155/G3zSyt.png)
</details>
This URL was removed from the page code, but should be blocked as request
http:/

[2016-07-18 06:28] evgeniy-ADG opened #1182 "Add Torch browser to the list of filtered apps"
http://torchbrowser.com/

Our user can't add it manually: 1345153

[2016-07-18 06:43] Fruggy commented on #1182
That would be me.

[2016-07-18 07:03] evgeniy-ADG commented on #1182
@vozersky Please check the ticket #1345153, I've vendored it to you.

[2016-07-18 08:05] ameshkov opened #1183 "packagecontrol.io/browse page load hangs"
Page address:
https://packagecontrol.io/browse

Discussion:
https://forum.adguard.com/index.php?threads/webpage-hanging.11914/

Page is broken by AG extensions. It's enough to turn extensions module off to fix the issue.

I suggest you do some JS profiling to see who is responsible.

[2016-07-18 08:24] ameshkov commented on #1131
Huh, sorry for the delay:( Also I think we should discuss such things on forum.

Here is a thread for such feature requests:
https://forum.adguard.com/index.php?threads/new-forum-engine.9709/

I remember we were searching for such plugin when forum was using vBulletin engine (never found anything good). I hope it would be better with xenforo.

[2016-07-18 08:24] #1131 closed

[2016-07-18 10:29] ameshkov commented on #1093
@confessor-adguard please take a look at the @BooBerry comment.

[2016-07-18 10:40] vozersky commented on #1182
@Fruggy hi!
We will add Torch to the default filtered apps list, sure thing. Thanks for the tip.

The problem on your device is caused by some of your AV apps though. In your logs we can see, that Adguard's rights are limited and this is why request timeout happens.

[2016-07-18 11:45] confessor-adguard commented on #1183
I can easy reproduce this issue in 6.1.236.1160 (caused by WOT extension).
But i can't reproduce this issue in current dev build, so ... already fixed.

[2016-07-18 11:45] #1183 closed

[2016-07-18 11:45] ameshkov commented on #1181
@Alex-302 that's because of the $generichide rule which is applied INSTEAD.

[2016-07-18 11:45] #1181 closed

[2016-07-18 12:49] confessor-adguard commented on #1176
Fixed.
Also I add Avast SafeZone browser to list of filtered applications.

[2016-07-18 12:49] #1176 closed

[2016-07-18 15:01] confessor-adguard commented on #1093
I need a some time to receive latest build.

[2016-07-18 15:22] BooBerry commented on #1093
Just some additional information, the latest Insider build is more-or-less going to be the RTM build of the Windows 10 Anniversary Update. Might be an additional update or two, not sure. I'd be surprised though.

[2016-07-18 16:12] ameshkov opened #1184 "Change $empty modifier behaviour"
Based on:
https://github.com/AdguardTeam/AdguardForAndroid/issues/677

Review:
http://upsource.adguard.com/adguard-java-code/revision/9b7f305dddadc21edc49629f9f7368510541e452

[2016-07-18 17:03] ameshkov opened #1185 "Add "Versions history" link to the "About" screen"
1. For "release" versions: lead to adguard.com/versions.html
2. For "beta" versions: lead to github.

[2016-07-18 22:06] ameshkov opened #1186 "Add support for the :style pseudo class syntax"
Based on:
https://github.com/AdguardTeam/AdguardForAndroid/issues/701

Review:
http://upsource.adguard.com/adguard-java-code/review/AJC-CR-8

We should also add pseudo classes validation.

[2016-07-19 07:28] evgeniy-ADG opened #1187 "Consider adding the new Chinese filter to Adguard"
link：
https://raw.githubusercontent.com/xinggsf/Adblock-Plus-Rule/master/ABP-FX.txt

introduction：
http://bbs.kafan.cn/thread-1866845-1-1.html

It likes the Easylist China,but more streamline and useful，it can block the most of the video ads in china. It is mainly for Chinese users,the most important is that it is still updating now.

**1354139**

[2016-07-19 08:54] Alex-302 opened #1188 "mts.ru - Assistant is not working"
![d](http://imagizer.imageshack.com/img923/7539/L4twcL.png)

[2016-07-19 08:55] #1188 closed

[2016-07-19 10:23] ameshkov commented on #1187
@evgeniy-ADG next time let's create such tasks in AdguardFilters project (assign it directly to me)

[2016-07-19 10:57] Alex-302 commented on #1187
Done.
Waiting for @mmigi

[2016-07-19 11:04] worldsdream commented on #911
snsbank.nl
lloydsbank.com

[2016-07-19 11:08] evgeniy-ADG commented on #1187
ok

[2016-07-19 12:50] Alex-302 commented on #709
Is it possible now? This notification is very annoying when you exclude sites by browser extension.

[2016-07-19 14:00] vbagirov opened #1189 "Adguard Assistant compatibility issue with Norton toolbar"
With Norton toolbar enabled, Adguard Assistant is not visible on pages.

Original thread:
https://forum.adguard.com/index.php?threads/11875/

[2016-07-20 09:24] ameshkov commented on #911
@worldsdream thank you! Added to the list.

[2016-07-20 09:33] ameshkov opened #1190 "Suppressing browser cache on filters change"
Currently we suppress browser cache for ALL web requests.
Instead we should do it for HTML pages only, there's no need to suppress it for static images.

[2016-07-20 10:26] ameshkov commented on #709
@Alex-302 not yet.

The thing is that desktop apps are limited in using standard windows notifications. Basically we can use them, but we cannot make it interactive. It means that we will have to get rid of all buttons on these notifications.

[2016-07-20 10:33] ameshkov commented on #709
Hm, it seems that I may be wrong and there is a possibility to do it using some sort of a "bridge", we'll look into it.

@suhan3z let's check it after v6.1 release:
https://msdn.microsoft.com/en-us/library/windows/desktop/hh802768(v=vs.85).aspx

[2016-07-20 10:35] ameshkov commented on #709
Wow, we can even create an app tile:
https://msdn.microsoft.com/en-us/library/windows/desktop/hh802762(v=vs.85).aspx

[2016-07-20 19:22] ameshkov commented on #1061
Ok it seems that this issue is still here.

[2016-07-22 12:08] evgeniy-ADG opened #1191 "http://rsdn.org/ - assistant is being missed"
![image](https://cloud.githubusercontent.com/assets/15856304/17056723/f7b9211e-501d-11e6-9df9-d7697690c5eb.png)

<details>
![image](https://cloud.githubusercontent.com/assets/15856304/17056729/0f56d690-501e-11e6-9f1f-d50be4103dd5.png)
</details>

[2016-07-22 12:16] Alex-302 commented on #1191
It is not caused by filters. This site is built on frames, Adguard is not injects to frames.

[2016-07-23 18:41] Alex-302 opened #1192 "WinRar - ads in trial mode"
<details>

![s](http://imagizer.imageshack.com/img921/7140/a4KW53.png)
</details>
`WinRAR.exe`

[2016-07-24 11:24] a-ladanov opened #1193 "Add sbrf.ru to https exclusions"
Необходимо добавить исключение для https
sbrf.ru (Сбербанк России)
Домен используется при подтверждении оплаты услуг с банковской карты.

[2016-07-24 20:58] ameshkov commented on #1071
Duplicate for #1061

[2016-07-24 20:58] #1071 closed

[2016-07-24 21:03] ameshkov commented on #712
Ok, I suggest saving EV domains into a temporary file in NetworkTemp/SSL folder which won't be deleted along with other files from there.

[2016-07-24 21:36] ameshkov commented on #1061
Fixed

[2016-07-24 21:36] #1061 closed

[2016-07-24 21:40] ameshkov commented on #1175
Guys, this is really too much. I guess we should make this rule more specific.

[2016-07-24 21:41] ameshkov commented on #1126
Isn't it fixed in the new version?

[2016-07-24 21:42] ameshkov commented on #1045
Seems to be resolved.

[2016-07-24 21:42] #1045 closed

[2016-07-25 08:43] suhan3z commented on #1179
Fixed

[2016-07-25 08:43] #1179 closed

[2016-07-25 09:15] Alex-302 commented on #1126
It is fixed.

[2016-07-25 09:15] #1126 closed

[2016-07-25 09:37] Alex-302 commented on #1175
Tried to exclude specific URLs, but chat is still broken.

[2016-07-25 10:00] ameshkov commented on #1178
We will have to re-test it with the newest beta (should be ready today).

There's a new TDI driver that is supposed to fix this issue.

[2016-07-25 11:26] ameshkov commented on #1191
@Alex-302 it does in Win beta. Is it good there?

[2016-07-25 11:35] Alex-302 commented on #1191
@ameshkov no, assistant is absent with current Win beta

[2016-07-25 12:47] ameshkov commented on #1193
@a-ladanov добавил в список, спасибо!

@suhan3z нужно обновить встроенный список исключений в программе

[2016-07-25 13:35] ameshkov opened #1194 "Feature request: add TOR support as a Stealth Mode option"
Source discussion:
https://forum.adguard.com/index.php?threads/encrypt-our-traffic-data-like-vpn.8412/

Currently the easiest way to use TOR is to use TOR browser. Implementing this feature inside AG will allow use TOR for any browser or app.

Important:
https://www.torproject.org/docs/trademark-faq.html.en#commercial

[2016-07-25 13:36] ameshkov commented on #1194
Assigning to v6.2 (we'll think about it when v6.1 is out).

[2016-07-25 13:44] ameshkov commented on #1175
I just don't like the idea of fully excluding facebook.

@suhan3z let's add some workaround in the stealth mode code, just for facebook.

[2016-07-25 13:52] ameshkov commented on #1191
@Alex-302 assistant won't work inside frame. But ads should be blocked.

[2016-07-25 14:26] suhan3z commented on #994
Fixed

[2016-07-25 14:26] #994 closed

[2016-07-25 14:28] suhan3z commented on #1193
Added

[2016-07-25 14:33] ameshkov commented on #1193
Обнови, а не добавь один домен.

[2016-07-25 14:53] Alex-302 commented on #1191
Done.

[2016-07-26 12:16] suhan3z commented on #1175
Fixed

[2016-07-26 12:16] #1175 closed

[2016-07-26 13:25] vbagirov opened #1195 "Compatibility with UWP apps using SSL pinning"
Enabling https blocking and UWP filtering breaks the Messenger App (https://www.microsoft.com/en-us/store/p/messenger/9wzdncrf0083)

Facebook UWP app is affected too.

Original thread:
https://forum.adguard.com/index.php?threads/12118

[2016-07-26 13:36] ameshkov opened #1196 "The filtering log and filter editor windows don't remember size and location anymore after closing Adguard completely"
Source:
https://forum.adguard.com/index.php?threads/adguard-for-windows-v6-1-242-1198-beta.11383/page-3#post-92620

[2016-07-26 13:39] suhan3z commented on #1193
Fixed

[2016-07-26 13:39] #1193 closed

[2016-07-27 08:40] #1172 closed

[2016-07-27 11:41] ameshkov opened #1197 "Change default stealth mode settings"
By default the following options should be enabled:
1. Hide search queries
2. Send Do-Not-Track
3. Remove X-Client-Data
4. Self-destructing third-party cookies
5. Block location API

[2016-07-27 11:44] ameshkov commented on #1134
I guess we can close this issue?

[2016-07-27 11:55] ameshkov opened #1198 "Allow to disable HTTPS filtering on per-app basis"
For now we should add it to advanced settings.

[2016-07-27 11:57] ameshkov opened #1199 "Settings upgrade has failed while updating application 6.1.242.1198=>6.1.245.1212"

[2016-07-27 12:02] ameshkov opened #1200 "Improve https://adguard.com/userscripts.html page, add more examples there"
We should list threre the most popular userscripts and allow user to fast install it.

[2016-07-27 12:13] ameshkov commented on #1099
@confessor-adguard please note that in IE10 the limits situation has changed.

**The limits were increased in IE 10 to the following:**

A sheet may contain up to 65534 rules
A document may use up to 4095 stylesheets
@import nesting is limited to 4095 levels (due to the 4095 stylesheet limit)

We should take this into account.

[2016-07-27 12:20] #1024 closed

[2016-07-27 12:24] suhan3z commented on #1197
Fixed

[2016-07-27 12:24] #1197 closed

[2016-07-27 12:32] suhan3z commented on #1184
Fixed

[2016-07-27 12:32] #1184 closed

[2016-07-27 13:36] BooBerry commented on #1093
Another instance where TCP Fast Open in Edge is causing a BSOD:

https://forum.adguard.com/index.php?threads/driver_irql_not_less_or_equal-bluescreen-error.12175/#post-92794

[2016-07-27 13:39] Alex-302 opened #1201 "Assistant is absent on 3dnews.ru (IE11)"
https://forum.adguard.com/index.php?threads/http-www-3dnews-ru.12110/#post-92723

[2016-07-27 15:25] #1199 closed

[2016-07-27 15:39] ameshkov opened #1202 "Adguard offers a userscript installation when greasemonkey/tampermonkey checks for it's update"
I doubt it will be easy to fix, but anyway we should check if it is possible.

Also there should be an "Ignore this extension" button.

Ignored userscripts list should be cleared when user turns "detect userscripts" option off and on again.

[2016-07-27 16:31] #1134 closed

[2016-07-27 22:36] e13bb4dac2 commented on #1042
Hi,

I just updated to 6.1.249.1233 from the previous beta and it seems like the issue is back with my Asus RT-AC3200 router.

Just before the install, I was configuring my NAS settings in the router GUI with no issues. Immediately after the update, continuing the NAS setup, router browsing is well..like it's covered with hot glue. More or less exactly like when this happened some time back in apr

[2016-07-27 22:38] BooBerry commented on #1042
Confirmed, it's back here too.

[2016-07-27 22:39] e13bb4dac2 commented on #1042
BB, thanks for confirmation. In case it speeds up things, I just sent a in app bug report pointing to this thread

[2016-07-28 11:20] ameshkov commented on #1042
@BooBerry @e13bb4dac2
Could you please send "debug"-level logs?

[2016-07-28 13:15] ameshkov commented on #1042
@BooBerry @e13bb4dac2
Please check this build:
https://cdn.adguard.com/public/Adguard/github/AdguardForWindows/issue1042/Setup3.exe

**You will need to reinstall AG as its version is the same as in the latest beta**

[2016-07-28 13:24] BooBerry commented on #1042
Yep, fixed now. :)

[2016-07-28 13:35] e13bb4dac2 commented on #1042
Could you please send "debug"-level logs?

It's probably sorted now but if you still want my log I can do it when i get home later today. In any case, I'll try out the new version and report in a few hours

[2016-07-28 13:37] BooBerry commented on #1042
What was the underlying issue that brought this one back?

[2016-07-28 13:44] suhan3z commented on #1186
Added

[2016-07-28 13:44] #1186 closed

[2016-07-28 13:44] suhan3z commented on #1190
Done

[2016-07-28 13:44] #1190 closed

[2016-07-28 14:18] ameshkov commented on #1042
I just forgot about that issue with routers and returned the old part of the code:)

When we finish processing connection, we send a "closing" packet to the server and finish processing this connection. Server responds with an own "closing" packet and after that browser understands that connection is closed.

However, this router has weird TCP stack implementation and it simply ignored "closing" p

[2016-07-28 16:50] confessor-adguard commented on #1202
We can detect Tampermonkey/Greasemonkey requests using "Accept" request header.
In case of update it contains: "text/x-userscript-meta".
In case of install in Tampermonkey it contains: "text/x-userscript".

[2016-07-28 16:50] #1202 closed

[2016-07-28 17:02] confessor-adguard commented on #1196
@BooBerry could you please provide a logs?
I can't reproduce this issue.

[2016-07-29 07:46] Alexey71 opened #1203 "Bug with YouTube"
Привет, такая иногда вылазиет, не успевает что ли. Версия 6.1.249.1233

![2016-07-29_103151](https://cloud.githubusercontent.com/assets/10572914/17241313/93b5c7ce-5579-11e6-96d7-3d34e14e7710.jpg)
![2016-07-29_103154](https://cloud.githubusercontent.com/assets/10572914/17241314/93b63eca-5579-11e6-9b2b-d2ec8cac9b8b.jpg)
![2016-07-29_103203](https://cloud.githubusercontent.com/assets/10572914/1724131

[2016-07-29 08:27] ameshkov commented on #1203
@Alexey71 по ходу нам нужен отладочный лог, чтобы понять в чем там проблема.

[2016-07-29 08:29] Alexey71 commented on #1203
Как его достать?, Полное логирование ставить?

[2016-07-29 08:46] ameshkov opened #1204 "NullReferenceException inside LicenseStatus property"
[code]

[2016-07-29 09:22] confessor-adguard commented on #1204
It is difficult to reproduce and check, but i think - fixed.

[2016-07-29 09:22] #1204 closed

[2016-07-29 10:47] #1185 closed

[2016-07-29 10:51] confessor-adguard commented on #1053
Now we show reboot dialog.

[2016-07-29 10:51] #1053 closed

[2016-07-29 11:06] BooBerry commented on #1196
It's an issue after installing the latest Windows 10 Insider build aka the Windows 10 Anniversary Update RTM.

It should be more noticeable after August 2nd.

[2016-07-29 11:12] vbagirov opened #1205 "Excessive dialog window pops up when you select 'Debug' logging level"
It happens even if you already have 'debug' logging level selected.

[2016-07-29 11:41] confessor-adguard commented on #1154
Error:

But the operation system is Windows 10.

@vozersky any news from tickets?

[2016-07-29 12:16] #1195 closed

[2016-07-29 12:21] confessor-adguard commented on #1195
Facebook and Facebook Messenger UWP APPs temporary excluded from filtering.

[2016-07-29 12:22] vozersky commented on #1154
@confessor-adguard I'm afraid, no. No reply so far. I'll ask again.

[2016-07-29 12:24] vozersky commented on #1178
Asked user to test the latest beta.

[2016-07-29 13:24] mmigi commented on #1187
Filter is added.

[2016-07-29 13:38] suhan3z commented on #779
Added

[2016-07-29 13:38] #779 closed

[2016-07-29 14:20] #646 closed

[2016-07-29 16:33] #1115 closed

[2016-07-29 17:29] e13bb4dac2 commented on #986
I agree on this request - at least for 'blocked threats'. I have been running adguard for almost exactly 6 months now and I'm very happy with it. However last I checked (a month or two ago) I had 5 threats blocked and I was very curious as what they might have been.
Today I have 7 blocked threats and still no clue as to what they are/were, if it's a 'real' threat or just some random package sent m

[2016-07-31 07:41] ng4ever opened #1206 "We can't process webDAV properly"
nPlayer is a iOS app that allows you to remotely transfer files over your wifi network. There a free version to test! I tried going to the remote transfer files page on nPlayer but it only works sometimes and when it does it gives server not connected errors a lot. This is with Adguard installed.

I ran a VM fresh install of Windows 10 with no applications installed and was able to get to the remo

[2016-07-31 07:42] ng4ever commented on #1206
Sorry my post is a little confusing I use nPlayer on my iPad and iPhone but remotely transfer files over your wifi network from my Windows 10 PC to my iPhone and iPad when you enable Wifi Transfer within nPlayer.

https://itunes.apple.com/us/app/nplayer-free-best-media-player/id1078835991?mt=8

There the free version

[2016-07-31 07:48] ng4ever commented on #1206
Also this is the remote page on windows computer I am talking about: http://192.168.1.157:8000

It could be a different ip on your computer or mac.

[2016-07-31 09:39] ANTONBORODA opened #1207 "Major compatability issue Adguard with Mudfish"
Hello.
This is a very frustrating compatibility issue that took me quite a while to find out.
If you have latest adguard beta installed (6.1.249.1233) mudfish VPN dashboard will not load and will result in "connection reset" when accessing. Reverting back to stable version of adguard resolves this.

Please fix. Thanks.

[2016-07-31 15:20] Vincent-Michael opened #1208 "[Bug][Beta] www.prad.de - page loading indefinitely"
![](http://i.imgur.com/BiBbUNZ.png)

http://www.prad.de

A time later:
![](http://i.imgur.com/oFHQMfD.png)

**Adguard version**: 6.1.249.1233
**Operating system**: Windows 10
**Browser**: Chrome

[2016-08-01 08:26] suhan3z commented on #1205
Fixed

[2016-08-01 08:26] #1205 closed

[2016-08-01 09:54] suhan3z commented on #1201
Он в режиме совместимости по спискам работает, мы в нём не работаем

[2016-08-01 09:54] #1201 closed

[2016-08-01 10:17] ameshkov commented on #1196
@BooBerry I am on insider preview and I cannot confirm this issue.

[2016-08-01 10:24] ameshkov commented on #1206
@gshumihin please test it on our side

[2016-08-01 10:26] ameshkov commented on #1207
Thanks for reporting it! Could you please re-test it with todays beta? Should be available in the end of the day.

[2016-08-01 10:28] ng4ever commented on #1206
Thanks btw it mostly happens the second time trying to go to http://192.168.1.157:8000

[2016-08-01 10:28] ameshkov commented on #1208
@confessor-adguard the issue is easily reproducible with the current beta version.

However, all is good with the Mac and Android version, weird.

[2016-08-01 11:22] gshumihin commented on #1206
Wasn't able to reproduce this issue.

[2016-08-01 11:24] ng4ever commented on #1206
Thanks for trying. I will try redoing my whole system again to see if I can figure out what the issue is.

[2016-08-01 11:26] gshumihin commented on #1206
I've logged into my notebook as admin. Maybe thats why all worked well. Dunno.

[2016-08-01 11:28] confessor-adguard commented on #1099
Partially fixed.
Moved to the next milestone.

[2016-08-01 11:29] ng4ever commented on #1206
Maybe.

I just disabled user filters from Adguard and it now works fine! I think it is my fault but not 100% sure on that yet. Now to find out which user filter.

[2016-08-01 11:29] ameshkov commented on #1206
The huge difference is that @gshumihin was trying to reproduce it with AG v6.1 beta.

@ng4ever do you use stable or beta version?

[2016-08-01 11:29] ng4ever commented on #1206
Stable.

[2016-08-01 11:29] ameshkov commented on #1206
Could you please try the beta version? Just check the "Beta update channel" in AG settings to get the update.

[2016-08-01 11:30] ng4ever commented on #1206
Ok. One second.

[2016-08-01 11:36] ng4ever commented on #1206
Ok it seems to work now!

What is the difference between the beta and stable release ?

[2016-08-01 11:36] ng4ever commented on #1206
Scratch that it is giving me can not connect to server errors. :(

[2016-08-01 11:38] ameshkov commented on #1206
Changelog is huge, scroll down this page:)
https://github.com/AdguardTeam/AdguardForWindows/releases

What exactly are those errors?

[2016-08-01 11:40] ng4ever commented on #1206
"Can't connect to server" when trying to click on a folder I created to add more videos in a subfolder.

Once I close out Ad Guard error goes away.

Will test to see if I disable user filter and EasyList Italy to see if it works again as well.

[2016-08-01 11:41] ameshkov commented on #1206
@gshumihin

Check this please

[2016-08-01 11:42] BooBerry commented on #1196
I got it to work finally by doing a clean reinstall.

[2016-08-01 11:45] ameshkov commented on #1206
@ng4ever simply turn ad blocker module off to see if it has anything to do with the filters.

[2016-08-01 11:46] ng4ever commented on #1206
Now I am getting this when visiting the nPlayer Wifi Transfer page :(
[http://i.imgur.com/MEFlF4a.jpg](url)

Sorry for the image.

[2016-08-01 11:46] ng4ever commented on #1206
ok will turn off ad blocker module off to see.

[2016-08-01 11:47] ng4ever commented on #1206
Sorry image link was posted wrong. http://i.imgur.com/MEFlF4a.jpg

[2016-08-01 11:57] gshumihin commented on #1206
So you are connecting to your phone from computer or what?
Can you describe the steps needed to reproduce this bug?

[2016-08-01 12:00] ng4ever commented on #1206
Sure. I install nPlayer iOS app onto my iPad and iPhone.

Then i open nPlayer the iOS app on my iPad or iPhone enable Wifi Transfer.

Then I go to the address it reports on my pc so I can transfer files wirelessly from my pc to my iPad or iPhone. This is when the page cannot be displayed in firefox happens. That or when tryin to add files it says server cannot connect.

If that is not good I will

[2016-08-01 12:27] ameshkov commented on #1206
Could you please try adding this rule to the user filter:
`@@||192.168.1.$document`

[2016-08-01 12:28] suhan3z commented on #1076
Done

[2016-08-01 12:28] ng4ever commented on #1206
Sure testing now.

[2016-08-01 12:29] ng4ever commented on #1206
No change.

[2016-08-01 12:32] suhan3z commented on #712
Done

[2016-08-01 12:32] #712 closed

[2016-08-01 12:32] ameshkov commented on #1206
@gshumihin was finally able to reproduce it

[2016-08-01 12:33] ameshkov commented on #1206
@suhan3z seems that we are breaking the page code.

[2016-08-01 12:34] ng4ever commented on #1206
Ok I thought I was going crazy but it is good that you were able to reproduce it!

[2016-08-01 12:37] gshumihin commented on #1206
BTW if you are connecting from phone (tablet) to your pc, everything works just fine.

[2016-08-01 14:40] #793 closed

[2016-08-01 15:28] confessor-adguard commented on #1208
I can realy easy reproduce it on 6.1.249 but i can't on new beta, so looks like fixed.

[2016-08-01 15:28] #1208 closed

[2016-08-01 15:29] confessor-adguard commented on #1148
Logs do not bring clarity.

[2016-08-01 15:29] #1148 closed

[2016-08-01 16:47] suhan3z commented on #1206
Fixed

[2016-08-01 16:47] #1206 closed

[2016-08-01 17:47] Vincent-Michael commented on #1208
@confessor-adguard @ameshkov

I have still problems with this page (this load really slow with enable adguard)

without adguard:
![](http://i.imgur.com/9Pt5Grb.png)

with adguard:
![](http://i.imgur.com/NUWuAD7.png)

[2016-08-01 18:23] ameshkov commented on #1208
Now it looks more like a filtering issue as it is slow with both AG for Windows and with browser extension.

[2016-08-01 18:25] ameshkov commented on #1208
Or not, the site is weird, it is always very slow on first refresh.

[2016-08-01 21:42] a-ladanov commented on #1185
Сделали, молодцы.
Я такую же задачу создал еще в апреле, закройте ее тоже что ли :)
https://github.com/AdguardTeam/AdguardForWindows/issues/1028

[2016-08-01 21:55] #1028 closed

[2016-08-01 21:55] ameshkov commented on #1185
@a-ladanov во, ее то я и не нашел:)

[2016-08-02 10:00] suhan3z commented on #1166
Fixed

[2016-08-02 10:06] confessor-adguard commented on #1154
Moved to next milestone.

[2016-08-02 10:08] confessor-adguard commented on #1196
I leave this issue open for some time.
But still can't reproduce.

[2016-08-02 10:26] confessor-adguard commented on #1173
Problem solved in Opera 39.

[2016-08-02 10:26] #1173 closed

[2016-08-02 12:57] suhan3z commented on #424
Fixed

[2016-08-02 12:57] #424 closed

[2016-08-02 17:49] vgavrish opened #1209 "Dr.Web Security Space false positive"
id 1369669
Dr.Web Security Space (11.0)
Базы обновлены 02.08
Проблема возникает при входе в IE

![screenshot_50](https://cloud.githubusercontent.com/assets/18548949/17338987/7258add6-58f2-11e6-9e8f-b395d9c2f1d5.jpg)
![screenshot_2](https://cloud.githubusercontent.com/assets/18548949/17338999/7d788ec0-58f2-11e6-91e5-aeea196a70f4.jpg)

[2016-08-02 20:19] ameshkov opened #1210 "NotifyIcon.ShowContextMenu crash"
[code]

[2016-08-03 06:30] evgeniy-ADG opened #1211 "AVG LinkScanner interferes with Adguard"
![image](https://cloud.githubusercontent.com/assets/15856304/17355926/ccc4cd12-595c-11e6-8d1c-4db19c38d67d.png)

Disabling the LinkScanner Surf-Shield and the Online Shield sections of the AVG program corrected the issue.  Disabling WFP is not an option, the customer uses EDGE.

**1367011**

[2016-08-03 08:07] ameshkov opened #1212 "Move "Stealth mode" scripts to a file instead of using an inline script"

[2016-08-03 12:53] suhan3z commented on #1210
Possible bug in .net framework 4. We can't handle it on this level of execution.

[2016-08-03 12:53] #1210 closed

[2016-08-03 19:05] vozersky commented on #1076
Updates from our translator:
"After i saw today the he translation in the 6.1 Rc i saw a lot of it was in reverse so i fixed everything! Hope you put the new translation in the final version 6.1
Best regards Yaron.S"

[2016-08-04 00:05] Mottie commented on #800
Hi @ameshkov!

Is there a list of [GM commands](https://wiki.greasespot.net/Greasemonkey_Manual:API) that are supported by AG? Also, is there a way for userscript developers to check if their userscript works in AG?

[2016-08-04 06:29] Bluscream opened #1213 "AdGuard multiple times in Windows Settings"
![image](https://cloud.githubusercontent.com/assets/3318223/17392404/7900609e-5a1d-11e6-8d0a-01284b7588c1.png)

Microsoft Windows [Version 10.0.14393]
AdGuard 6.1.251.1269 for Windows.

[2016-08-04 08:53] ameshkov commented on #1213
@confessor-adguard any idea what are these?

[2016-08-04 08:55] ameshkov opened #1214 "Make "Search filter" textbox width fixed"
Otherwise we can get something like that:
![image](https://cloud.githubusercontent.com/assets/5947035/17396060/209337f2-5a3a-11e6-9815-107c5e2826a8.png)

[2016-08-04 11:48] suhan3z commented on #1076
Done

[2016-08-04 11:48] #1076 closed

[2016-08-04 15:18] vbagirov opened #1215 "Adguard + OneDrive compatibility"
Test Adguard along with OneDrive. How to reproduce:

Windows 10 (14393.5) & FF.
Log in to OneDrive (NOT business client). Wait for ~20 mins with Adguard (beta version) active, see if there is any performance drop.

Original thread:
https://forum.adguard.com/index.php?threads/12211

[2016-08-05 03:33] Bluscream opened #1216 "Make long lists search/filterable"
For example the userscripts list / filter list / filtered apps list.

It's a lot scrolling work if you have many userscripts for example :O

[2016-08-06 05:56] vgavrish commented on #1042
the same problem with Dlink switches:
des-3200-10
des-3200-18
des-3200-28
dgs-3000-10tc
dgs-3120-24tc(sc)
Disabling WFP helps
6.1.251.1269

id 1373720

[2016-08-08 08:30] Eugene-Savenko opened #1217 "Add a menu item to toggle Adguard DNS"
Could you add a menu item to quickly toggle Adguard DNS on/off from
Adguard tray menu. I.e. save current DNS servers, toggle to Adguard
DNS and when toggling back, restore the old DNS entries.

**1060180**

[2016-08-08 09:36] ameshkov commented on #1093
[Answer from MS](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/36276d8e-305e-4904-b021-f8d7623b72ee/wfp-stream-callout-is-not-getting-called-for-the-very-first-packet-with-data-since-insider-preview?forum=wfp)

So I guess that BSOD is caused by that fix:) We'll look into it.

[2016-08-08 09:43] ANTONBORODA commented on #1207
This looks fixed now with 6.1 release version.

[2016-08-08 09:43] #1207 closed

[2016-08-08 10:11] vozersky commented on #1093
Same problem here:
id 1325700
Samsung smart pc 500
**Win10 1607**

latest dump:
https://gist.github.com/vozersky/c4747f54741f541b0927fdf5289a8005

[2016-08-08 10:18] ameshkov opened #1218 "Adguard should be friendly to userscripts developers"
Thanks @Mottie for asking the original question:

First of all, userscripts support was greatly improved in the latest AG version (v6.1) which is currently in the release candidate stage. So it's better to use it for testing purposes.
## Userscripts authors

Any userscript author may request an Adguard license key for testing purposes.

To get it, please send an email to devteam at adguard.com wit

[2016-08-08 10:18] ameshkov commented on #800
Hi @Mottie!

Let's move this discussion to a separate topic, I'll try to give you a detailed answer there:
https://github.com/AdguardTeam/AdguardForWindows/issues/1218

[2016-08-08 10:47] ameshkov commented on #1218
Self-note: add this information to the https://adguard.com/userscripts.html page.

[2016-08-08 11:48] ameshkov opened #1219 "D-Link router page compatibility issue with WFP driver"
des-3200-10
des-3200-18
des-3200-28
dgs-3000-10tc
dgs-3120-24tc(sc)
Disabling WFP helps
6.1.251.1269

id 1373720

[2016-08-08 11:48] ameshkov commented on #1042
@vgavrish I think we should open a separate issue for these D-Link issues:
https://github.com/AdguardTeam/AdguardForWindows/issues/1219

[2016-08-08 11:48] #1042 closed

[2016-08-08 11:56] vbagirov commented on #1209
@vgavrish by the way, what was Adguard version you encountered this issue with?

[2016-08-08 12:01] ameshkov commented on #1217
We'll consider doing it after DNS is out of beta.

[2016-08-08 12:02] ameshkov commented on #1093
@vozersky please PM me the link to the full dump.

[2016-08-08 13:52] vbagirov opened #1220 "AdGuard GUI won't start with Windows 10 Anniversary Update"
Several users were able to reproduce this, both in beta and stable:
https://forum.adguard.com/index.php?threads/12441/

This is accompanied by high CPU usage. Logs can be found inside the thread as well.

[2016-08-08 14:10] confessor-adguard commented on #1213
@Bluscream could you please provide us screenshot from desktop "apps and features" window (appwiz.cpl in Win+R)? If there's also a multiple Adguard records, could you please provide us Adguard installer logs from %tmp% or %windir%\temp directories.  You can send them to us by any way convenient for you.

[2016-08-08 14:10] #1198 closed

[2016-08-08 14:17] ameshkov commented on #1198
How does it look like?:)

[2016-08-08 15:02] Bluscream commented on #1213
![image](https://cloud.githubusercontent.com/assets/3318223/17484377/c7b708cc-5d89-11e6-974c-c37958375bf5.png)

%tmp% dir gets cleared on every restart.

[2016-08-08 15:02] Bluscream commented on #1213
should it be there?
![image](https://cloud.githubusercontent.com/assets/3318223/17484402/ed8ca57a-5d89-11e6-9367-c5f9517d36ef.png)

[2016-08-08 15:29] gshumihin commented on #1211
Tested latest Adguard (6.1.251.1269) and AVG Internet security with EDGE and had'n seen something weird at all. AVG version: 16.101.7752.
LinkScanner and Online Shield were enabled.
Also i've seen few errors like that in user's system log: <img src="http://content.screencast.com/users/shumegor/folders/Jing/media/9591fc4a-7d37-4dbc-a48d-69fb15e302c0/00001302.png" width='350'>
I'd reccomend him to r

[2016-08-08 15:39] vozersky commented on #1211
forwarded

[2016-08-09 05:44] Eugene-Savenko opened #1221 "[Feature requests] MAC address spoofing in stealth mode"
I've been enjoying stealth mode's various features to prevent tracking, and at the same time using a following software to spoof MAC address : https://technitium.com/tmac/
I am wondering if this feature can be integrated to Adguard. MAC address can be used by ISP for tracking purposes, so it would meat the concept of stealth mode.

**1101991**

[2016-08-09 08:37] ameshkov commented on #1221
Huh, nice idea, we'll look into it.

[2016-08-09 11:40] gshumihin commented on #1156
Wasn't able to reproduce it. Here's some specs:
-Windows insider preview (14393.10)
-Adguard (6.1.251.1269)
<img src="http://content.screencast.com/users/shumegor/folders/Jing/media/1c08f4b3-4c14-458f-8070-255764d5b0bf/00001303.png" width="300">

[2016-08-09 15:12] Alex-302 opened #1222 "Invalid HTML issues"
**EDIT** We will keep this issue open. Please add comments here for new issues.

drive.ru
http://www.bosscast.net/tsn.php (https://forum.adguard.com/index.php?threads/http-www-bosscast-net.11861/)

[2016-08-09 21:42] vozersky commented on #1156
I will ask the user about 14393.10 build situation

[2016-08-10 09:47] ameshkov opened #1223 "Adguard repeatedly offers to install a userscript"
https://forum.adguard.com/index.php?threads/adguard-for-windows-6-1-why-does-adguard-try-to-install-my-user-scripts-multiple-times-into-itself.12418/

[2016-08-10 13:14] vbagirov opened #1224 ""Right Click Block" userscript works incorrectly"
When added via Adguard, [this userscript](https://greasyfork.org/en/scripts/6838-right-click-block-and-select-block-blocker) is working not as intended in Firefox.

When you click anywhere on a page, the whole page is selected.

Original thread:
https://forum.adguard.com/index.php?threads/12510/

[2016-08-10 13:39] ameshkov opened #1225 "Add support for extended selectors"
Syntax is described here:
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/321
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/322

In the end all these extended selectors will be converted into special JS (reusing the library developed in https://github.com/AdguardTeam/AdguardBrowserExtension/issues/321).

[2016-08-10 14:32] #1203 closed

[2016-08-10 14:46] ameshkov opened #1226 "Add "Spoof Mac address" option to "Stealth Mode""
This option should be marked as dangerous. Some ISPs do not allow access for devices with unknown MAC addresses.

Source:
https://forum.adguard.com/index.php?threads/mac-address-spoofing-in-stealth-mode.12492/

[2016-08-11 08:35] ameshkov commented on #1223
Affected userscripts:
Anti-adblock killer
https://github.com/t-fr/userscripts/tree/master/Der%20Leistungsschutzrecht-Warner

[2016-08-12 09:10] evgeniy-ADG commented on #1226
https://github.com/AdguardTeam/AdguardForWindows/issues/1221

[2016-08-12 10:09] vbagirov commented on #1223
Also @randomusername from forum mentioned this userscript:
https://github.com/t-fr/userscripts/tree/master/Der%20Leistungsschutzrecht-Warner

[2016-08-12 13:20] suhan3z opened #1227 "Make missing ad reports great again"
### Message structure
#### `productName`: `String` (optional)

Describes Adguard product
Can be one of the following `Windows`, `Android`, `Extension`, `iOS`, `macOS`
#### `email`: `String` (optional)

User email
#### `pageUrl`: `String`

Page url where complaint take place
#### `referrerUrl`: `String` (optional)

Referrer
#### `userAgent`: `String` (optional)

User agent
#### `productVersion`: `S

[2016-08-12 14:34] confessor-adguard commented on #1220
@vbagirov is there any news?

[2016-08-12 14:34] confessor-adguard commented on #1220
@vbagirov is there any news?

[2016-08-12 14:36] ameshkov commented on #1226
Ops, my bad, closing as a duplicate

[2016-08-12 14:36] #1226 closed

[2016-08-12 15:16] The-Commissioner opened #1228 "*"

[2016-08-12 15:17] confessor-adguard commented on #1224
Thus -moz-user-select is works.
You can recheck this in greasemonkey.

[2016-08-12 15:17] #1224 closed

[2016-08-12 15:19] ameshkov commented on #1228
This is expected behaviour. The thing is that in Proxy mode we can't be sure that the client connecting to the proxy has AG certificate installed.

[2016-08-12 15:21] ameshkov commented on #1228
However, you can get HTTPS-filtered proxy with AG.

Here is a short instruction:
1. Install some simple HTTP proxy (for instance CCProxy is good enough).
2. Switch AG to the default filtering mode.
3. Go to "Settings" - "Filtered Apps" and add "CCProxy" to the list there.

[2016-08-12 15:25] The-Commissioner commented on #1228
@avatar thanx for the reply.
That's not how I would like it though(through CCproxy). Is there no way to use the inbuilt proxy mode to achieve this?

[2016-08-12 15:29] ameshkov commented on #1228
Not in the current state. It could be filed as a feature request though.

Btw, why not the external-proxy way?

[2016-08-12 15:32] The-Commissioner commented on #1228
Just like that....I don't want to use another program, I would have already used it this way if I wanted.
If it is possible, maybe yeah you can add it as a feature request.
You think it would be a good idea to use the desktop version for http traffic and adguard extension for https traffic filtering?

[2016-08-12 15:48] ameshkov commented on #1228
Why, you will get an ad filtering proxy. This is a huge difference:)

Usually people choose to use proxy mode in AG in order to protect other devices in the home network. For instance, you could set up your phone/tablet to use that proxy.

Yep that's possible, ad servers will be blocked by the desktop version and cosmetic filters will be applied by extension.

[2016-08-12 15:57] The-Commissioner commented on #1228
Thanks again

I think you got me wrong, why will the adguard desktop version filter ad servers on https site in the above scenario?

[2016-08-12 16:08] ameshkov commented on #1228
In theory it could have blocked ad servers as there is no need in SSL/TLS decryption in this case.  However, I've just checked AG code and it does not do it. We'll change this as well.

[2016-08-12 16:15] The-Commissioner commented on #1228
Maybe create a task or you'll forget :p

I asked about that setup because even in automatic filtering mode, if I chose the desktop version for http filtering and extension for https filtering, there would be missed ad or tracker blocking, as I have tried in the past.
For e.g. if on a http site, there is a loading of an a from an https site, the desktop version would fail to block it and the extens

[2016-08-12 17:00] vozersky opened #1229 "Multiple instances of Adguard.Tools.exe and heavy cpu load"
id 1391024

A LOT of Adguard.Tools.exe run in cycle.

x64 system/x86 process detection issue

[2016-08-14 15:25] Vincent-Michael opened #1230 "[Feature request] Added Steam (steamwebhelper.exe) to the filtered apps list"
![](http://i.imgur.com/f7wELMB.jpg)

[2016-08-15 09:01] ameshkov commented on #941
To make it simple let's make just a simple combobox:
1 hour
3 hours
6 hours
12 hours (default)

[2016-08-15 09:14] evgeniy-ADG commented on #1211
installed your latest beta program but it didn’t change anything. The problem persists.

The AVG programs that are installed follow:

1) AVG Internet Security version: 14.0.4800
2) AVG PCTuneUp version: 16.42.2.18804
3) AVG FrameWork version: 1.112.28116
4) AVG Setup version: 1.112.2.28116

[2016-08-15 09:27] vbagirov opened #1231 "Grammarly plugin compatibility issue"
Grammarly is a Chrome plugin-based online spell checker. With Adguard enabled, it shows an error: https://forum.adguard.com/index.php?attachments/tr1-jpg.4871/
When you clikc on the error message and run a test, this is shown: https://forum.adguard.com/index.php?attachments/tr2-jpg.4872/

Disabling ADblocker or StealthMode modules doesn't help; removing Chrome from filtering does.

Original thread

[2016-08-15 11:30] Alex-302 opened #1232 "online-freebee.net - assistant is not working"
https://forum.adguard.com/index.php?threads/online-freebee-net.12735/

[2016-08-15 12:48] ameshkov opened #1233 "Make Adguard block ad servers even if HTTPS filtering is turned off"
Source:
https://github.com/AdguardTeam/AdguardForWindows/issues/1228

We should do it for both proxy mode and standard filtering mode. Just examine the SNI extension.

[2016-08-15 12:48] ameshkov commented on #1228
Yep, this is a problem indeed. Also I don't really know how to resolve it properly.

[2016-08-15 12:51] ameshkov commented on #1228
Let's return to our first question about improving proxy mode.

What I want to do is to bundle a lightweight proxy executable with Adguard and in proxy mode do the same thing as I advised you with CCProxy. So you'll get a proxy with https filtering inside.

[2016-08-15 13:27] ameshkov commented on #1230
Are you sure there is no incompatibility with it?

[2016-08-15 13:50] The-Commissioner commented on #1228
I have full confidence in your ability. :+1:

If this is possible it would be a great thing. But there is another issue attached with this I think it 'll increase the setup size further, ryt? It's already more than double the setup size of v5. I know features have been added but I think the size is because now you guys bundle all the filter lists also,ryt? That's why from 12mb something, the size

[2016-08-15 14:38] Alex-302 opened #1234 "Unicode symbols are broken in javascript rules"
Example rule:
[code]

[2016-08-15 14:45] vbagirov commented on #1209
Кстати, отправил запрос им.

[2016-08-15 14:54] vgavrish commented on #1209
проблема была на версии 6.1.249.1233

[2016-08-15 15:06] Vincent-Michael commented on #1230
@ameshkov
manual inserted:
![](http://i.imgur.com/A71yMoi.jpg)

look is like base chromium:
![](http://i.imgur.com/iTk29hi.png)

[2016-08-15 15:54] vbagirov opened #1235 "sympatia.pl compatibility issue"
One of the buttons is irresponsive if you log in. See the screenshot:
https://forum.adguard.com/index.php?attachments/bez%C2%A0tytu%C5%82u-jpg.4703/

Disabling all filters doesn't help, only disabling the protection. Disabling Stealth Mode doesn;t help also.

Happens in v6.1.249.1233 beta,  6.0.226.1180 doesn't have this issue.

Any logs required?

[2016-08-15 16:41] #1235 closed

[2016-08-15 16:41] vbagirov commented on #1235
Was fixed already in v6.1.251.1269

[2016-08-15 18:07] Alex-302 opened #1236 "[Feature request] Add AceStream Engine to the filtered apps list"
C:\Users\[username]\AppData\Roaming\ACEStream\engine\ace_engine.exe
Adguard can block video ads here
[code]

[2016-08-16 09:59] Alex-302 opened #1237 "[Filtering log] HTTPS requests are displayed as HTTP"
For example:
https://www.google.com.ua/logos/doodles/2016/2016-doodle-fruit-games-day-12-5125886484414464-hp.gif
<details>
![image](http://i.imgur.com/b7zwF8Q.png)
</details>

[2016-08-16 14:24] Alexey71 opened #1238 "PAC proxy + Adguard android"
Суть такова. В настройках WIFI прописан автопрокси - https://antizapret.prostovpn.org/proxy.pac для обхода блокировок сайтов. Реклама на примере rutracker.org проскакивает.

![screenshot_20160816-172916](https://cloud.githubusercontent.com/assets/10572914/17702545/0b2461d8-63d7-11e6-9613-5650b59b7530.png)
![screenshot_20160816-172329](https://cloud.githubusercontent.com/assets/10572914/17702370/48

[2016-08-16 16:32] #1234 closed

[2016-08-17 11:30] vbagirov commented on #1220
Not actual anymore. For deatils, see the forum thread.

[2016-08-17 11:30] #1220 closed

[2016-08-17 16:46] #1229 closed

[2016-08-17 16:48] #1196 closed

[2016-08-18 12:50] vozersky commented on #82
Here we have a suggestion to use [WindowsSpyBlocker](https://github.com/crazy-max/WindowsSpyBlocker):

https://twitter.com/l0rdraiden/status/766035245774823425

[2016-08-18 12:58] #1231 closed

[2016-08-18 14:07] vbagirov opened #1239 "User filter update incorrect info"
If you have user filter imported from a text file, every time you check for updates, it always shows these self installed user files as being v1.0.0.0 (see the screenshot: http://c35i.imgup.net/screenshot6efa.png).

That doesn't make sense.

Original thread:
https://forum.adguard.com/index.php?threads/12859/

[2016-08-18 14:57] vbagirov commented on #82
More suggestions from user on forum:
https://forum.adguard.com/index.php?threads/12907/

[2016-08-18 15:03] vbagirov commented on #1239
Same for filters added by URL.

[2016-08-18 17:09] vgavrish opened #1240 "No Adguard Assistant on sites"
**Description**:
На сайтах в браузере IE 11 отсутствует Помощник. В других браузерах есть.
http://internetua.com/category/news
http://www.yves-rocher.ua/control/main/

Screenshot:
<details>
![screenshot_5](https://cloud.githubusercontent.com/assets/18548949/17749764/db14220c-64c7-11e6-8557-5d1036aac096.jpg)
![screenshot_6](https://cloud.githubusercontent.com/assets/18548949/17749765/db159182-64c7-

[2016-08-19 00:38] war59312 commented on #1163
No worries, I figured as much, but was hoping I was wrong. ;)

[2016-08-19 00:38] #1163 closed

[2016-08-19 01:22] The-Commissioner commented on #1228
@ameshkov I was thinking if this proxy idea comes to light, will it be able to filter opera in compression technology?

[2016-08-19 08:58] #1237 closed

[2016-08-19 09:14] Bohdan-SUP commented on #1119
"Раньше в программе была строка "Сколько трафика сэкономлено", вопрос, где это можно посмотреть на данный момент?"

*1387414*

[2016-08-19 11:30] vbagirov opened #1241 "Incorrect userscript auto-detection"
https://talk.naver.com/static/js/common/nclk_evt_biztalk.user.js is intercepted by Adguard and being offered to install, although it does not contain a userscript metadata block.

Original thread:
https://forum.adguard.com/index.php?threads/11383/page-5#post-96892

[2016-08-19 11:50] #1241 closed

[2016-08-19 12:00] suhan3z commented on #1225
Added

[2016-08-19 12:00] #1225 closed

[2016-08-19 12:05] suhan3z commented on #1225
ADWIN-CR-22

[2016-08-19 16:23] vozersky opened #1242 "[Stealth mode] Chrome notifications are not blocked by "block push api""
![image](https://cloud.githubusercontent.com/assets/17472907/17816569/7359c816-6642-11e6-99cf-40c9699f0fc5.png)

[2016-08-21 23:18] worldsdream commented on #941
Really need this feature! Looking forward to it.

[2016-08-21 23:23] worldsdream opened #1243 "Adding a new rule to User Filter should show insert rule text"
In the Mac Adguard version we have a text shown, insert rule here. In Windows Adguard we don't, it's just empty. It should show the same as in the Mac version.

Why? It looks much better and more user friendly.

see screenshot example: http://i.imgur.com/9KOAJcz.png

[2016-08-22 09:24] lordraiden commented on #82
Besides blocking telemetry via firewall or proxy there should be settings to disable telemetry from windows 10 I like this one but is not open source
https://www.oo-software.com/en/shutup10
but the alternatives are:
https://github.com/10se1ucgo/DisableWinTracking
https://github.com/Nummer/Destroy-Windows-10-Spying

[2016-08-22 10:32] suhan3z opened #1244 "Extended css rules change requires protection restart to be applied"

[2016-08-22 10:45] confessor-adguard commented on #1213
Do you reinstall Adguard in this dates (2016-07-05, 2016-08-04, ...)?
If so, do you reinstall Adguard with standard Windows tools or third party software?

[2016-08-22 10:48] confessor-adguard commented on #881
The whitelist will be implemented in 6.2 version (issue #679).

[2016-08-22 10:55] The-Commissioner opened #1245 "Blocked network requests are not collapsed"
My system specs:
OS - Windows 10 Pro version 1607 build 14393.51 x64
Browser - Firefox Stable 48.0.1 x64
Other addons - IDM, Magic actions for youtube

Adguard Setup-
Version - 6.1.252.1283
Filter Lists - English, Spyware, Social,Annoyances, Easy Privacy, FB's Annoyances and User Filters.
Browsing Sec, Parental Control are disabled.
Extensions- Adguard Popup Blocker, Adsbypasser, Anti-Adblock Kill

[2016-08-22 11:10] ameshkov opened #1246 "Privacy policy lacks "parental control" feature description"
Nothing about parental control here:
https://adguard.com/en/privacy.html#windows

Also this is outdated and should be removed:

[2016-08-22 11:17] ameshkov opened #1247 "Adsbypasser bug on openload.co"
https://forum.adguard.com/index.php?threads/adguard-for-windows-beta-6-1-adsbypasser-not-correctly-working.12977/

[2016-08-22 11:46] worldsdream commented on #1247
subscribed

[2016-08-22 13:33] ameshkov commented on #1230
Planned for v6.1R2, thank you!

[2016-08-22 13:42] ameshkov commented on #1238
Упс, это про винду

[2016-08-22 13:42] #1238 closed

[2016-08-22 14:11] ameshkov commented on #1240
Перед тем как заводить такие баги про IE проверяй код страниц.

На обоих сайтах включен режим совместимости с IE8, а помощник работает на IE9+
[code]

[2016-08-22 14:11] #1240 closed

[2016-08-22 14:34] ameshkov commented on #1228
No, why, it will be like +1Mb max.

I doubt it. Opera will go through proxy, but it will anyway use their own communication protocol.

[2016-08-22 15:10] ameshkov commented on #1245
Hm, for some reason "iframe" elements are not removed from the page code.

As I recall we do this because of the possible issues with the "frameset" elements.
The question is: why do we do this for all "iframe" elements while we could easily check if there is a frameset or not.

[2016-08-22 16:48] vozersky opened #1248 "Can't use styles from userstyles.org"
"Стили https://userstyles.org не применяются к сайту ВКонтакте.Приходится ставить аддоны для браузера.
Например стиль https://userstyles.org/styles/128986/theme. Через добавление в программе никакого эффекта. А через аддон всё работает."

[2016-08-23 08:41] suhan3z commented on #1232
Fixed

[2016-08-23 08:44] suhan3z commented on #1244
Fixed

[2016-08-23 08:44] #1244 closed

[2016-08-23 10:24] ameshkov opened #1249 "Cannot find modern apps"
Quote:

[2016-08-23 12:48] confessor-adguard opened #1250 "Implement simple and lightweight api functions for JS rules"
Original comment https://github.com/AdguardTeam/AdguardForWindows/issues/1099#issuecomment-229611715.

Must-have functions:
1) window load handler (like AG_onLoad)

[code]

Optional functions:
1) simple function to remove elements by selector:

[code]

2) closest parent selector:

[code]

3) children selector:

[code]

Reference: https://github.com/finom/balalaika

[2016-08-23 13:11] #1247 closed

[2016-08-23 14:09] suhan3z commented on #1249
Fixed

[2016-08-23 14:09] #1249 closed

[2016-08-23 15:40] vozersky opened #1251 "BSOD on Windows 10 Build 1607"
One of our users with build 6.0.135.743 from #142  reports that he experienced a BSOD after updating to the latest stable (6.0.226) release.

He also states that after moving **drivers.bin** file from 6.0.135.743 into the latest version installation folder everything works fine so far.

id 1120112

logs and full .dmp:
https://www.amazon.com/clouddrive/share/XE6jWOr4ljGxttA9rmOC3toGPEXoZwmBmLXZKVHN

[2016-08-23 15:49] vozersky commented on #1251
@ameshkov could you please assist?

[2016-08-24 09:22] vbagirov opened #1252 "vk.com element hiding issue"
Steps to reproduce:
1. Go to vk.com -> Communities
2. Block the "recommended communities" element: http://i77.fastpic.ru/big/2016/0822/3a/81b409796f3858aaab0e19782d88883a.png
3. Go to 'Incoming message' and then back to 'Communities'
4. The element is back

The problem does not come up in latest stable version (6.0), it only shows up in beta.

https://forum.adguard.com/index.php?threads/new-vk-com

[2016-08-24 11:22] dsyo2008 opened #1253 "Adguard6.1.255.1291 RC This version seems to have BUG, ​​the left side of the interface dislocation?"
I am chinese hello! We have found BUG, ​​just next update. . .
Interface dislocation?
http://imgur.com/FvwlIhQ
http://imgur.com/bjpKSyJ
http://imgur.com/MVj0SKj
PS:Borrowing Google over the wall, I can not translate, thank you!

[2016-08-24 11:34] gshumihin commented on #1242
Tested "Block push API" function for few days.
_Here's result:_

* Allowed notifications for lenta.ru in Chrome. Didn't see any of them.
* Same situation with meduza.io .

Looks like everything works fine.

[2016-08-24 11:52] vozersky commented on #1242
Ok, if the actual notifications are blocked we can close this.

[2016-08-24 11:52] #1242 closed

[2016-08-24 12:55] dsyo2008 commented on #1253
I'm sorry, I find EVGA conflict, turn off normal!
Please delete, thank you!

[2016-08-24 13:59] worldsdream commented on #1243
screenshot of the mac: http://i.imgur.com/GuKbAne.png

[2016-08-24 13:59] The-Commissioner opened #1254 "[UI Bug]Right Click Paste"
My system specs:
OS - Windows 10 Pro version 1607 build 14393.51 x64
Browser - Firefox Nightly PGO 51.0a1 x64
Other addons - IDM, Magic actions for youtube

Adguard Setup-
Version - 6.1.255.1291
Filter Lists - English, Spyware, Social, Easy Privacy, FB's Annoyances and User Filters.
Browsing Sec, Parental Control are disabled.
Extensions- Adguard Popup Blocker, Adsbypasser, Anti-Adblock Killer|Ree

[2016-08-24 17:27] Alex-302 commented on #1222
[NSFW] http://imgchilibum.ru/v.php?id=ec14be70d7a754a81f4d54a59c71209b

[2016-08-24 20:53] Bluscream commented on #1213
I only installed AdGuard once. Do you mean update? If so i don't know sorry :o

[2016-08-25 02:58] The-Commissioner opened #1255 "[Compatibility Issue]Filtering Log & Firefox ESR"
My system specs:
OS - Windows 10 Pro version 1607 build 14393.51 x64
**Browser** - Firefox ESR 45.3.0 x64
Other addons - IDM, Magic actions for youtube

Adguard Setup-
Version - 6.1.255.1291
Filter Lists - English, Spyware, Social, Easy Privacy, FB's Annoyances and User Filters.
Browsing Sec, Parental Control are disabled.
Extensions- Adguard Popup Blocker, Adsbypasser, Anti-Adblock Killer|Reek
St

[2016-08-25 07:52] The-Commissioner commented on #1245
@ameshkov just to provide u some motivation, @CHEF-KOCH says it's not possible.

[2016-08-25 10:49] worldsdream commented on #932
This is awesome, but can this be added for adguard mac and adguard extension too?

[2016-08-25 10:54] worldsdream opened #1256 "Paste mulitple rules in filter area"
Can adguard for windows, mac and extension add the option that if we copy for example the rules below one time only (select them all) and paste it in user filter, it will add them all seperate.

test.com##hidethis
test.com##hidethis2
test.com##hidethis3

Why?
Now we need to copy one rule at a time. Copy, paste, copy paste, copy paste. Sometimes you need to test 5 rules or even more.

[2016-08-25 11:02] worldsdream opened #1257 "When adding a rule in userfilter, click in adguard app area->rule gets applied"
Right now when we add a rule, we need to hit ENTER on keyboard. That is fine.

Can you also let us just click with our mouse anywhere in the adguard area and it applies the rule?

Mac is doing it like this already.

[2016-08-25 15:58] vozersky opened #1258 "Adguard crashes if you try to close UI while editing a filter rule"
id 648654

str
- open filter editor
- start adding a new rule
- close UI (close Adguard through tray icon)

[2016-08-25 17:16] vbagirov opened #1259 "Several userscripts don't work in the latest RC"
http://pastebin.com/JXHpU0ku - не работает даже в последнем RC (но работал в стабильной версии и работает в Tampermonkey).
https://userstyles.org/styles/128986/theme - работает, но ломает верстку сайта (и в последнем Adguard, и в Tampermonkey). Но если отключить защиту Adguard и добавить скрипт в Tampermonkey, он начинает нормально работать.
Не работает срипт Download YouTube Videos as MP4
https:/

[2016-08-25 18:33] The-Commissioner commented on #803
@ameshkov not solved, tried it with the latest RC released today.6.1.256.1292 and problem still exists.
i tested it on the extensions tab.

[2016-08-25 19:40] ameshkov opened #1260 "EV certs file is removed on every driver restart"
Take a look at this method:
`DriverInstaller.CleanSslTempDirectory(DateTime expirationDate)`

[2016-08-25 22:37] ameshkov opened #1261 "QUIC-connections are slipping through Adguard"
I was able to reproduce it in Chromium 54 with QUIC set to "Enabled".

Refreshing YT a few times leads to this situation.
`QUIC_VERSION_35`

[2016-08-25 22:42] ameshkov commented on #1261
QUIC overview:
http://www.slideshare.net/shigeki_ohtsu/quic-overview?related=1

[2016-08-25 22:44] ameshkov commented on #1261
More info:
https://docs.google.com/document/d/1WJvyZflAO2pq77yOLbp9NsGjC1CHetAXV8I0fQe-B_U/edit

[2016-08-26 11:30] confessor-adguard commented on #1261
Yes, after Q033 0x4 bit in QUIC packet public flags became optional and this led to the issue.

We have to rely on two mandatory flags:
0x01 = PUBLIC_FLAG_VERSION
0x08 = Indicates the full 8-byte Connection ID is present in the packet

[2016-08-26 11:30] #1261 closed

[2016-08-26 11:46] vbagirov opened #1262 "Add a blacklist for HTTPs filtering"
Right now there is a whitelist, but users don't have an option to disable HTTPs filtering except for few websites from the blacklist (like in Android version).

Original thread: https://forum.adguard.com/index.php?threads/adguard-blacklist.13128/#post-98081

[2016-08-26 14:26] confessor-adguard commented on #1259
1. Userscript for Scriptish. Compatibility issue: Fixed
2. The same situation as with Flat_Zhihu userscript. Details: https://github.com/AdguardTeam/AdguardForWindows/issues/1145#issuecomment-229028349. Incomplete.
3. Fixed

[2016-08-26 14:26] #1259 closed

[2016-08-26 14:33] suhan3z commented on #1260
Fixed

[2016-08-26 14:33] #1260 closed

[2016-08-26 14:59] confessor-adguard commented on #1232
We need to use another approach in `runAtDocumentEnd`.

[2016-08-26 16:00] ameshkov commented on #1262
Duplicate for https://github.com/AdguardTeam/AdguardForWindows/issues/958

[2016-08-26 16:00] #1262 closed

[2016-08-28 14:11] The-Commissioner commented on #1255
looks solved with latest RC, can be closed. :)

[2016-08-28 15:08] worldsdream commented on #941
Can this feature be added to adguard extension too?

[2016-08-29 11:58] ameshkov commented on #1253
Thank you anyway!:)

[2016-08-29 11:58] #1253 closed

[2016-08-29 12:15] ameshkov commented on #1213
What was the first AG version you've installed? v5 or v6?

[2016-08-29 12:17] ameshkov commented on #1245
What exactly is not possible?

[2016-08-29 12:19] confessor-adguard commented on #1248
The same situation as with Flat_Zhihu userscript. Details: #1145 (comment). Incomplete.

[2016-08-29 12:19] #1248 closed

[2016-08-29 12:36] ameshkov commented on #1256
Hm, I thought we've already did this in Win version.

@confessor-adguard didn't we?

[2016-08-29 12:37] ameshkov commented on #1257
This could be complicated task, we rely on standard WPF control and it's hard to override it's default behaviour.

[2016-08-29 12:38] confessor-adguard commented on #1256
@ameshkov yes, already implemented in Windows version.

[2016-08-29 12:42] worldsdream commented on #1256
My bad, it really works. I didn't know that. Would be nice if people actually knew that you just can copy more rules and paste! Awesome!

[2016-08-29 13:13] ameshkov commented on #803
It was "partially" solved:)

To completely fix it we should resolve this issue:
https://github.com/AdguardTeam/AdguardForWindows/issues/804

[2016-08-29 13:31] #1255 closed

[2016-08-29 13:35] ameshkov commented on #941
I guess it could be added to ALL AG products.

Self-note: after this issue is implemented, create similar issues in other repos.

[2016-08-29 14:10] ameshkov commented on #932
Mac - i think it is possible.

What for extension, we'd like to move from the GridView to some sort of a text area, and in case of textarea this is veery hard .

[2016-08-29 14:19] confessor-adguard opened #1263 "Request URL contains wrong protocol prefix"
FilteringContext.RequestUrl must contain the correct protocol, avoid from using Request.RequestUrl.

HTTP/HTTPS/WS/WSS

[2016-08-29 15:09] ameshkov commented on #1256
:)

Closing this issue then.
https://github.com/AdguardTeam/AdguardForMac/issues/126

[2016-08-29 15:09] #1256 closed

[2016-08-30 10:53] ameshkov opened #1264 "Improve content type detection"
For some browsers (for instance, for Chromium and FF) we could use "Accept" header to detect request content type.

For instance, here is an image loading with `<img>` tag:
`Accept: image/webp,image/*,*/*;q=0.8`

Does not work `<script>` tags.

Works for `<link>` in case if type is specified:
`Accept:text/css,*/*;q=0.1`

Document:
`Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image

[2016-08-30 17:12] vbagirov opened #1265 "Request source is not shown in Filtering log"
But shown in extension's filtering log. The page URL is https://www.bbq.co.kr/menu_new/new_real.asp,
the request is http://vtag35.midas-i.com/vat-tag?cmp_no=2235&depth=1

Original forum thread:
https://forum.adguard.com/index.php?threads/sources-of-some-requests-were-not-identified.13260/

[2016-08-30 17:15] vozersky opened #1266 "Cannot transform CSP: System.ArgumentException: Cannot parse CSP"
**id 1030081** - "When I'm going to some https website Chrome show me message like
this: http://prntscr.com/cb3o5i But when I proceed with "Reload"
website is loaded properly"

**id 1392686** "HTTPS websites won't open with Adguard and KIS running.
Disabling SSL scan in KIS didn't help. Disabling WFP/quiting Adguard - helps."

errors like this:

[code]

[2016-08-31 06:12] Serzh-SUP opened #1267 "missed ads terrikon.com"

[2016-08-31 06:14] #1267 closed

[2016-08-31 10:28] ameshkov opened #1268 "Switch to the DigiCert certificate"
Our old Symantec certificate expires soon, so we should now switch to DigiCert authenticode certificate.

[2016-08-31 16:33] #1268 closed

[2016-08-31 17:47] ameshkov opened #1269 "Youtube video buffering in Internet Explorer 11"
Description:
https://forum.adguard.com/index.php?threads/adguard-for-windows-v6-1-258-1302-rc.11383/page-6#post-98393

[2016-09-01 01:19] a-ladanov opened #1270 "Перестали работать некоторые правила"
В 6.1 перестали работать правила из моего пользовательского, чего опять поломали-то?
1) На главной странице sports.ru удаляет раздел "Видео дня"

`sports.ru$$section[class="material-list__item material-list__item_no_border material-list__item_padding-top_20"][tag-content="Видео дня"]`

2) Делает стандартный фон на сайте kinopoisk.ru, плюс еще некоторые стиливые заморочки

`kinopoisk.ru#$#.png_bloc

[2016-09-01 01:50] a-ladanov commented on #1270
Откатился назад на 6.0.226.1108 с сохранением настроек, - правила заработали.

[2016-09-01 07:22] CHEF-KOCH commented on #1228
https://forum.adguard.com/index.php?threads/https-filtering-when-using-proxy-mode.6377/

[2016-09-01 09:24] ameshkov commented on #1265
This request is for pixel image, added with a javascript:
[code]

[2016-09-01 09:25] #1265 closed

[2016-09-01 12:36] ameshkov commented on #1270
@Alex-302 посмотри пожалуйста

[2016-09-01 12:38] ameshkov opened #1271 "Consider using Referrer Policy"
https://www.w3.org/TR/referrer-policy/

Relevant discussion:
https://forum.adguard.com/index.php?threads/sources-of-some-requests-were-not-identified.13260/

[2016-09-01 12:51] Alex-302 commented on #1270
1) Работает, блок из кода вырезается
2) Кинопоиск выглядит так:
http://imagizer.imageshack.com/img921/1300/Ria7bp.png
Вы бы на скринах показали ожидаемый результат.

[2016-09-01 14:14] ameshkov opened #1272 "Protect Adguard styles from removing"
Details:
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/320

[2016-09-01 15:03] gshumihin commented on #1215
Cannot reproduce it now. No performance drops even after 30 mins
<img src="http://content.screencast.com/users/shumegor/folders/Jing/media/88893341-b307-4918-b1bd-78ebec2743ad/00001373.png" >

[2016-09-01 15:03] #1215 closed

[2016-09-01 16:55] a-ladanov commented on #1270
Блин, парни, простите.
На кинопоиск раньше фон грузился отсюда
http://st.kp.yandex.net/images/noBrandMenuBg.png
Теперь отсюда
https://st.kp.yandex.net/images/noBrandBg.jpg
Яндекс немного изменили ссылку и формат. Вот почему фон не грузился.

Но я все равно не зря обратился, так как нашел ошибку. В русском фильтре есть правило как раз для фона
`kinopoisk.ru#$#body { background: #d5d5d5 url(/images/

[2016-09-01 19:39] a-ladanov commented on #1270
Еще в русском есть правило
kinopoisk.ru#$#body {background:#d5d5d5!important;}
Не дублируют ли они друг друга?

[2016-09-01 21:05] felixxxizbani commented on #1209
у меня та же проблема, проблема в версии adguard 6.1.258.1302, файл скрипта блокируется антивирусом Drweb (и сервис для проверки файлов virustotal.com это подтверждает)
Я сегодня написал в техподдержку Drweb для анализа проблемы.
![virustotal1](https://cloud.githubusercontent.com/assets/21694674/18184222/b5d33f84-70a0-11e6-93bc-82383cb11a33.jpg)

[2016-09-02 03:43] The-Commissioner commented on #1228
The problem with CCproxy is that it requires the WFP driver in Adguard to be enabled and WFP in my system is a PITA.

[2016-09-02 03:45] The-Commissioner commented on #1245
^^this is not possible.
Maybe bcoz the iframe is embedded within an element.
But if it's possible in other extensions, I think it will be possible in Adguard. ;)

[2016-09-02 10:27] evgeniy-ADG commented on #737
Was it delayed?

[2016-09-02 10:46] evgeniy-ADG commented on #296
Was it delayed?

[2016-09-02 11:35] evgeniy-ADG commented on #1209
+ 1341519

[2016-09-02 11:50] ameshkov commented on #1209
да как они запарили

[2016-09-02 11:51] ameshkov commented on #1209
@vbagirov напиши им побыстрее пожалуйста

[2016-09-02 12:41] vbagirov commented on #1209
Нам бы этот файл скрипта, на который ругается, без него они отказываются что-либо делать, а повторить не удается.

[2016-09-02 16:06] Alex-302 commented on #1270
Заменил.

[2016-09-02 16:20] felixxxizbani commented on #1209
Файл скрипта я передан в службу вирусного мониторинга Dr.WEb. Мой запрос был проанализирован. Это была ложная тревога. Ошибка была исправлена. После обновления вирусных баз, детектирование не должно выполняться.

P.S. Действительно, сегодня в Dr.Web ошибку исправили. Если бы я им не отправил файл скрипта, ничего бы не сделали. А поводу ложного срабатывания антивирусом McAfee-GW-Edition, у меня он

[2016-09-02 17:31] vozersky commented on #1209
[adguard%20popup%20blocker[1].js.zip](https://github.com/AdguardTeam/AdguardForWindows/files/452607/adguard.20popup.20blocker.1.js.zip)

[2016-09-02 19:03] a-ladanov commented on #1270
Да, со стандартным фоном лучше.

[2016-09-02 19:03] #1270 closed

[2016-09-02 21:35] ameshkov commented on #890
Duplicate for https://github.com/AdguardTeam/AdguardForWindows/issues/941

[2016-09-02 21:35] #890 closed

[2016-09-02 22:10] ameshkov opened #1273 "Extensions mess with videos on southpark.de"
Description:
https://forum.adguard.com/index.php?threads/adguard-for-windows-v6-1-258-1302-rc.11383/page-6#post-99562

[2016-09-03 16:31] SlowMemory opened #1274 "Add PotPlayer to the default filtered apps list"
There is a video ad in the player that can be blocked. There are several versions and executables for PotPlayer.

C:\Program Files (x86)\DAUM\PotPlayer\PotPlayer.exe
C:\Program Files (x86)\DAUM\PotPlayer\PotPlayerMini.exe
C:\Program Files\DAUM\PotPlayer\PotPlayer.exe
C:\Program Files\DAUM\PotPlayer\PotPlayerMini.exe

 * In the global version of PotPlayer (can be downloaded at https://potplayer.dau

[2016-09-03 17:17] Alex-302 opened #1275 "Incorrect Adguard injection"
Adguard injected into </BODY> tag
http://marlborotech.com/Zalgo.html
<details>
![1](http://imagizer.imageshack.com/img923/9311/IM7VyV.png)
![2](http://imagizer.imageshack.com/img923/2411/69eZeW.png)
</details>
https://forum.adguard.com/index.php?threads/%D0%91%D0%B0%D0%B3-%D1%84%D0%B8%D0%BB%D1%8C%D1%82%D1%80%D0%B0%D1%86%D0%B8%D0%B8.13441/

[2016-09-04 08:34] vgavrish commented on #1142
conflict with player
http://player.gomlab.com/download.gom?language=ru
with enable Popup blocker, Assistant Adguard Beta, Web of trust
<details>
![screenshot_28](https://cloud.githubusercontent.com/assets/18548949/18229906/09866d6a-7293-11e6-82cf-2a5c2763fc9f.jpg)
</details>

[2016-09-05 06:57] rayman3003 opened #1276 "Adguard not working for Multiup when proxy enabled"
Adguard doesn't work in multiup when proxies have been enabled in internet browsers (IE, Firefox, Chrome).

In normal mode (no proxy), there is no problem & all Ads & popups gets blocked by Adguard.

But When I use proxy (IPs)[For example 127.0.0.1:6675] in my browsers (IE, Firefox, Chrome), all the ads and popups comes back.

example link:

https://www.multiup.org/en/download/f1b09b57e1280d021b48

[2016-09-05 12:47] ameshkov opened #1277 "Fix the 3rd of September issue"
Autoupdate does not work because of the certificate validity check.

The problem is that we currently check certificate validity without taking signature timestamp into account.

setup.exe was signed with a valid certificate and timestamp. However, certificate is expired since 3rd of September. We should check if certificate was valid at the time of file signing, not at the current moment.

<detai

[2016-09-05 13:03] ameshkov commented on #1233
@confessor-adguard

When HTTPS filtering is turned OFF you should check request during the "outgoing handshake" stage. Create a FilteringContext object with a request URL like "https://" + hostName + "/" and check it against AG filters.

[2016-09-05 13:20] ameshkov opened #1278 "Remove Firefox & Opera SSL filtering workaround"
Before AG protection starts we are trying to detect if AG certificate is installed in FF storage. If it is not detected we do not filter SSL for Firefox.

I suppose it is time for us to remove this workaround.

I hope FF will soon start using windows storage.
http://news.softpedia.com/news/firefox-changes-root-certificate-handling-procedures-on-windows-507907.shtml

[2016-09-05 13:42] Bohdan-SUP commented on #1277
Is this related?
![signature](https://cloud.githubusercontent.com/assets/14153331/18249547/ac40e5d6-7387-11e6-8951-6a6668413a9f.png)

[2016-09-05 15:28] vozersky opened #1279 "Cannot add two programs with the almost the same name in the filtered apps list"
https://forum.adguard.com/index.php?threads/cannot-add-two-programs-with-the-same-name-in-the-filtered-app.13444/

- Download and install "PotPlayer" in the following link: http://get.daum.net/PotPlayer/Version/20160811_1.6.62949/PotPlayerSetup.exe
- Try to add following two executable files in the filtered apps:
[code]
- Then the second exe does not appear in the list of filtered apps. If I remov

[2016-09-05 17:07] suhan3z commented on #1214
Fixed

[2016-09-05 17:07] #1214 closed

[2016-09-05 20:34] Alex-302 opened #1280 "Add KMPlayer to the default filtered apps list"
`KMPlayer.exe`

[2016-09-06 08:42] ameshkov opened #1281 "Cannot convert example.com##[role="main"]:style(display: none;) rule properly"
Look at how it's done in browser extension:
https://github.com/AdguardTeam/AdguardBrowserExtension/pull/345/commits/894df7fc49d488fd6af26780009e907e1938785e

[2016-09-06 08:59] ameshkov opened #1282 "Remove TLS 1.0 version fallback mechanism"
Details:
https://groups.google.com/a/chromium.org/forum/#!searchin/security-dev/fallback/security-dev/F6ZjP6FnyRE/bK7TKtvnHYsJ

[2016-09-06 09:09] ameshkov opened #1283 "Update HTTPS exceptions"
There are some new domains there:
https://github.com/AdguardTeam/AdguardForWindows/issues/911#issuecomment-189221861

[2016-09-06 12:36] gshumihin commented on #1123
Cannot reproduce it with adguard 6.1.258

[2016-09-06 12:36] #1123 closed

[2016-09-06 12:47] gshumihin commented on #1091
_Did next steps in order to reproduce that issue:_

1. Created new mobicip account
2. Created new profile in mobicip
3. Installed mobicip and configured it for 2nd(non-admin) user.

Tried adguard with both drivers.

With new version of adguard mobicip works fine too.

[2016-09-06 12:47] #1091 closed

[2016-09-06 13:35] evgeniy-ADG commented on #1277
@ameshkov is the pic above related to the issue? Thanks :)

[2016-09-06 13:44] ameshkov commented on #1277
Yep, it is. Should be good since yesterday

[2016-09-06 14:22] vozersky opened #1284 "Firefox and Firefox Developer Edition filtering and certificate issue"
based on id 1332990

- You can't add Firefox Developer Edition to the filtered apps list if you already have a common version of FF installed.

this is related to #1279

- There are different root cert issues while using Firefox Developer Edition without Adguard's certificate manually installed, you are getting warnings from the browser on every https page, or even errors  like this:

<details>
![

[2016-09-06 14:34] gshumihin commented on #1165
Works fine with default settings and without any other antiviruses/antimalware tools and staff like that.

[2016-09-06 14:34] #1165 closed

[2016-09-06 15:29] gshumihin commented on #1284
Wasn't able to reproduce this issue.

Steps i did:
1. Adguard and FF stable were already installed.
2. Installed latest FF dev
3. Restarted Windows
4. After windows restart, launched FF dev

Result: Adguard cert was installed in FF dev, everything works fine.

[2016-09-06 15:33] vozersky commented on #1284
i guess we should recommend the use to reinstall the certificate and at least restart the service after

[2016-09-06 15:33] #1284 closed

[2016-09-06 20:41] ameshkov commented on #1228
Why, this configuration works even on Windows XP

[2016-09-06 20:42] ameshkov opened #1285 "Change the way "proxy" mode works"
Here is a relevant discussion:
https://github.com/AdguardTeam/AdguardForWindows/issues/1228

The new way will allow us use https filtering in proxy mode.

[2016-09-06 20:46] ameshkov commented on #1245
It is pretty easy to remove iframes and as I recall we were doing it in previous versions.

It's a pity we didn't use github before as I don't remember why we had stopped doing it.

@suhan3z I suggest setting "style" attribute to "display:none!important;" instead of simply removing "frame" and "iframe" elements.

[2016-09-06 20:50] ameshkov commented on #737
@evgeniy-ADG not really, we just didn't figure out what was the issue.

I mean all windows developers of Adguard use Visual Studio and use debugging (including remote debugging) pretty often. Still never encountered this type of issue.

There should be some more, it is not just a simple AG-VS compatibility issue.

[2016-09-06 20:53] ameshkov commented on #296
Yep, I am not sure what can be done about it.

The obvious solution is to turn parental control ON for all system users, this will cover everything including "sandboxied" browsers.

[2016-09-06 22:55] ameshkov commented on #1142
@vgavrish it should be a separate issue

[2016-09-06 22:58] ameshkov opened #1286 "Improve "Filtered Apps" section"
1. Each app should have special "details" screen with it's own settings.
2. We should divide apps into two categories: apps and browsers.

Apps filtering should be limited, stealth mode shouldn't be applied, extensions shouldn't be injected.

User should be able to change app type manually.

[2016-09-06 22:59] ameshkov commented on #1142
@vgavrish this issue will be fixed automatically when we finish with #1286

[2016-09-06 22:59] #1142 closed

[2016-09-06 23:01] ameshkov commented on #1276
Ah, I got it.

The thing is that in proxy mode Adguard cannot filter https websites.
We will resolve this issue when https://github.com/AdguardTeam/AdguardForWindows/issues/1285 is implemented.

[2016-09-06 23:01] #1276 closed

[2016-09-07 00:18] rayman3003 commented on #1276
Thank u, Ill wait for the next version. 💃

[2016-09-07 02:31] The-Commissioner commented on #1228
Dunno, here it doesn't filter properly without CCproxy. But I will wait for your within-Adguard proxy.

[2016-09-07 02:34] The-Commissioner commented on #1245
I have noticed this bug for quite sometime now, so I don;t know you were usin it.

you mean '**in addition to**' (emphasis on the bold)

[2016-09-07 03:22] The-Commissioner commented on #1276
@rayman3003 your filter lists suggest you use both English as well as Easylist, they are of overlapping nature. I suggest you to use one, prefereably Adguard's English List. :)

[2016-09-07 10:00] ameshkov commented on #1245
In fact i suppose that using it instead is valid too as anyway when "display: none" is applied all other styles are ignored.

[2016-09-07 10:06] ameshkov commented on #1276
Yep, that's true. "English filter" is basically EasyList + Adguard's English filter

[2016-09-07 10:49] suhan3z commented on #1282
Fixed

[2016-09-07 10:49] suhan3z commented on #1266
Fixed

[2016-09-07 10:49] #1266 closed

[2016-09-07 11:02] suhan3z commented on #1283
Done

[2016-09-07 11:02] #1283 closed

[2016-09-07 12:55] #1277 closed

[2016-09-07 16:20] rayman3003 commented on #1276
ok, Ill remove Easylist. Thank u

[2016-09-08 06:39] WGPSenshi commented on #1156
I have the same issue with Adguard 6.1.258.1302 on Windows 10 (14393.105) .
Previously, I had a USB headset with an integrated soundcard, where I noticed no issues (though they still might have existed).
Now I have a regular headset with 3.5mm connection, using the mainboard's onboard Realtek audio.
With Adguard running, the DPC latency increases slowly over time. I am not sure yet what triggers i

[2016-09-08 09:59] vozersky commented on #1156
@WGPSenshi  Hi. Do you have the latest Realtek drivers? Aren't they some kind of custom ones?
@gshumihin could you please cooperate on this?

[2016-09-08 10:12] WGPSenshi commented on #1156
I use the official drivers for my board, as offered here (v6.0.1.7885):
https://de.msi.com/Motherboard/support/Z87-G45-GAMING.html#down-driver&Win10%2064
I think the only "customization" they do is adding the MSI logo to the Realtek HD Audio Manager.

[2016-09-08 15:46] war59312 commented on #911
Financial: robinhood.com

To fix: https://github.com/AdguardTeam/AdguardForAndroid/issues/779

[2016-09-08 16:11] vgavrish commented on #1100
id 1062321
ads http://prntscr.com/cfob05
saving page
https://yadi.sk/d/VuQzlOrluuaQp

[2016-09-08 16:28] evgeniy-ADG commented on #127
We have a complaint here: 1408273
Could you please update us on this issue?

aaaand

F-Secure processes. You are right, it helped indeed. The problem is
therefore not Adguard, but a combination of Adguard and F-Secure.
Is there a quick fix available or should I rollback Adguard to the previous
version until there is a solution?

[2016-09-08 17:20] vozersky commented on #1156
we should look into this

[2016-09-09 08:57] confessor-adguard commented on #1252
Related to: https://github.com/AdguardTeam/AdguardForWindows/issues/1272.

[2016-09-09 11:37] ameshkov opened #1287 "Adguard blocks POST requests in the main frame"
**Description:**
https://forum.adguard.com/index.php?threads/Страница-блокировки-не-информативна.13527/

The second issue is that "blocked page" content does not provide useful information.

[2016-09-09 13:12] vozersky commented on #1156
@WGPSenshi try to uncheck "Use WFP network driver" in Adguard settings next time you reproduce the issue. You might need to restart the service after (win+r -> services.msc -> adguard)

[2016-09-09 19:46] WGPSenshi commented on #1156
With that option disabled, the DPC latency issue no longer occurs. It remained stable at the usual low values for the past ~4 hours.

[2016-09-09 21:54] ameshkov opened #1288 "Cannot read property 'userAgent' of undefined"
I see this error in the browser console:
[code]

[2016-09-10 12:23] vozersky opened #1289 "Assistant icon is shifted at vk.com"
based on https://forum.adguard.com/index.php?threads/%D0%97%D0%BD%D0%B0%D1%87%D0%BE%D0%BA-%D0%9F%D0%BE%D0%BC%D0%BE%D1%89%D0%BD%D0%B8%D0%BA%D0%B0-%D0%92%D0%9A.13604

vk login screen:
![1](https://cloud.githubusercontent.com/assets/17472907/18410312/25b9e588-7767-11e6-8084-bf12d75fcc20.png)

inside:
![2](https://cloud.githubusercontent.com/assets/17472907/18410313/26d4be02-7767-11e6-9481-48a90b7b650

[2016-09-11 15:53] vozersky commented on #1113
@confessor-adguard еще не добавили?

[2016-09-12 09:22] ameshkov commented on #911
@war59312 added to the list, thank you!

[2016-09-12 09:30] #1099 closed

[2016-09-12 09:34] ameshkov commented on #1100
@vgavrish @Bohdan-SUP

It is possible, so you'd better report these issues to @Alex-302 in AdguardFilters repo.

[2016-09-12 09:35] ameshkov commented on #127
@evgeniy-ADG in fact I was sure this issue is already resolved.

I guess something has changed on the F-Secure side as well:( Switching driver type will help, but no Edge filtering in this case.

[2016-09-12 09:54] Alex-302 commented on #1100
I'm not sure
These URLs are not displayed in the filtering log
[code]

[2016-09-12 11:40] ameshkov commented on #1100
@Alex-302 are you sure? In AG for Windows?

[2016-09-12 11:43] Alex-302 commented on #1100
@ameshkov Yes, I don't see it in requests, even if I disable and enable this extension in Chrome settings.

[2016-09-12 11:50] #772 closed

[2016-09-12 11:54] ameshkov commented on #1100
Do you see that iframe on the lastpass page?

If it is present, you should have seen the request.

[2016-09-12 13:04] Alex-302 commented on #1100
lastpass.com is in HTTPS exclusions.
When I removed it, `||lastpass.com/ads.php`  is works.

[2016-09-12 13:25] ameshkov commented on #1100
It explains everything.

We won't remove it from https exclusions. However, if user wants to get rid of these ads, he can do it manually.

[2016-09-12 13:25] #1100 closed

[2016-09-12 14:30] #1264 closed

[2016-09-12 19:26] azet12 opened #1290 "Feature request (filter)"
Hello!
Recently, I've been working on a new list.
It blocks Polish regional scam and phishing websites.

You can find it here: https://github.com/azet12/KAD
It would be great if it was available in the settings of Adguard and enabled by default for Polish users.

[2016-09-13 16:30] ameshkov commented on #1290
@azet12 thank you!

We'll add it to the list of available filters:
https://github.com/AdguardTeam/AdguardFilters/issues/2990

[2016-09-13 16:30] #1290 closed

[2016-09-14 10:51] adbuker commented on #1279
I've dowloaded and installed all the versions of "PotPlayer" (1.6.48576, 1.6.49952, 1.6.62377, 1.6.62949) one by one, also I tried to install local (Korean) version, as it described in https://github.com/AdguardTeam/AdguardForWindows/issues/1274, but in all cases I found only PotPlayerMini.exe in "C:\Program Files (x86)\DAUM\PotPlayer" folder.

[2016-09-14 11:03] rayman3003 opened #1291 "cypt.ga has an AntiAdblock"
This website named "cypt.ga" (a url shortener website), detects my Adguard and won't allows me to see the shortened url. It shows the following warning:

It looks like you're using an ad blocker. That's okay. Who doesn't?
But without advertising-income, we can't keep making this site awesome.
I understand, I have disabled my ad blocker. Let me in!

Example link:

`http://cypt.ga/nOr4j`

----------

[2016-09-14 13:09] SlowMemory commented on #1279
Download http://get.daum.net/PotPlayer/Version/20160811_1.6.62949/PotPlayerSetup.exe
Run the downloaded exe. Then a window to choose a installer language will open.
I've just checked that if I choose English here, only PotPlayerMini.exe will be installed. If I choose Korean(한국어) PotPlayer.exe will also be installed. Hope this help reproducing the problem.

[2016-09-14 16:06] chuckfecht commented on #1093
Still an issue on the Anniversary update build (14393.187) running on Surface Pro 4

[2016-09-14 16:13] BooBerry commented on #1093
Yeah, it's recommended to disable **TCP Fast Open** in Edge to avoid this issue.

[2016-09-15 09:58] evgeniy-ADG opened #1292 "TP-Link TL-WR841ND - can't access router's settings"
User complaint:

[2016-09-15 14:05] #1275 closed

[2016-09-15 14:17] confessor-adguard opened #1293 "Filters editor rework"
We need to remove this monstrous DataGrid and use something like TextArea instead.

[2016-09-15 14:18] confessor-adguard commented on #1243
Closing according to this issue https://github.com/AdguardTeam/AdguardForWindows/issues/1293.

[2016-09-15 14:18] #1243 closed

[2016-09-15 14:28] ameshkov commented on #1291
@Alex-302 please take a look.

@rayman3003 next time please create this sort of issues in AdguardFilters repo:
https://github.com/AdguardTeam/AdguardFilters/issues

[2016-09-15 14:38] Alex-302 commented on #1291
Added to English filter
[code]

[2016-09-15 14:38] #1291 closed

[2016-09-15 14:38] #1212 closed

[2016-09-15 14:38] ameshkov commented on #1292
@evgeniy-ADG what about debug logs? Could you please ask user to collect it?

[2016-09-15 16:13] Stillness-2 opened #1294 "Userscript '@match' rule does not support '<all_urls>' pattern"
From docs:
https://wiki.greasespot.net/Metadata_Block#.40match
https://developer.chrome.com/extensions/match_patterns

[2016-09-15 16:19] confessor-adguard commented on #571
Important:
- in XHTML pages we can't use our userscripts
- since '&' is a special character in XML, we need to use '&amp;' in injection URLs instead of '&'
  for more information see https://developer.mozilla.org/en-US/docs/Archive/Web/Writing_JavaScript_for_HTML (search for '&')

[2016-09-15 16:19] #571 closed

[2016-09-15 16:53] rayman3003 commented on #1291
OK & thank u.

[2016-09-16 21:54] ameshkov opened #1295 "Adguard fails to detect HTML on overclockers.ru"
Source:
https://forum.adguard.com/index.php?threads/overclockers.13713/#post-101333

[2016-09-17 13:12] ameshkov opened #1296 "Extend tray menu"
Make shortcuts for each settings section.
Add a way to switch modules (if it's possible)

[2016-09-17 13:16] ameshkov opened #1297 "Add $network basic rules modifier to solve the issue with loading ads through WebRTC"
https://forum.adguard.com/index.php?threads/block-rtcpeerconnection.13808/

Code example:
https://forum.adguard.com/index.php?threads/block-rtcpeerconnection.13808/#post-102128

http://webrtc-security.github.io/

[2016-09-17 23:11] ameshkov opened #1298 "Add $cookie modifier"
TODO: Add the description

[2016-09-18 15:53] BladeMight opened #1299 "It is not open source so WHY it is HERE?"
the title.

[2016-09-18 15:53] BladeMight commented on #1299
seen in readme.

[2016-09-18 15:53] #1299 closed

[2016-09-19 11:37] gshumihin commented on #1211
I cannot reproduce this issue on my side.
And there's no response from user.

[2016-09-19 11:37] #1211 closed

[2016-09-19 15:30] vbagirov commented on #1209
I will close this issue, it seems to be fixed now.

[2016-09-19 15:30] #1209 closed

[2016-09-20 14:07] vbagirov opened #1300 "FuckFuckAdblocker userscript issue"
When installed, [FuckFuckAdblocker](https://github.com/Mechazawa/FuckFuckAdblock/blob/master/FuckFuckAdBlock.user.js), Adguard is still detected on the check-website (https://fuckadblock.sitexw.fr/) if English filter is enabled.

With English filter disabled Adguard is not detected.

Original thread:
https://forum.adguard.com/index.php?threads/fuckfuckadblock.13693/

[2016-09-21 17:39] ameshkov commented on #1297
One more example:
http://www.merriam-webster.com/

[2016-09-21 18:39] Alex-302 commented on #1273
Added temporary exclusin to German filter(confirmed by Blaz on the forum):
[code]

[2016-09-22 12:54] vozersky commented on #1174
duplicate #1116

[2016-09-22 13:01] vbagirov commented on #1122
Specifically the Dr.Web's module in question is called 'Spider Gate' in Dr.Web Security Space.

Another forum topic is: https://forum.adguard.com/index.php?threads/adguard-%D0%B8-drweb-spider-gate.77/page-3#post-102687

[2016-09-22 13:33] #1236 closed

[2016-09-22 13:33] #1274 closed

[2016-09-22 13:33] #1279 closed

[2016-09-22 14:45] #1230 closed

[2016-09-22 14:49] vbagirov opened #1301 "mdm.ru - website freezes"
This is not caused by filters, only fixed by stopping the service.

Original thread: https://forum.adguard.com/index.php?threads/14109/

[2016-09-22 16:53] evgeniy-ADG commented on #1116
hi, any updates?

[2016-09-22 17:31] Bushido1 commented on #1116
Hi, the problem is gone for me now because I'm using latest Opera Developer and Adguard for Windows version.

[2016-09-22 18:21] Alex-302 commented on #1116
@Bushido1 please add these domains to HTTPS exclusions in the Adguard settings
[code]

[2016-09-22 18:23] Alex-302 commented on #1116
Oh, I inattentively read your message:)

[2016-09-22 18:32] Alex-302 commented on #1116
@confessor-adguard
VPN works with these HTTPS exclusions
[code]

[2016-09-22 19:41] Bushido1 commented on #1116
Thanks for the tip @Alex-302
I'll use it, when VPN trouble comes back to haunt me. :)

[2016-09-23 10:02] ameshkov opened #1302 "Add $websocket content type modifier"
Learn details here:
https://github.com/AdguardTeam/AdguardBrowserExtension/issues/370

[2016-09-23 14:30] vbagirov opened #1303 "Compatibility issue with one of the vk.com built-in apps"
The app in question is https://vk.com/rats_online

The app would not launch, unless you disavle both Ad Blocker and Extensions module.

Original thread:
https://forum.adguard.com/index.php?threads/14160/

[2016-09-25 17:57] Bohdan-SUP commented on #987
Another request - 1418067

[2016-09-25 19:44] vozersky opened #1304 "SSL exceptions aren't deleted on network API reinit"
The issue is described in comments.

**Original text:**
Due to conflicts with third-party software interfering with HTTPS connection, there are plenty of user with automatically created exceptions in: C:\ProgramData\Adguard\NetworkTemp\SSL
People usually have no idea why those were created and how to remove them and start to complain about filtering problems. We should consider at least making it

[2016-09-26 10:01] vozersky commented on #1304
@ameshkov what do you think?

[2016-09-26 13:59] ameshkov commented on #1282
Not fixed.

The issue is easy to reproduce when AG works along with Fiddler (which is configured to decrypt SSL)

[2016-09-27 12:44] Bluscream commented on #1213
I'm not sure, sorry :c

[2016-09-27 14:28] evgeniy-ADG commented on #1182
any updates?

[2016-09-27 15:33] vozersky commented on #1182
we have not added it to the defaults yet
milestone 6.2
anyway, the user should be able to add Torch manually

[2016-09-28 12:46] ameshkov opened #1305 "Use contentScript approach for injected content"
I've just did it in Android version and it appears to be better than the current one.

Code review: AJC-CR-63

[2016-09-28 15:07] suhan3z commented on #904
Fixed

[2016-09-28 15:07] #904 closed

[2016-09-28 15:42] ameshkov commented on #1116
Hm, so it is resolved in the latest Opera version? This is great news, we'll check it on our side too.

[2016-09-28 15:53] ameshkov commented on #1116
The issue is resolved in Opera Dev.

[2016-09-28 16:01] ameshkov commented on #1116
Hm, not yet, false alarm

[2016-09-28 16:03] Bushido1 commented on #1116
I don't have connection problem anymore in latest Opera Developer 41.0.2349.0.

[2016-09-28 20:14] ameshkov commented on #1116
@Bushido1 weird, we still have it with the same Opera Dev version.

The only way to make it work is to add two more https exclusions:
[code]

Could you please examine your https exceptions list in AG settings?

[2016-09-28 20:23] Bushido1 commented on #1116
![6](https://cloud.githubusercontent.com/assets/11409601/18930744/fe4f773c-85d1-11e6-9c4b-ab4d4625a53d.jpg)
![5](https://cloud.githubusercontent.com/assets/11409601/18930745/fe522dce-85d1-11e6-91a4-f293b3fbb26b.jpg)
![7](https://cloud.githubusercontent.com/assets/11409601/18930878/7de60eac-85d2-11e6-968a-7a2f93800949.jpg)
I don't have these lines in https exclusions list nor in filter lists. I can

[2016-09-28 20:28] ameshkov commented on #1116
Weird, i wonder what's the difference..

So, ads are blocked as usual even through that VPN right?

[2016-09-28 20:57] ameshkov commented on #1304
Here is a convenient way: exit Adguard and run it again:)

[2016-09-28 21:06] Bushido1 commented on #1116
Yes, ads are blocked.

[2016-09-28 21:47] ameshkov commented on #1116
Ah, now I get it:) Nope, it's enabled in my case.

[2016-09-29 12:39] ameshkov commented on #1174
Duplicate of https://github.com/AdguardTeam/AdguardForWindows/issues/1116

[2016-09-29 12:39] #1174 closed

[2016-09-29 12:50] ameshkov commented on #1295
We cannot reproduce this issue on our side.

[2016-09-29 12:50] #1295 closed

[2016-09-29 12:50] #1287 closed

[2016-09-29 12:51] ameshkov commented on #1288
Could be caused by the messed up AG database in my case

[2016-09-29 12:51] #1288 closed

[2016-09-29 12:51] ameshkov commented on #1156
The issue is confirmed, new driver version should resolve it.

[2016-09-29 12:57] ameshkov commented on #1281
@adbuker here is a relevant code review: AJC-CR-59

[2016-09-29 13:21] #1280 closed

[2016-09-29 13:22] #1278 closed

[2016-09-29 13:22] #1294 closed

[2016-09-29 13:37] Eugene-Savenko opened #1306 "AdGuard Personal CA keeps coming back"
Adguard should respect my choice of removing AdGuard Personal CA from Windows certificate store/OS. It keeps coming back if I close Adguard and reopen it. If I don't want and remove it, it should stay removed and not auto install on next run. Please see the attached picture. It shows where that the certificate keeps re-installing itself, even though I chose not to use https. Double checked in Adgu

[2016-09-29 15:07] #1233 closed

[2016-09-29 16:52] war59312 commented on #911
USA Miltary (Adguard Breaks Secure Login):

Personally, I think it would be wise to **exclude all .mil domains by default**.

But since I can't atm, I exclude: mail.mil, dfas.mil, and army.mil.

USA Miltary uses their own CAs.

Adguard more often than not breaks not only logging in with a secure CAC card, but also digitally signing of documents.

[2016-09-29 17:04] ameshkov commented on #911
@war59312 I am not sure if excluding top level domain works.

Added to the "other services" list

[2016-09-29 17:12] vozersky commented on #1304
I mean x.db, xtls.db, xv.db files, you can't delete them by restarting Adguard.

[2016-09-29 17:14] ameshkov commented on #1304
Why so, you can.

[2016-09-29 17:23] vozersky commented on #1304
You actually can't, i guess it's a bug

[2016-09-29 18:13] war59312 commented on #1304
Adguard Service uses these files.

You have to not only exit the UI but stop the service first.

[2016-09-29 18:31] war59312 commented on #911
Indeed, that might be something to add. Ability to exclude entire top level domains.

OK, Thanks for adding.

[2016-09-30 18:18] vgavrish commented on #737
Adguard ВКЛючен, запускаю проект нажимаю "Пуск" для отладки - появляется ошибка. ВЫКЛючаю Adguard, делаю отладку - опять ошибка. Переоткрываю проект (Adguard по прежнему ВЫКЛючен) запускаю отладку все отлично работает. И обратно запускаю студию включаю отладку все работает. Включаю Adguard запускаю отладку все равно работает.
Перезапускаю проект со включенным Adguard опять ни чего не работает. То

[2016-10-01 06:35] ameshkov commented on #142
MS dev has just answered me about this issue and he is not able to reproduce it as it is described in https://github.com/AdguardTeam/AdguardForWindows/issues/142#issuecomment-173622108.

@gshumihin please check the old driver version. Could it be that the issue is now fixed on the windows defender side and we can now get rid of that ugly workaround?

[2016-10-02 22:54] ameshkov commented on #1304
This is a bug indeed, x*.db files should be deleted on every network API re-init.

[2016-10-03 12:01] evgeniy-ADG opened #1307 "adguard.com site - duplicate content"
https://adguard.com/en/adguard-windows/overview.html

![image](https://cloud.githubusercontent.com/assets/15856304/19036710/427f2de8-897a-11e6-972c-4996b0b830af.png)

[2016-10-03 15:20] gshumihin commented on #142
Issue still exist with Adguard ver. 6.0.133.742

[2016-10-03 15:42] vbagirov commented on #882
Не может определить размер файла аудиозаписи в ВК, а так же на страницах не появляется кнопка настройки скрипта.
https://forum.adguard.com/index.php?threads/3056/#post-104556

[2016-10-04 08:27] ameshkov commented on #142
Good news, MS devs were able to reproduce the issue. They are looking for a root cause of it.

[2016-10-05 08:51] suhan3z commented on #1239
Fixed for files.

[2016-10-05 10:38] #1281 closed

[2016-10-05 10:41] adbuker commented on #1116
opera's vpn-domens include to https extension list

[2016-10-05 12:20] Zed-69 opened #1308 "Adguard Assistant"
Adguard Assistant ne marche que sur un seule profil Firefox. Sur mon 2ème profil ça ne marche pas, Adguard Assistant n'est pas détecté.

Merci pour votre formidable travaille !

In english ( sorry for my english... ^^ ) :

Adguard Assistant work on one profile Firefox, On my 2nd profile it does not work, Adguard Assistant is not detected.

Thank you for your great work!

[2016-10-05 14:34] vbagirov opened #1309 "Adguard does not recognize EV certificate on passport.yandex.ru in Firefox"
Has to be tested in Firefox.

[2016-10-05 14:36] vbagirov commented on #1309
https://yadi.sk/d/P3664f2UwHd8y - the certificate in question.

[2016-10-05 15:04] ameshkov commented on #1308
Hi! What's the difference between these 2 profiles? Maybe different add-ons or soemthing like that?

[2016-10-06 01:53] The-Commissioner commented on #1233
I hope that it would also block trackers,spyware etc. and not just ads.

[2016-10-06 09:27] ameshkov commented on #1233
Sure, but the quality will depend on the filter lists.

[2016-10-06 12:22] The-Commissioner commented on #1233
won't it use the ones that are already installed in the prog and enabled like spyware, easyprivacy etc.?

[2016-10-06 17:08] #1302 closed

[2016-10-06 21:04] vozersky commented on #1304
logs from today:
[Logs.zip](https://github.com/AdguardTeam/AdguardForWindows/files/514790/Logs.zip)

[2016-10-07 14:13] #1305 closed

[2016-10-07 14:48] confessor-adguard commented on #1303
@gshumihin please, test this issue on new Adguard builds. I think we already fix it.

[2016-10-08 09:26] confessor-adguard commented on #1300
This is because script defines properties on our wrapper instead of an original window.

[2016-10-08 10:14] ameshkov opened #1310 "WFP is completely broken in Windows 10 build 14942"
Here is the issue discussion on our forum:
https://forum.adguard.com/index.php?threads/adguard-blocking-all-websites-on-latest-windows-10-insider-fast-ring-release.14637/

[2016-10-08 16:00] Bohdan-SUP commented on #1310
2 users with same issue - 1102384 and 1070172

[2016-10-09 01:33] obiwankenobijohn commented on #1310
Glad this is being worked on. I have noticed, since disabling the wpf driver, my download speeds are MUCH faster. Glad we caught this now, instead of in the future, especially since my license is about to expire. As always, amazing job, Adguard team! :) 👍

[2016-10-09 23:58] ameshkov opened #1311 "An issue with keep-alive connections"
https://forum.adguard.com/index.php?threads/weird-headers-on-websites-with-adguard-picture-enclosed.14363/#post-105806

Steps to reproduce:
1. Visit http://search.daum.net/search?w=tot&DA=YZR&t__nil_searchbox=btn&sug=&sugo=&q=+
2. Press refresh button several times until the issue appears. It does not appear every time, but almost certainly in once in 50 times.

[2016-10-10 07:55] Aokromes commented on #1310
I confirm this issue.

[2016-10-10 08:08] #1254 closed

[2016-10-10 10:10] ameshkov commented on #1300
@confessor-adguard so I guess this userscript does not work in greasemonkey?

[2016-10-10 10:20] suhan3z commented on #1189
Can't wix because norton toolbar set adguard button style directly

[2016-10-10 10:20] #1189 closed

[2016-10-10 10:27] ameshkov commented on #1310
Guys, I suppose we all should upvote the bug report in Windows feedback hub:
feedback-hub:?contextid=392&feedbackid=11a6118e-0665-490f-85ea-af23f5526cd3&form=1&src=2

[2016-10-10 13:15] confessor-adguard commented on #1301
It is hard to say what exactly is wrong.
Even single of our injections is enough to break it all.

@Alex-302, please add this site to exceptions.

[2016-10-10 13:27] vbagirov commented on #1311
Log file is provided by user here: https://forum.adguard.com/index.php?threads/weird-headers-on-websites-with-adguard-picture-enclosed.14363/#post-105984

[2016-10-10 13:30] confessor-adguard commented on #1300
It works in Greasemonkey, unfortunately.
Seems that in a case of userscript specify `@grant none` unsafeWindow is equals to the original window. So since userscript uses:
`Object.defineProperties(window, {fuckAdBlock : { value: fuck, enumerable: true, writable: false }});`
on window (which should be a wrapper), userscript works.

Because we are not going to make significant changes in the wrapper

[2016-10-10 14:02] Alex-302 commented on #1301
Added
[code]

[2016-10-10 15:21] ameshkov opened #1312 "Add $important modifier"
Detailed description:
https://github.com/AdguardTeam/AdguardForAndroid/issues/833

Please take a look at the code review. Besides adding new modifier, I've done some performance improvements. x4 speed improvement.

Code review:
adguard-java-code/review/AJC-CR-76

[2016-10-10 16:31] suhan3z commented on #882
Fixed

[2016-10-10 16:37] MrTal opened #1313 "sh.st"
Hey
i no can pass page in click on "skip this as" nothing happened
i checked and without Adguard this yes work
exmple: http://sh.st/BrH0i
https://i.gyazo.com/0769ac5f647822d2864c3364175a2b7b.gif

[2016-10-10 16:39] ameshkov commented on #1313
@MrTal i've invited @Alex-302 here, he'll take a look at it.

This is not a program bug, so next time it'd be better if you file an issue in the "AdguardFilters" repo:
https://github.com/AdguardTeam/AdguardFilters

[2016-10-10 16:46] MrTal commented on #1313
but i  think this yes program bug because this only adgurad happened and i try disable filer "English filter" and this no work, only when i  disable protection this yes work.

[2016-10-10 17:08] Alex-302 commented on #1313
As I say in this issuue https://github.com/AdguardTeam/AdguardFilters/issues/3133 I can't reproduce.
But you did not provided any information.

[2016-10-10 17:24] MrTal commented on #1313
Expected behaviour: Hey
i no can pass page in click on "skip this as" nothing happened
i checked and without this yes work, this only adgurad happened and i try disable filer "English filter" and this no work, only when i disable protection this yes work.

Screenshot: https://i.gyazo.com/0769ac5f647822d2864c3364175a2b7b.gif
Steps to reproduce the problem: on clic in "skip ads" nothing happened.

A

[2016-10-11 07:20] #1245 closed

[2016-10-11 09:00] suhan3z commented on #797
Fixed

[2016-10-11 09:00] #797 closed

[2016-10-11 14:21] ameshkov commented on #249
Duplicate of https://github.com/AdguardTeam/AdguardForWindows/issues/941

[2016-10-11 14:21] #249 closed

[2016-10-11 14:58] Alex-302 commented on #1222
@adbuker Another one NSFW
http://www.porno34.net/liseli-porno/ah-su-liseli-surtukler-ne-harika.html

[2016-10-11 19:46] southwestvinyl opened #1314 "Proxy mode is broken in the latest beta (for IPv6)"
**Description**:
latest beta update breaking all google domains mail.google.com maps.google.com youtube etc.. also it is breaking adguards domains as well! please see the following list when i turn off proxy mode everything working fine! re-enable it and everything breaks! thanks

List:
mailtrack.io
mail.google.com
hangouts.google.com
*.client-channel.google.com
*.google.com
*.gstatic.com
mail-att

[2016-10-11 20:14] southwestvinyl commented on #1314
Moved to https://github.com/AdguardTeam/AdguardFilters/issues/3177

[2016-10-11 20:17] southwestvinyl commented on #1314
Leaving opened until im told otherwise or i should close it. thanks

[2016-10-12 03:36] The-Commissioner commented on #1314
can you try manualy importing the AG certificate, delete the previous one and import again.

@ameshkov this new beta, I clicked on reinstall certificate with my FF open (49.0.1 x64) but while reinstalling certificate, it didn't closed down firefox, so maybe some forgot something about firefox.

[2016-10-12 03:37] The-Commissioner commented on #1245
Thank you for this, tested and works like a charm, hope it works for other sites as well. :-)

[2016-10-12 03:53] The-Commissioner commented on #1233
@ameshkov @confessor-adguard
something further on this - since u incorporated this in latest beta version, I tried it out on askvg.com

it's a http page with and https request from google analytics which it was not able to block.
![Filtering Log] (http://i.imgur.com/hqiAvQF.png)

![DevTools] (http://i.imgur.com/8jGTXf4.png)

[2016-10-12 05:58] The-Commissioner opened #1315 "The support system @kb.adguard.com is a disaster"
I didn't know where to put this type of request so I'm putting it here.
1) In one instance, they closed down the ticket without any intimation or reply or anything.
2) In another instance, I called for the supervisor or the head of support, I am still to receive contact from him and the ticket was closed absurdly.
3) There is no particular or single assignee to a ticket, many support staff member

[2016-10-12 09:08] ameshkov commented on #1314
@The-Commissioner it seems that there is some sort of issue, too many complaints.

Checking it on our side.

[2016-10-12 09:24] ameshkov opened #1316 "Adguard code is injected into a non-html document"
Source:
https://forum.adguard.com/index.php?threads/html-filtration-is-applied-to-non-html-document.14765/

[2016-10-12 13:36] confessor-adguard commented on #1314
@southwestvinyl could you please test this issue on our new build?

[2016-10-12 15:36] ameshkov commented on #1315
I am sorry for this. I guess that's because we are in process of getting rid of the old CRM (kb.adguard.com) in favour of new simple email-based CRM.

I hope in a month or so the old one will be finally turned off completely.

[2016-10-12 15:36] #1315 closed

[2016-10-12 15:37] ameshkov commented on #1315
Summoning head of support here: @vozersky

[2016-10-12 17:01] vozersky commented on #1315
@The-Commissioner

Hi! Sorry for that bad experience you had. Looks like there really was a bug somewhere on the edge between two ticketing systems. We are getting rid of Kayako soon, and the best way to communicate with support team is direct email.

[2016-10-12 17:15] The-Commissioner commented on #1315
Thanx avatar and @vozersky for the comforting words. Can you please mention or point me to that direct email for support for further references?

[2016-10-12 20:59] MrTal commented on #1313
have me  only Browsing security

[2016-10-12 22:29] dyingjedi commented on #1314
Hi5 and thanks guys for the quick response and help! Justin from SWVinyl I'll log into my work account in a few and check the changes. also yes i did in fact do the certificate reload too just hoping something would give and make it all work again didn't help at that time headed to work on ladies gate be back later tonight!

Justin Cram
DyingJedi

SouthWest Vinyl Admin

[2016-10-13 10:02] Alex-302 commented on #1313
@MrTal could you provide me remote access?

[2016-10-13 10:14] vozersky commented on #1315
@The-Commissioner oh, it's just support@adguard.com
If something goes wrong again, let me or support supervisor @Bohdan-SUP know please. We are always here to help.

[2016-10-13 12:16] ameshkov opened #1317 "HTTPS exceptions do not cover subdomains"
**Steps to reproduce:**
1. Add getgrav.org to https exclusions
2. Go to learn.getgrav.org
3. Check the certificate

**Expected result:**
Genuine certificate

**Actual result:**
Adguard certificate

[2016-10-13 12:31] The-Commissioner commented on #1315
Thanx @vozersky I had already found it out by that time ;)
Today again one of my tickets got closed down abruptly. I don't mind it as I seen the answer here but still not good.
Now I have tried the direct email support thing, let's see how it goes. Hope that is not as this one. :(

[2016-10-13 12:33] The-Commissioner commented on #1315
And just as I was typing the count of abrupt closing reached 3.

[2016-10-13 12:52] MrTal commented on #1313
yes

[2016-10-13 13:10] Alex-302 commented on #1313
I will be ready at 20:00 by Moscow time

[2016-10-13 13:49] #1317 closed

[2016-10-13 14:38] vbagirov opened #1318 "Copy filter's name with the rest of request details"
Currently everything is copied except for it:
http://c57i.imgup.net/ScreenShot3c52.png

Original thread:
https://forum.adguard.com/index.php?threads/copy-request-data-button-in-filtering-log-window-not-working-as-it-should.14786/

[2016-10-13 14:41] vgavrish opened #1319 "[Feature request] Changing the menu interface "Block element" in the Assistant menu"
Пожалуйста, внесите небольшие изменения в интерфейс выбора элементов при создании правил
скрытия!
Из-за описанных ниже неудобств приходится совмещать AdGuard с другими блокировщиками. Очень не удобно, что при любом перемещении регулятора "больше-меньше" каждый раз нужно нажимать "предпросмотр".
Динамический просмотр должен быть включен всегда! То же касается кнопки "Расширенные настройки". Они не

[2016-10-13 14:53] vbagirov opened #1320 "[Feature request] An option to silently close windows from phishing black list"
I.e. closing the tab without showing this window: http://screencast.com/t/QlsSkTJUYcva

Original thread:
https://forum.adguard.com/index.php?threads/adguard-malware-blocking-options.14787/

[2016-10-14 08:30] confessor-adguard opened #1321 "HTTPS does not filter in Firefox when Tor used"
Details: https://forum.adguard.com/index.php?threads/adguard-%D0%B4%D0%BB%D1%8F-windows-%D0%91%D0%B5%D1%82%D0%B0-%D0%B2%D0%B5%D1%80%D1%81%D0%B8%D1%8F-6-1-273-1479-r2.14749/#post-106664

We need to check is it possible to detect this case and enable HTTPS filtering for Firefox when Tor running  in console mode.

[2016-10-14 10:21] Bohdan-SUP commented on #67
@ameshkov any update on this issue?

[2016-10-14 11:09] #1301 closed

[2016-10-14 11:36] #1303 closed

[2016-10-14 11:56] vbagirov opened #1322 "$jsinject exception rules are not being applied"
For example, if you add a rule @@||google.com^$jsinject and go to google.com, window.AG_onLoad is still there.

Original thread: https://forum.adguard.com/index.php?threads/14750/page-2#post-106910

[2016-10-14 13:11] MrTal commented on #1313
when you can?
this still no work... :(

[2016-10-14 14:22] adbuker commented on #1322
it is impossible to reproduce an error. I guess that is not an error, but there is a little carelessness in example above. If you launch google.com not from USA (or USA's vpn) google redirect (302) you to local site version (i.e. google.co.uk for UK etc.). So this rule not apply to your request

[2016-10-14 14:22] #1322 closed

[2016-10-14 14:24] Alex-302 commented on #1313
I can now

[2016-10-14 17:07] Kenuat commented on #737
+1, такая же проблема, пришлось отключить adguard

[2016-10-14 18:19] southwestvinyl commented on #1314
Seems to be fixed and working as normal! thank you guys.

![latest beta fixes ca certificates i can it seems to be working thanks hi5](https://cloud.githubusercontent.com/assets/22777187/19398139/68e81b20-9208-11e6-94eb-58b63236ef39.png)

[2016-10-14 18:21] southwestvinyl commented on #1314
There is an outstanding issuse still not fixed and has been around longtime is any extension from google chrome (PlayStore) marketplace doesn't ever install why is this? i always have to disable proxy install and then restart connection to adgaurd proxy?

[2016-10-14 20:07] southwestvinyl commented on #1314
Okay one of the other domains the other domains being blocked also is - http://prnt.sc/

System.Net.Sockets.SocketException: A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond [2400:cb00:2048:1::6819:ca1c]:80Source: SystemStack trace:    at System.Net.Sockets.Socket.D

[2016-10-14 20:39] southwestvinyl commented on #1314
Okay more problems with update.
content.js:2536cur fame:0064a3bdc7189bb27378896cc640b397
content.js:2536cur fame:54f869fc176e6da9b0e759e142078bb7
content.js:2536cur fame:0064a3bdc7189bb27378896cc640b397
content.js:2536cur fame:0064a3bdc7189bb27378896cc640b397
content.js:2536cur fame:23698c921a7f61dbc53b12a58a0611d1
content.js:2536cur fame:da6b8d848e14f380cdba3235940ca2ec
content.js:2536cur fame:78

[2016-10-15 00:12] MrTal commented on #1313
you can now?

[2016-10-15 09:25] Bohdan-SUP commented on #1233
@ameshkov could you please check the request above?

[2016-10-15 09:55] Alex-302 commented on #1313
Usually I can at 11:00-20:00(Mon-Fr) by Moscow time

[2016-10-15 14:14] MrTal commented on #1313
you can now?

[2016-10-15 16:42] Alex-302 commented on #1313
Please remind me tomorrow.

[2016-10-15 16:43] MrTal commented on #1313
ok

[2016-10-15 17:35] Alex-302 commented on #1222
The same
http://www.aksam.com.tr/video/guncel/kadir-topbastan-tatlici-aliye-telefon/24438

[2016-10-16 13:27] MrTal commented on #1313
now?

[2016-10-16 13:36] Alex-302 commented on #1313
Ok. Send me Teamviewer ID and password

[2016-10-16 13:38] MrTal commented on #1313
Send here?

[2016-10-16 13:42] Alex-302 commented on #1313
yes. I will remove the message

[2016-10-16 13:49] MrTal commented on #1313
ok:
735 026 775
2633

[2016-10-16 14:12] Alex-302 commented on #1313
Added to English filter
[code]

[2016-10-17 11:06] ameshkov opened #1323 "Proxy should use IPv4 address when it is available"
Here is why:
https://github.com/AdguardTeam/AdguardForWindows/issues/1314#issuecomment-253906681

[2016-10-17 11:06] ameshkov commented on #1314
@southwestvinyl i've moved this to a separate issue:
https://github.com/AdguardTeam/AdguardForWindows/issues/1323

[2016-10-17 11:06] #1314 closed

[2016-10-17 12:38] ameshkov commented on #67
No update yet

[2016-10-17 12:39] ameshkov commented on #67
@confessor-adguard is it easy to do such a thing?

[2016-10-17 12:52] ameshkov commented on #1233
@The-Commissioner

The rule blocking google analytics looks like:
`||google-analytics.com^$third-party` which means "block third party requests".

The problem with limited https filtering is that we know nothing except request domain name. So we don't know if request is third party or not, therefore it is not blocked.

That's why I said that it'd be better to import AG DNS filter. $third-party mod

[2016-10-17 12:55] ameshkov commented on #1222
@adbuker could you please check if HTML is detected ok for those new links?

[2016-10-17 14:28] Bohdan-SUP commented on #1166
Should we get the Messages widget back in place, when using Assistant in another corner?
Now it shows like this:
<details>
![image](https://cloud.githubusercontent.com/assets/14153331/19441645/0bce58a8-948f-11e6-979f-a37a94578b65.png)
</details>

[2016-10-17 16:29] adbuker commented on #1222
@ameshkov ok, I've got it

[2016-10-18 06:23] The-Commissioner commented on #1233
@ameshkov first of all thank you for replying.

I have subscribed to Spyware and EasyPrivacy filter lists both of which contain the filter rule
||google-analytics.com/analytics.js
without the 'third-party' modifier, so theoretically now they should have blocked that request as well, since it matches the request on that page.

![1] (https://i.imgur.com/vg1Zudu.jpg)

![2] (https://i.imgur.com/vSTqWI

[2016-10-18 06:44] vgavrish opened #1324 "[Feature request] Add to personal Account for each license option "Number of available devices""
К примеру, на Премиум: "Количество свободных мобильных устройств", "Количество свободных ПК"
<details>

![image](https://cloud.githubusercontent.com/assets/18548949/19467000/72bad5d6-9517-11e6-9f19-07de22e340b3.png)

[2016-10-18 07:31] #1316 closed

[2016-10-18 10:50] ameshkov commented on #1233
[code]

This rule targets specific file, not the whole domain.

Here is the rule to block the whole domain:
`||google-analytics.com^`

[2016-10-18 10:51] ameshkov commented on #1324
Let's wait for website redesign, it is in process now

[2016-10-18 11:48] The-Commissioner commented on #1233
@ameshkov I'm finding it a little hard to understand, but isn't this 'the file' that is requested by the site - askvg.com?
Also can you give me the link/url to add Adguard DNS filter lists?

[2016-10-18 12:08] ameshkov commented on #1233
@The-Commissioner in case of the rule `||google-analytics.com/analytics.js` the file path is `/analytics.js`.

The problem is that when https filtering is not enabled, there is no way we can find out which file is requested. The only thing we see is the domain name (`google-analytics.com`).

https://github.com/AdguardTeam/AdguardDNS/blob/master/Filters/filter.txt

[2016-10-18 12:56] vbagirov commented on #882
File size and bitrate are determined correctly, but the 'settings' button is still missing:
https://forum.adguard.com/index.php?threads/3056/#post-107144

[2016-10-18 14:11] Alex-302 commented on #1222
http://news.xinhuanet.com/english/2016-10/18/c_135763685.htm

[2016-10-18 14:50] ameshkov opened #1325 "SHA1 deprecation step 2"
[code]

[2016-10-19 00:42] voarsh opened #1326 "Adguard (6.1.273.1479) causes issue with playback on Google Drive"
Hi.

Adguard (6.1.273.1479) is causing issues with playback. For some reason it is preventing videos from loading.

I try to load the video and presents an error. After disabling/closing Adguard the video loads normally.

[2016-10-19 10:40] seanl-adg opened #1327 "Auto-update disabled filters too"
On my device with Adguard for Windows 6.1.273.1479, unchecked filters are not being updated, but user may need them to view its contents.

[2016-10-19 10:54] ameshkov commented on #1326
Thank you for reporting it!

@gshumihin could you please try reproducing this issue?

[2016-10-19 11:18] vozersky opened #1328 "Add Hebrew translation"
Misc, Wot extension, Asistant extension

[2016-10-19 11:46] adbuker commented on #1222
@Alex-302 now it's ok with http://news.xinhuanet.com/english/2016-10/18/c_135763685.htm (http://c2n.me/3Ds2aHC). Probably this has been auto-fixed when were resolved previous errors

[2016-10-19 11:47] #1323 closed

[2016-10-19 11:48] #640 closed

[2016-10-19 12:12] Alex-302 commented on #1222
@adbuker sorry, my mistake. Injecting works, but my rule is not injected(from social filter)
`xinhuanet.com##td[align="right"] > a[href^="javascript:(function(){window.open("]`

[2016-10-19 12:25] ameshkov opened #1329 "Upgrade "ExtendedCss" module to v1.0.6"
https://github.com/AdguardTeam/ExtendedCss/tree/master/dist

[2016-10-19 12:50] adbuker commented on #1222
ok, good:)

[2016-10-19 14:15] GollyJer commented on #1310
Thanks guys.  I was sending in log files to support.  Didn't realize others had discovered the issue as well.
In the Windows Feedback Hub, search "wfp" and upvote the two issue that come up.

[2016-10-19 15:24] adbuker opened #1330 "Refused to apply inline style because it violates the following Content Security Policy directive"
when run sites like translate.yandex.ru an error with "Refused to apply inline style because it violates the following Content Security Policy directive" associated with nonces discrepancy

example:
http://c2n.me/3DsLsdk

[2016-10-19 15:25] adbuker opened #1331 "Refused to apply inline style because it violates the following Content Security Policy directive"
when run sites like translate.yandex.ru an error with "Refused to apply inline style because it violates the following Content Security Policy directive", associated with nonces discrepancy, occurs

example:
http://c2n.me/3DsLsdk

[2016-10-19 15:26] #1330 closed

[2016-10-19 15:36] ameshkov commented on #1331
@adbuker heh, so `nonce` could be applied to styles as well.

[2016-10-19 15:38] ameshkov commented on #1331
After this issue is done we should create similar issues for Mac and Android.

[2016-10-19 16:43] gshumihin commented on #1326
Video played well.
Here's steps i did:
1. Opened new tab in Google Chrome and went to [Google Drive](https://drive.google.com/drive/my-drive)
2. Loaded 30-sec video (.mp4)
3. Double-clicked on uploaded video
That's how it looked like
<details>
<img src="http://content.screencast.com/users/shumegor/folders/Jing/media/f0e68554-b1b1-49f4-8b39-1fd316215ded/00001464.png">
</details>

[2016-10-19 16:48] gshumihin commented on #1326
What filters do you have enabled @voarsh ?

[2016-10-19 17:09] voarsh commented on #1326
@gshumihin I have disabled all additional filters and still get the same result.

![adguard-gdrive-load](https://cloud.githubusercontent.com/assets/10189051/19529241/02649acc-9627-11e6-9805-93f596c3c011.PNG)

[2016-10-19 17:32] joeparkerz opened #1332 "HTML5 Fingerprinting"
Hi!

Please introduce a feature for this.

[2016-10-19 17:32] joeparkerz opened #1333 "Enforce HTTPS only"
Please introduce a feature for this.

[2016-10-19 18:34] vgavrish commented on #1292
Логи
https://yadi.sk/d/rJBsDeogxB2vH

[2016-10-20 08:01] adbuker commented on #1326
@voarsh could you please show what is hidden under "Learn more" link in screen above

[2016-10-20 09:48] The-Commissioner commented on #1315
@vozersky you said that the direct email service support is a better one, frankly I have found it to be even more pathethic to say the least than the kayako system. Same problems. I am no longer interested in the product which is paid and has this level of support system.

[2016-10-20 10:16] vbagirov commented on #1239
Still does not work for filters added by url.

Also, for some users, instead of filter's name it's HTTP address is indicated:
![image](https://cloud.githubusercontent.com/assets/8577533/19555912/5e79d502-96c7-11e6-8d47-74c6bc3b5009.png)

Original thread:
https://forum.adguard.com/index.php?threads/14749/page-2#post-108222

[2016-10-20 10:26] ameshkov commented on #1312
One more important addition:
adguard-java-code/revision/74ea4900c964bc8fc74ddc9d2272670dac6c349f

[2016-10-20 10:42] ameshkov commented on #1332
I guess you mean blocking fingerprinting?

There's an open issue about it:
https://github.com/AdguardTeam/AdguardForWindows/issues/114

[2016-10-20 10:42] #1332 closed

[2016-10-20 10:43] ameshkov commented on #1333
Hi! This issue is a duplicate for https://github.com/AdguardTeam/AdguardForWindows/issues/442

Please upvote that feature request if you feel that we need it.

[2016-10-20 10:43] #1333 closed

[2016-10-20 10:54] ameshkov commented on #1326
@voarsh what about stealth mode? Do you have it enabled?

[2016-10-20 11:00] voarsh commented on #1326
@ameshkov Stealth mode is not activated.

[2016-10-20 11:01] voarsh commented on #1326
@adbuker I do not have my computer available to get this error at the moment. I'll reply later with the page it links to.

[2016-10-20 12:34] ameshkov commented on #1156
This issue should be resolved in the latest beta version.
Closing it.

[2016-10-20 12:34] #1156 closed

[2016-10-20 13:13] ameshkov commented on #1315
@The-Commissioner
I am sorry to hear it. However, I see a clear misunderstanding here.

You report bugs and crashes to the support service, which purpose is to help users with relatively simple questions. They simply do not have enough understanding to help you with resolving crashes and such. So the only thing they do is requesting logs and then passing it further to devs. Instead you could have

[2016-10-20 14:02] The-Commissioner commented on #1315
@ameshkov Understand it from this point of you :-

Let my case standaway for a while

Not all users are members on github nor are they member at your forums, what they do is use the in app/extension provided support available to them. From what I know the report option in AG extension, don't even tell them that your issue has been received, or where you can monitor it, so you can't expect them to

[2016-10-20 14:16] #1312 closed

[2016-10-20 14:19] #1304 closed

[2016-10-20 17:28] ameshkov opened #1334 "Unnecessary error in AG log"
[code]

[2016-10-20 20:36] muskle opened #1335 "Adguard Assistant module"
The adguard assistant module disappears from all the of the browsers I use in start happening today. it the version 3.0.107. I think it's the recent update that happened today causes this to happen.  Here is a picture http://imgur.com/opLwnSp

[2016-10-20 22:18] ameshkov commented on #1335
Confirmed, thank you! We'll fix it asap

[2016-10-20 22:34] ameshkov opened #1336 "Do not add empty `style` if there're no element hiding rules"
Currently even when there're no css rules, content script still adds an empty `style` tag.

Take a look at config:
[code]

[2016-10-20 22:41] ameshkov commented on #1335
Resolved

[2016-10-20 22:41] #1335 closed

[2016-10-21 09:34] ameshkov commented on #1310
Still broken in build 14951.

The issue also affects some major (if not all) AV products, for instance malwarebytes.

[2016-10-21 10:14] Aokromes commented on #1310
confirmed, and upvoted the 2 matches for wfp on feedback.

[2016-10-21 12:09] adbuker opened #1337 "UI exception when remove user rule with non-empty "domain" modifier with ctrl-x"

[2016-10-21 12:23] suhan3z commented on #1331
http://upsource.adguard.com/ADWin/review/ADWIN-CR-61

[2016-10-21 12:26] #1337 closed

[2016-10-21 12:41] suhan3z commented on #1334
Fixed

[2016-10-21 12:41] #1334 closed

[2016-10-21 19:05] fidodkk opened #1338 "[Feature request] Add support for new filter list types"
Add support for new filter list types like these here:

Malware Domain List‎ (malwaredomainlist.com):
http://www.malwaredomainlist.com/hostslist/hosts.txt
Malware domains‎ (www.malwaredomains.com):
http://mirror1.malwaredomains.com/files/justdomains
Malware domains (long-lived)‎ (www.malwaredomains.com):
http://malwaredomains.lehigh.edu/files/immortal_domains.txt
Malware filter list by Disconnect‎

[2016-10-21 23:37] voarsh commented on #1326
Sorry about the delay. Here's the link to the "learn more" - https://support.google.com/youtube/answer/3037019?visit_id=1-636126898112192180-1230310261&p=player_error1&rd=1

[2016-10-21 23:41] voarsh commented on #1326
I'm really sorry @ameshkov - I double checked and found Stealth was enabled. 😢 I thought it was off. Turning off stealth mode "solved" my issue.
Settings currently enabled with stealth mode:

- Hide your search queries

- Send DO-NOT-TRACK Header

- Remove X-Client Data header from HTTP requests

- Self-destructing third-party cookies (30)

- Block Location API

--- that's all

[2016-10-23 08:43] vgavrish commented on #1127
the same id 1390829

[2016-10-23 10:43] evgeniy-ADG commented on #1219
Not a DLink device, but a similar problem: 1154661

[Adguard.zip](https://github.com/AdguardTeam/AdguardForWindows/files/546279/Adguard.zip)

[2016-10-23 22:37] seanl-adg opened #1339 "A generic hiding rule was not applied in an iframe"
Sample website: http://seoul.co.kr/news/newsView.php?id=20161024016023
A generic hiding rule `###livere_ad` in a filter List-KR is not applied in an iframe
```<iframe name="iframeLivere" width="630px" height="0" align="left" id="iframeLivere" src="/news/getLivereSns.php?id=20161024016023" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="height: 353px;"></iframe>```

[2016-10-24 09:42] ameshkov commented on #1338
Most of the malware domains are already covered by AG browsing security module.

What for other files, I guess we should first add "hosts" files support, planned on v6.2:
https://github.com/AdguardTeam/AdguardForWindows/issues/1036

[2016-10-24 09:47] ameshkov commented on #1326
@voarsh got it, thank you!

I've opened an issue in AdguardFilters repo, it should be solved shortly:
https://github.com/AdguardTeam/AdguardFilters/issues/3261

[2016-10-24 09:47] #1326 closed

[2016-10-24 10:31] #1336 closed

[2016-10-24 10:43] ameshkov commented on #1339
@seanl-adg are you sure this is about AG for Windows and not about browser extension?

[2016-10-24 12:56] seanl-adg commented on #1339
Yes, I can reproduce this with Adguard for Windows 6.1.278.1411 and Microsoft Edge 38.14393.0.0

[2016-10-24 15:49] ameshkov opened #1340 "Check if content script was already executed"
Otherwise we could execute it twice.

[2016-10-24 16:10] ameshkov opened #1341 "Suppress adding to temporary https exceptions when connection is closed from the server side"
Here is what I mean: if network api has not yet indicated a server certificate, suppress adding endpoint to exceptions. If server certificate was indicated and then you receive an "ssl exception" event, do not suppress exception.

[2016-10-24 16:50] ameshkov opened #1342 "Start using new filters server instead of AG backend"
### Metadata

`https://filters.adtidy.org/[platform]/filters.json`
### Translations

`https://filters.adtidy.org/[platform]/filters_i18n.json`
### Filters

`https://filters.adtidy.org/[platform]/filters/[filterId].txt`

For instance:
`https://filters.adtidy.org/[platform]/filters/2.txt`
`https://filters.adtidy.org/[platform]/filters/[filterId]_optimized.txt`

`_optimized` suffix stands for "mobile

[2016-10-24 17:15] ameshkov commented on #704
Duplicate for https://github.com/AdguardTeam/AdguardForWindows/issues/1247

[2016-10-24 17:15] #704 closed

[2016-10-24 17:34] ameshkov opened #1343 "Mark all XMLHttpRequests with a special header"
Here is what can be done:
1. In our content script override XMLHttpRequest constructor.
2. Force it to add `X-Requested-With: XMLHttpRequest` header to all requests.

[2016-10-25 09:28] vbagirov commented on #1318
Seems like the filter name is still not copied when there are several rules applied:
http://i03i.imgup.net/ScreenShotbe02.png

[2016-10-25 09:31] adbuker commented on #1318
ok, i've got it

[2016-10-25 13:28] vgavrish commented on #1324
ok
1278953

[2016-10-25 13:35] vgavrish commented on #713
id 1278953

[2016-10-25 15:37] seanl-adg opened #1344 "Add Alyac to default filtered apps"
Download it from here: http://software.naver.com/software/summary.nhn?softwareId=MFS_100027
C:\Program Files\ESTsoft\ALYac\ALYac.aye
It contains ads.
I can't manually add this executable to the filtered apps, because it does not have an file extension exe.

[2016-10-25 16:23] adbuker opened #1345 "ListenToServerEvents only when server side is ready"
server-side mutex

[2016-10-25 17:06] adbuker commented on #1222
Adguard injects its contents to a js file so the page is broken: http://www.nocutnews.co.kr/news/4673964

[7:55]
Problematic url: http://www.nocutnews.co.kr/js/nocutnews.v2.htm

[7:56]
The response body starts with //<script type=.... </script> (edited)

[7:57]
and Adguard injects its contents between // and <script>, so the <script> is no longer "commented" and the whole script is broken

[2016-10-26 13:10] BooBerry commented on #1310
And it looks like it's still broken in 14955 too.

[2016-10-26 13:21] vbagirov commented on #1289
Also with fanserials.tv - https://forum.adguard.com/index.php?attachments/%D0%91%D0%B5%D0%B7%D1%8B%D0%BC%D1%8F%D0%BD%D0%BD%D1%8B%D0%B9-png.5934/

[2016-10-26 13:41] Alex-302 opened #1346 "Understand how to block <script type="text/rocketscript">"
Example link:
pornleech.com/index.php?page=torrent-details&id=709073581ab043dbc4b62fe2d2ed71b476ccd838
This script should be blocked:
`prscripts.com/pub.js`
How it looks in Chrome dev tools
<details>
![image](http://i82.fastpic.ru/big/2016/1026/07/b9646fb2770bc7c2cd09c44241eb2007.png)
</details>
Script:

[code]

[2016-10-26 14:13] seanl-adg commented on #1346
As I understand, easylist authors use rules like the following:
![1234](https://cloud.githubusercontent.com/assets/22858651/19729334/a6c84fa0-9bd1-11e6-8898-6483c469a19e.png)

[2016-10-26 14:46] adbuker commented on #1345
related to https://github.com/AdguardTeam/AdguardForWindows/issues/1304

[2016-10-26 15:13] vozersky opened #1347 "Add Salam Browser to the default list of filtered apps"
https://salambrowser.com/

[2016-10-26 22:18] obiwankenobijohn commented on #1310
Yes, unfortunately. I commented via neowin, although, I try not to comment too much.....but sadly, it's still broken. I upvoted in the feedback hub as well, but I guess they just aren't listening. How unfortunate. Long gone, I guess, are the days of being a Microsoft beta-tester, as we are all testers, it seems. Oh well.

[2016-10-27 08:37] confessor-adguard opened #1348 "Add Korean localization"

[2016-10-27 09:38] vbagirov opened #1349 "Unnecessary text in 'Import rules' dialog window"
When you click here:
http://screencast.com/t/0oN6BnipRQ

The following window appears, with excess text in the input text field:
http://screencast.com/t/HHOsgvsQ9lXD

Even if this text is considered necessary, it is cut.

[2016-10-27 09:58] Alex-302 opened #1350 "Yandex Maps are broken with my database"
Yandex Maps are broken with my DB.
All filters, extensions and ad blocker modules are disabled.
DB:
https://mega.nz/#!UQFBBTLA!ekElK6GgMyhK07ldVD7k4ifjSKG1nS084N8BA6qIwL4
URL:
`https://yandex.ua/maps/?rtext=54.848722%2C83.111052~55.028630%2C82.912560&sll=83.006116%2C54.938496&sspn=0.645447%2C0.339584&source=route&ll=83.011806%2C54.938491&spn=0.645447%2C0.339584&z=11&l=pmap%2Ctrf%2Ctrfe&ncrnd=4208&

[2016-10-27 11:16] ameshkov commented on #1339
This is intended behaviour:
[code]

In order to minimize memory footprint we do not apply non-generic css rules to **small** iframes.

[2016-10-27 11:16] #1339 closed

[2016-10-27 11:38] ameshkov opened #1351 "Stealth mode ignores $stealth exception when it should not"
Read the details here:
https://github.com/AdguardTeam/AdguardFilters/issues/3261

[2016-10-27 13:30] vbagirov commented on #1125
Submission was sent.

[2016-10-27 14:51] adbuker commented on #1318
we have fixed it, and it appear in nearest release

[2016-10-27 14:51] #1318 closed

[2016-10-27 14:53] vbagirov commented on #1246
Added to test server, main server update is scheduled for tomorrow.

[2016-10-27 14:54] confessor-adguard opened #1352 "Problem with button size on the last step of Adguard wizard"
Screenshot of problem: http://prnt.sc/czn1tm

We need:
- make buttons width resizable
- buttons width must be the same

[2016-10-27 14:56] vbagirov opened #1353 "AMI DuOS compatibility"
Test if it is possible to filter ads in this Android emulator without messing with useful content. Needs to be tested on a Win 10 x64.

Download from:
http://www.amiduos.com/downloads

Original thread:
https://forum.adguard.com/index.php?threads/should-ag-for-windows-block-ads-in-an-android-emulator-session.15387/#post-109475

[2016-10-27 17:21] vozersky opened #1354 "[Feature request][Stealth mode] Force HTTPS connection"
Something like  https://chrome.google.com/webstore/detail/httpseverywhere/gcbommkclmclpchllfjekcdonpmejbdp?hl=ru does

[2016-10-28 09:51] adbuker commented on #1349
unfortunately, it's a windows bug (https://connect.microsoft.com/VisualStudio/feedback/details/525070/openfiledialog-show-part-of-file-name-in-win7). I guess the best solution is leave the default "FileName" blank. Moreover, the workarounds, proposed in the issue, are not feasible, because necessary OpenFileDialog's properties are absent.

[2016-10-28 09:53] vbagirov commented on #1349
From my perspective, leaving the text field blank is completely fine. I believe it is 100% clear what has to be selected in this dialog window for anyone who made it to this point.

[2016-10-28 09:56] adbuker commented on #1349
so it's a solution for two problems - to kill two birds with one stone :)

[2016-10-28 10:18] vbagirov opened #1355 "Add fidelity.com to HTTPs exclusions"
It is a bank website.

[2016-10-28 11:14] ameshkov commented on #1346
I don't really get the question, what's wrong with blocking `prscripts.com/pub.js` address?

[2016-10-28 11:23] Alex-302 commented on #1346
It should be blocked, but I don't see this request in filtering log and in dev tools. Look at the screenshot above.
Clickunder is blocked by JS rule.

[2016-10-28 11:36] ameshkov commented on #1310
Ok, let's wait for the next IP version. If it's still broken there, i'll start bugging MS devs directly:)

[2016-10-28 12:40] ameshkov commented on #1355
We have a separate issue for exclusions lists: #911

[2016-10-28 13:47] vbagirov commented on #338
More such requests:
https://forum.adguard.com/index.php?threads/15449/#post-109552

@ameshkov should we add a milestone here?

[2016-10-28 16:14] vbagirov commented on #1355
Got it, closing the issue.

[2016-10-28 16:14] #1355 closed

[2016-10-28 16:14] vbagirov commented on #911
fidelity.com is a bank website.

[2016-10-29 11:51] BooBerry commented on #1261
It looks like they're slipping through again for some users.

https://forum.adguard.com/index.php?threads/websites-where-the-adguard-assistant-is-not-shown.15224/#post-109805

[2016-10-29 11:57] Bohdan-SUP commented on #1261
^ Reported in ticket 1047490

[2016-10-30 07:28] vgavrish opened #1356 "BSOD on Windows 10 Pro 14393.351"
id 648654
BSOD, Windows 10 Pro 14393.351, installed Emsisoft IS 12, Firefox 49.0.2, Adguard 6.1.258.1302 (WFP on).
dump
https://yadi.sk/d/xHLlnZPrxpC4S
Bugcheck Analysis
https://gist.github.com/vozersky/ae488fde53d3fff951ee44e4ce7605bb

[2016-10-30 13:09] zovihuxij opened #1357 "Drag-and-drop user filters"

[2016-10-31 07:14] ameshkov commented on #338
Let's plan it for 6.2 for now.

[2016-10-31 07:19] ameshkov commented on #911
@vbagirov added to the list , thank you!

[2016-10-31 07:46] ameshkov commented on #1261
@confessor-adguard please take a look

[2016-10-31 07:54] ameshkov commented on #1356
@vgavrish could you please ask user to try a beta version? There is a new WFP driver inside, so we'd better get minidump with it.

[2016-10-31 07:56] ameshkov commented on #1357
Hi! Could you please elaborate a bit?

[2016-10-31 08:01] adbuker commented on #1352
http://c2n.me/3DReqBy

[2016-10-31 09:20] ameshkov commented on #1313
@Alex-302 turning JS off also disables adsbypasswer extension on this website.

Can we do something to fix it?

[2016-10-31 09:50] Alex-302 commented on #1313
Maybe. It was for extension only, MrTal has broken counter, but it was not reproduced on my end.
Removed jsinject from the rule.
@MrTal please check it after filters update.

[2016-10-31 09:56] confessor-adguard commented on #1331
@suhan3z, @adbuker are changes in the review has been applied and this issue could be closed?
If so, can you please create related issues for other platforms?

[2016-10-31 12:52] vbagirov commented on #1246
Done.

[2016-10-31 12:52] #1246 closed

[2016-10-31 13:05] #1348 closed

[2016-10-31 13:52] #1349 closed

[2016-10-31 14:34] confessor-adguard commented on #1261
It is very hard to say in which manner last changes in QUIC protocol affect on QUIC detection algorithm in Adguard. Also, I'm can't reproduce this issue on latest versions of Chrome including Canary.

So we need to be sure that this problem is caused by new QUIC implementation, and we need more info.

I need to ask a question on the forum.

[2016-10-31 15:58] MrTal commented on #1313
now this again no work  at all

[2016-10-31 15:59] Alex-302 commented on #1313
Strange... Add then this rule to user filter
[code]

[2016-10-31 16:07] MrTal commented on #1313
no work again...

[2016-10-31 16:11] ameshkov commented on #941
In order for it to work properly we should set the job period to 30 minutes:
https://forum.adguard.com/index.php?threads/filters-update-check-period-not-working-properly.15554/

[2016-10-31 16:22] Alex-302 commented on #1313
heh.. Could you provide me remote access?(tomorrow)

[2016-10-31 16:23] MrTal commented on #1313
ok
now you can not?

[2016-10-31 16:24] Alex-302 commented on #1313
ok,send ID and password

[2016-10-31 16:27] MrTal commented on #1313
‭⁯735 026 775⁮‬
⁯2825

[2016-10-31 17:30] Alex-302 commented on #1313
Checked remotely. Skip button is broken by "Remove web limits" userscript. But Adsbypasser is not working on this site even without filters. Maybe compatibility issue.

[2016-11-01 07:47] ameshkov opened #1358 "Inconsistent $replace result"
Read the details here:
https://github.com/AdguardTeam/AdguardForAndroid/issues/878

[2016-11-01 14:33] ameshkov opened #1359 "Distrusting WoSign and StartCom Certificates"
https://security.googleblog.com/2016/10/distrusting-wosign-and-startcom.html

[2016-11-01 16:33] seanl-adg opened #1360 "$empty modifier and access-control-allow-origin header"
When $empty modifier is applied, the response is sometimes blocked by the browser, because there is no access-control-allow-origin header. This should be fixed on other platforms as well.

Error example:
[code]

[2016-11-01 16:36] ameshkov commented on #1360
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Origin

[2016-11-01 16:38] ameshkov commented on #1360
I guess we should simply add `access-control-allow-origin: *` to all blocked responses.

[2016-11-01 17:37] vgavrish commented on #1356
ok, i wrote to him

[2016-11-02 08:30] Bluscream commented on #1139
Adsbypasser still not workjng at all for me :<

[2016-11-02 09:27] adbuker commented on #1331
i've created
https://github.com/AdguardTeam/AdguardForiOS/issues/213
https://github.com/AdguardTeam/AdguardForAndroid/issues/881

[2016-11-02 09:27] #1331 closed

[2016-11-02 12:11] evgeniy-ADG commented on #1356
прилагаю. Версия драйвера WFP 6.0.0.22 не
изменилась.

[dump.zip](https://github.com/AdguardTeam/AdguardForWindows/files/566466/dump.zip)

[2016-11-02 12:31] #1252 closed

[2016-11-02 17:33] ameshkov opened #1361 "Use userscripts dynamically"
Here is what we should do:

1. First of all, we should ensure that content script is executed first time and ignore if it is the second call. Also check that we're not inside of an iframe.
2. If `document.readyState` is `loading`, we should use `document.write` in order to execute them asynchronously.
3. Otherwise we should add them using `document.createElement`.
4. Add current script removal to

[2016-11-03 06:13] zovihuxij commented on #1357
Чтобы импортировать пользовательские правила можно было переместив txt файл на форму

[2016-11-03 12:34] ameshkov commented on #1139
@Bluscream Firefox?

[2016-11-03 12:47] Serzh-SUP commented on #737
**Пользователь, заметил одну зависимость, ошибка возникает, если выбирать 64 битный компилятор. Если поставить 32 бита, как указано на скрине, проблема не возникает:**
![6aed8ec0f467428e9940a6ea36b58e1c](https://cloud.githubusercontent.com/assets/16462533/19966423/684bec4c-a1d4-11e6-8a44-2ff2b2941c8a.png)

[2016-11-03 12:49] Bluscream commented on #1139
@ameshkov Opera

[2016-11-03 14:14] suhan3z opened #1362 "Stealth mode exception rules don't work"

[2016-11-03 16:01] ameshkov commented on #737
Ойвэй, это может быть реально важно, спасибо!

@suhan3z проверь плз

[2016-11-03 16:03] ameshkov commented on #1139
@confessor-adguard any comments?

[2016-11-03 16:13] BooBerry commented on #1139
Which Opera? The Presto-based Opera 12 or the Chrome-based Opera?

[2016-11-03 17:17] adbuker commented on #941
set new job period

[2016-11-03 17:17] #941 closed

[2016-11-03 17:17] #1358 closed

[2016-11-03 17:22] adbuker commented on #1358
character escapes are not recognizes in substitutions
https://msdn.microsoft.com/en-us/library/xwewhkd1(v=vs.110).aspx see Note
review http://upsource.adguard.com/ADWin/review/ADWIN-CR-72

[2016-11-03 18:43] Bluscream commented on #1139
Chrome based.

[2016-11-03 23:47] worldsdream opened #1363 "Adsbypasser not working in AG version 6.1.278.1411"
I use adsbypasser script and it's not working

info: https://adsbypasser.github.io/
installation script: https://adsbypasser.github.io/releases/adsbypasser.user.js

[2016-11-04 07:43] Bluscream commented on #1363
@worldsdream https://github.com/AdguardTeam/AdguardForWindows/issues?utf8=✓&q=is%3Aissue%20adsbypasser

[2016-11-04 21:28] ameshkov opened #1364 "Disable WOT extension by default"
https://blog.adguard.com/en/official-statement-on-web-of-trust-case/

Also check the assistant layout when WOT is disabled.

[2016-11-05 07:26] Bluscream opened #1365 "Add "New Userscript" option"
![image](https://cloud.githubusercontent.com/assets/3318223/20028422/1cb71938-a331-11e6-814c-d053ee2c5e71.png)
(Button name: `Paste` or `Paste from Clipboard`
which opens a multiline text editor (maybe a new instance of the existing script editor)

Purpose: To quickly add (and edit) userscripts that are posted on forums (which don't contain a download link) like https://forum.adguard.com/index.php

[2016-11-05 07:30] Bluscream opened #1366 "[Request] Accept .js and .txt as userscript extensions"
In the `Browse` dialog of the userscript installation please also accept `.JS` and `.TXT` files.

Some websites don't accept a dot inside a filename so they change example.user.js to example.js when downloading.

Also some websites like pastebin offer userscripts as txt when their syntax isn't set to js and even with it only example.js :P

[2016-11-05 07:35] Bluscream opened #1367 "Native userstyles support in AdGuard"
First, yes i know you can get a userscript version of any userstyle on userstyles.org and it's not hard to port any css to a userscript, but it isn't recommended because it impacts the performance a bit *per* style then.

I would love to see a new Tab in the settings called `Styles` or `Userstyles` where you can add any *.css file and AdGuard implements the css directly into the website using alre

[2016-11-05 07:39] Bluscream commented on #1367
Example Userstyle Code:
[code]

[2016-11-05 07:42] Bluscream commented on #1367
Example Userstyle Userscript Code:
[code]

[2016-11-05 07:46] Bluscream commented on #1367
Example Userstyle Settings:

[placeholder]

[2016-11-05 17:26] MrTal commented on #1313
like @Alex-302  say
"Adsbypasser is not working on this site even without filters. Maybe compatibility issue.

[2016-11-05 17:34] Alex-302 opened #1368 "[Filtering] Can't block domain which contains a port number, if the rule contains a separator character ^ [IE11]"
http://fanserials.tv/22122-sverhestestvennoe-12-sezon-3-seriya-the-foundry.html#
in IE AG can't block url which contains port number `http://et-code.ru:8040/2293` if the rule contains a separator character `^` For example: `||et-code.ru^$third-party`
In case of Chrome that rule works as expected:
![image](http://i84.fastpic.ru/big/2016/1105/44/0771badfe19718d9b3fbe25467345c44.png)
The rule tempora

[2016-11-05 20:08] Bluscream commented on #1364
Wow this shit is crazy. I was using the WOT extension for chrome many years...

[2016-11-06 19:35] ameshkov commented on #1364
Yep, agreed. Still hope they will recover. I don't know anything that could possible replace WOT.

[2016-11-06 23:11] Bluscream commented on #1364
You're still using it for the site reports, right?

[2016-11-07 08:14] ameshkov commented on #1364
Yep. I'd like to emphasize, that WOT scorecard there is just a supplemental information, it is not used for phish/malware detection.

[2016-11-07 08:15] ameshkov commented on #1364
Btw, they finally posted the official answer:
https://www.mywot.com/en/forum/70818-to-the-wot-community

[2016-11-07 08:35] Bluscream commented on #1364
I am about to puke. This statement is such a big stupid lie. I hope you include the [VirusTotal API](
https://www.virustotal.com/en/documentation/public-api/) or atleast any of its [alternatives](https://alternativeto.net/software/virustotal/) in the site reports, thanks :)

[2016-11-07 08:50] ameshkov commented on #1364
Why, the "we care" claptrap is expected, what else could they tell :)

[2016-11-07 08:52] Bluscream commented on #1364
Just read the comments below. They could send their collected data to https://haveibeenpwned.com/ for example and release their tracking code public.

[2016-11-07 09:16] ameshkov commented on #1364
In my opinion they should do the following:

1. Do the data collection Ghostery-way (clearly state that they do it, make it opt-in).
2. Publish the source code.
3. Be transparent on what data is collected and what exactly is being sold.

[2016-11-07 09:47] ameshkov commented on #1365
Or maybe we should add "Create userscript" button creating an empty userscript template.

[2016-11-07 09:56] ameshkov commented on #1367
I agree that we'd better distinguish userstyles from userscripts.

[2016-11-07 11:24] Bluscream commented on #1365
That could also work for pasting, yes.

[2016-11-07 11:27] Bluscream commented on #1364
The fact that they took so long to respond makes it even worse. I mean they didn't even answer to Panoramas questions either. It looks like they hoped it would be forgotten in a day or two LOL

[2016-11-07 16:55] confessor-adguard commented on #1139
I'm trying to reproduce this bug but I can't.

What versions of Adguard and Opera do you use?
Do you use a full or light version of AdsBypasser, and where you download it from?

In my case, AdsBypasserLite 5.60.5 from official Github repo seems to work fine on:
Adguard: 6.1.258.1302
Opera: 41.0.0.235318478

[2016-11-07 17:33] Bluscream commented on #1139
[code]
[code]

[2016-11-07 17:43] Bluscream commented on #1139
Without AdsBypasser and AdFly Skipper:
![image](https://cloud.githubusercontent.com/assets/3318223/20068679/d61e8a98-a519-11e6-992a-43bd9d6ae5b3.png)

With AdsBypasser:
![image](https://cloud.githubusercontent.com/assets/3318223/20068741/166daa70-a51a-11e6-8ab7-b610acd7c032.png)

[2016-11-08 09:26] vbagirov commented on #1116
Issue is still there. With Adguard running VPN hangs in 'Connecting...' state. Screenshots in this thread:
https://forum.adguard.com/index.php?threads/15828/

[2016-11-08 09:49] suhan3z commented on #1362
Fixed

[2016-11-08 09:49] #1362 closed

[2016-11-08 13:22] suhan3z commented on #1351
https://github.com/AdguardTeam/AdguardForWindows/issues/1362

[2016-11-08 13:22] #1351 closed

[2016-11-08 14:09] suhan3z commented on #1364
Fixed

[2016-11-08 14:34] #1345 closed

[2016-11-08 14:34] #1329 closed

[2016-11-08 14:35] #1341 closed

[2016-11-08 15:40] #1340 closed

[2016-11-08 16:17] suhan3z commented on #1368
For some reason IE don't send referrer for web sockets, so there is nothing we can do.

[2016-11-08 16:17] #1368 closed

[2016-11-08 17:48] Bluscream commented on #1360
@ameshkov Can Adguard help bypassing browser restrictions for easier userscript usage?

Browsers have many restrictions these these days which restrict advanced user experience. When traffic is routed through adguard, can it possibly modify it? If yes at which layer?

My wettest dreams would be.

- No errors for XMLhttp requests or plain javascript injection in the browser console (like `No 'Acces

[2016-11-08 17:59] Bluscream commented on #1360
This means that on requests using credentials not even modifiying the header works. Good job browser devs.... to restrict usability for fake security 💢

[2016-11-08 18:13] Bluscream commented on #1354
Couldn't this be done by a simple userscript that tries a ssl get request to the current page in the background and if it's successfull it redirects to the https version?

[2016-11-09 08:36] ameshkov opened #1369 "Use encrypted connection with api.adguard.com"
Instead of "http" we should start using "https".

There could be some issues on Windows XP with certificate validation, you'd better check it.

[2016-11-09 09:00] ameshkov commented on #1342
http://stackoverflow.com/questions/2859790/the-request-was-aborted-could-not-create-ssl-tls-secure-channel

https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/eb999cd4-b43b-4779-b01b-4a04017714e3/httpwebrequest-ssl-caching-bug-cloudflare-the-request-was-aborted-could-not-create-ssltls?forum=netfxbcl

[2016-11-09 09:10] ameshkov commented on #1363
Linking relevant issue:
https://github.com/AdguardTeam/AdguardForWindows/issues/1139#issuecomment-258892738

[2016-11-09 09:58] ameshkov commented on #1273
We should re-test it when RC is ready.

[2016-11-09 15:33] ameshkov opened #1370 "Improve installer and program error reporting"
1. Detect error level (Crash / Non-critical error).
2. Show dialog window asking user to send us report about this event.

[2016-11-09 16:22] ameshkov commented on #1364
@suhan3z one more thing: we should allow Wot extension removal.

Please check that nothing breaks because of it. Tutorial should check for WOT presence.

[2016-11-09 21:08] alfredudu commented on #1292
I'm going through this same problem with the routers TP-LINK TD-W8980 e TL-WDR4300

Any solution?

[2016-11-09 22:16] ameshkov commented on #737
Relevant issue:
https://forum.adguard.com/index.php?threads/adguard-interupting-with-visual-studio-debugging.15811/

Confirmed that it depends on the running order.

[2016-11-10 08:55] #952 closed

[2016-11-10 09:00] Bluscream commented on #952
I'd still like to have this dropdown list <3

[2016-11-10 10:01] suhan3z commented on #1364
Done

[2016-11-10 10:01] #1364 closed

[2016-11-10 14:32] ameshkov opened #1371 "Provide user-agent presets"
Feature request:
https://forum.adguard.com/index.php?threads/save-different-user-agents.15925/

[2016-11-10 14:38] Bluscream commented on #1371
Use github as CDN :)

[2016-11-10 15:04] adbuker opened #1372 "Adguard doesn't filter https when fiddler is switch on in "decode https" mode"

[2016-11-10 16:53] vgavrish commented on #947
900441
Просьба добавить опцию "Добавить весь сайт в исключения с поддоменами сайта"

[2016-11-10 20:19] ameshkov commented on #1360
Why do you need all these? I mean everything listed is bad for browser security, for what reason do you want it? For debugging purposes most of things are possible with Fiddler.

It won't help you with XMLHttpRequest's anyway. GM_xmlhttprequest should help you though.

[2016-11-10 20:27] ameshkov commented on #1354
I suppose userscript approach would be too clumsy. HTTPS everywhere provides a huge rules list which does it. I am not sure about this list license though: https://www.eff.org/https-everywhere/rulesets

[2016-11-10 21:14] ameshkov commented on #1292
@alfredudu you can try switching driver type in AG settings: settings -> check "Use WFP driver"

[2016-11-10 21:22] ameshkov commented on #1371
Serving user agents file is not a problem. The problem is keeping this file updated:)

[2016-11-10 21:22] #1372 closed

[2016-11-10 22:38] alfredudu commented on #1292
@ameshkov i try this option, marked and unmarked box

[2016-11-10 22:50] Bluscream commented on #1371
I would glady help

[2016-11-10 22:50] Bluscream commented on #1360
Why wouldn't it help

[2016-11-10 22:52] Bluscream commented on #1354
https://www.eff.org/takedowns looks like he doesnt take it very serious ^^^

[2016-11-11 09:09] ameshkov commented on #1292
Huh, both cases are bad? So the only thing that helps is exiting Adguard, right?

[2016-11-11 09:10] ameshkov commented on #1371
I am just thinking about how to automate this process. Do you know any good source of such data?

[2016-11-11 09:13] ameshkov commented on #1360
As I recall, cross-domain XMLHttpRequest's are forbidden and it does not depend on the response headers. Actually, browser won't send request, so you won't receive response anyway.

People use `jsonp` approach to overcome it, which is in fact just adding a `script src=` tag. Loaded script contains a callback function call: `callback(data);`

[2016-11-11 09:19] ameshkov commented on #1354
But we do:)

[2016-11-11 09:37] alfredudu commented on #1292
Yes, in both cases it did not work, when I need access I should disable the protection every time

[2016-11-11 09:46] ameshkov commented on #1292
Is it enough to just disable protection or you should "Exit" Adguard?

[2016-11-11 09:48] alfredudu commented on #1292
Is enough disable protection, i don't need Exit

[2016-11-11 09:54] ameshkov commented on #1292
Oh, even so. What's your router admin page? 192.168.0.1?

[2016-11-11 09:56] Bluscream commented on #1371
Atleast none that is actually up to date. But i can imagine something like shell or python script that crawls the ftp servers of modern browsers or smth.

[2016-11-11 10:01] alfredudu commented on #1292
192.168.1.1 for WD8980 and 192.168.1.2 for WDR4300

[2016-11-11 10:03] ameshkov commented on #1292
Does it help to add the following rule to your user filter? (settings -> open filter editor)
`@@||192.168.1$document`

[2016-11-11 12:38] suhan3z commented on #1369
Fixed

[2016-11-11 12:38] #1369 closed

[2016-11-11 13:56] ameshkov opened #1373 "Do not filter loopback IPv6 connections"
it will help with Visual Studio debugging issues.

[2016-11-11 13:58] ameshkov commented on #737
This will help:
https://github.com/AdguardTeam/AdguardForWindows/issues/1373

[2016-11-11 14:22] alfredudu commented on #1292
I found this rule blocked on adguard

URL:                 http://192.168.1.1/frame/banner.htm?_=1478873970372
Fonte:               192.168.1.1
Tipo de dado:        Other
Regra                /banner.htm?

How to unlock this rule?

[2016-11-11 14:24] alfredudu commented on #1292
The your rule above its, it only run for 192.168.1.2, for 192.168.1.1 it had this lock up, now it is to tell me how to solve it.

[2016-11-11 14:28] alfredudu commented on #1292
I disabled the /banner.htm rule in the english filter and it worked correctly, would it? But there is no way to set this rule only for the ip of my router, so that it blocks everything else except my router?

[2016-11-11 14:54] suhan3z commented on #1373
Fixed

[2016-11-11 14:54] #1373 closed

[2016-11-14 09:28] suhan3z commented on #1239
We can't fix this for url's. Also if userscript don't have name url uses instead

[2016-11-14 09:28] #1239 closed

[2016-11-14 09:33] #1282 closed

[2016-11-14 10:28] ameshkov opened #1374 "Unnecessary error logged by Adguard"
[code]

[2016-11-14 10:30] ameshkov opened #1375 "Bitdefender IS 2017 compatibility issue"
User reports, that Bitdefender somehow prevents Adguard UI from starting. @gshumihin please test it.

[2016-11-14 12:14] worldsdream opened #1376 "Adguard translation text needs to be adjusted"
screenshot: http://i.imgur.com/LJ0Yr2O.png

do you mean "filter" or "filters" ?

[2016-11-14 12:40] ameshkov opened #1377 "SSL exclusions issues in the latest beta"
@adbuker I guess this is caused by our latest changes:

https://forum.adguard.com/index.php?threads/adguard-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B8%D1%80%D1%83%D0%B5%D1%82-%D0%BF%D0%B5%D1%80%D0%B5%D1%85%D0%BE%D0%B4-%D0%BD%D0%B0-%D1%81%D0%B0%D0%B9%D1%82-https-browsec-com-en-user_activated-true.16041/

[2016-11-14 15:11] gshumihin commented on #1375
Works fine for me.
_Tested next versions:_
— Adguard 6.1.281.494
— Bitdefender Total Security 2017 (Build 21.0.21.976)

[2016-11-14 16:56] ameshkov opened #1378 "$replace breaks content charset"
Details:
https://github.com/AdguardTeam/AdguardForAndroid/issues/899

Solution is really simple, check review `adguard-java-code/review/AJC-CR-117`

[2016-11-14 18:35] Alex-302 commented on #709
Any news?)

[2016-11-14 18:37] Alex-302 commented on #643
Bump)

[2016-11-14 19:58] ameshkov opened #1379 "Unnecessary javascript error when website is cached and AG is down"
[code]

[2016-11-14 20:21] ameshkov commented on #1377
https://forum.adguard.com/index.php?threads/adguard-for-windows-v6-1-281-1494-r2-beta.14750/page-4#post-112552

[2016-11-15 07:29] vgavrish opened #1380 "Eset Internet Security 10/Banking and Payment Protection"
1034043
При входе на сайт, к примеру, на сайт online.sberbank.ru (который добавлен в "Защита банковской  оплаты") с браузера IE и FF происходит долгая загрузка самого сайта в "Безопасном браузере от Eset" и зависает сам браузер. При закрытии продолжает работать в фоне.
С IE помогает отключение в Eset опций HTTPS, SSL. Но после закрытия браузера, он все также висит в фоне.
С FF проблема остается, с

[2016-11-15 08:45] adbuker commented on #1116
issue is not reproduced in the latest beta, so issue close, for this reason

[2016-11-15 08:51] adbuker commented on #1377
solve with related https://github.com/AdguardTeam/AdguardForWindows/issues/1341

[2016-11-15 08:51] #1377 closed

[2016-11-15 09:26] suhan3z commented on #1374
Fixed

[2016-11-15 09:26] #1374 closed

[2016-11-15 09:37] vbagirov opened #1381 "'access-control-allow-origin' header console error"
Screenshot:
http://i83.fastpic.ru/big/2016/1112/8c/10d43c277fac29b1a042ddb56f5ead8c.png

Original thread:
https://forum.adguard.com/index.php?threads/14749/page-3#post-112166

Might be connected to #1360

[2016-11-15 10:24] vbagirov commented on #1258
Still not fixed.

Forum thread:
https://forum.adguard.com/14749/page-4#post-112534

[2016-11-15 10:38] vgavrish commented on #1258
the same id 657299 with logs

[2016-11-15 11:16] vgavrish commented on #1119
"Я пользуюсь модемом и мне хотелось бы знать экономию трафика версия 6.1. Как это сделать?"
1449026

[2016-11-15 11:43] Alex-302 commented on #1273
ok

[2016-11-15 11:52] vgavrish opened #1382 "[Feature request] Make possible to change the default directory for C:\ProgramData\Adguard folder"
961611

how can i change the directory used for the database and Logs folder?
For users of SSD drives is a reasonable question.

[2016-11-15 12:58] suhan3z commented on #1378
Fixed

[2016-11-15 12:58] #1378 closed

[2016-11-15 13:41] vozersky opened #1383 "Parental control's "Enable safe search" function breaks Google"
id 1082218
id 1205353

str:

1. enable parental control and safe search
2. goto google.com and try to type any request

expected result:

- google live search doesn't work
- if you type a request and hit enter you will be redirected back to the main page

[2016-11-15 13:48] vbagirov commented on #1382
@ameshkov should we keep it as a feature request/modify it/close it?

[2016-11-15 14:32] suhan3z commented on #1379
Fixed

[2016-11-15 14:32] #1379 closed

[2016-11-15 14:33] adbuker commented on #1381
https://github.com/AdguardTeam/AdguardForWindows/issues/1360

[2016-11-15 15:18] gshumihin commented on #1353
In order to filter DuOS by Adguard for Windows you need to add this file to the "Filtered apps list":
<details>
<img src="
https://cloud.githubusercontent.com/assets/8577547/20311172/d81a1dc0-ab5f-11e6-94ff-ad1a5c9da2da.png">
</details>

[2016-11-15 16:35] ameshkov commented on #114
Example of such script:
https://www.thisisacoolthing.com/fp.js

[2016-11-15 17:32] seanl-adg commented on #114
`http://dpiw925yvtpfq.cloudfront.net/Bbm9BN1BRGyhTbVhecQFkWg%3D%3D`

[2016-11-15 21:19] ameshkov commented on #1292
Huh, sorry for the late reply!

If removing this rule helps, we should definitely remove it from the english filter.

[2016-11-15 21:19] ameshkov commented on #1292
Summoning @Alex-302, he can do it:)

[2016-11-15 21:22] Alex-302 commented on #1292
@ameshkov I don't have TP-Link at the moment:) Replaced by MikroTik

[2016-11-15 22:02] ameshkov commented on #1376
Summoning @vbagirov

[2016-11-15 22:03] #1375 closed

[2016-11-15 22:05] ameshkov commented on #709
Still planned on v6.2:)

[2016-11-15 22:05] ameshkov commented on #643
In fact it will be automatically resolved when we get rid of data grid and use textarea instead

[2016-11-15 22:06] ameshkov commented on #1380
@gshumihin please test it

[2016-11-15 22:11] ameshkov commented on #1119
Вот же ж неожиданно на десктопах такую задачу получить.

В целом, если человек видео не смотрит, экономию можно оценить в 30-40% трафика

[2016-11-15 22:14] ameshkov commented on #1346
I guess that's a duplicate.

Should be blocked with `/cdn-cgi/pe/bag*prscript.com*` rule

[2016-11-15 22:14] #1346 closed

[2016-11-15 22:16] ameshkov commented on #1382
Guys, this is really weird thing to do.

Actually, I don't think this is even a problem. There won't be too many physical IO operations due to the disk cache.

[2016-11-15 22:21] ameshkov commented on #1353
@gshumihin is it enough for https filtering to work properly?

[2016-11-16 09:25] suhan3z commented on #1383
Fixed

[2016-11-16 09:25] #1383 closed

[2016-11-16 11:32] worldsdream opened #1384 "Add a "check update" icon to the filter editor"
Is it possible to add a "check update" icon to the filter editor?

Why?
When I add a custom rule/rules or when I add a new filter, I always update the filterlist before testing on the browsers. Right now I have to go to system tray and right click the adguard icon and then click on Update. This would be much easier to just have a single click on the icon in the same window. All in one place.

Scre

[2016-11-16 11:36] worldsdream commented on #1376
I guess he means "filter"

[2016-11-16 12:18] gshumihin commented on #1353
For built-in browser https filtering works fine, except one thing: browser alarms on certificate

[2016-11-16 12:45] adbuker commented on #1381
A wildcard '*' cannot be used in the 'Access-Control-Allow-Origin' header when the credentials flag is true.

http://stackoverflow.com/questions/26411480/angularjs-a-wildcard-cannot-be-used-in-the-access-control-allow-origin-he

[2016-11-16 13:13] gshumihin commented on #1353
With Installed Adguard.CA works just well.
How to install certificate:
https://forum.adguard.com/index.php?threads/should-ag-for-windows-block-ads-in-an-android-emulator-session.15387/#post-109998

[2016-11-16 13:22] #1353 closed

[2016-11-16 15:31] adbuker commented on #1361
we can't use document.write() directly (i.e. sync), because on the slow connections script will block - https://developers.google.com/web/updates/2016/08/removing-document-write

[2016-11-16 20:04] ameshkov commented on #1292
@Alex-302 we've already figured out the problematic rule.

[2016-11-16 20:22] ameshkov commented on #1384
At least we could add it inside of the cogwheel menu

[2016-11-16 20:23] ameshkov commented on #1376
He is referring to a filter's attribute `Expires`

[2016-11-16 20:28] ameshkov commented on #1381
So, for requests with `Origin` header we should copy it's value to `Access-Control-Allow-Origin` and set `Access-Control-Allow-Credentials` to `true`

[2016-11-16 20:29] worldsdream commented on #1376
Ok thanks.

[2016-11-16 20:29] #1376 closed

[2016-11-16 20:38] Alex-302 commented on #1292
ok. We have this rule in English filter
[code]
should I replace in by this?(the first is not working)
[code]

[2016-11-16 20:48] ameshkov commented on #1292
Yep, I am pretty sure we should

[2016-11-16 20:57] Alex-302 commented on #1292
Done.

[2016-11-16 20:57] #1292 closed

[2016-11-16 21:38] ameshkov opened #1385 "Adguard takes 100% cpu"
https://forum.adguard.com/index.php?threads/adguard-takes-100-cpu-since-anniversary-update.12934/page-2#post-112555

process dump:
https://adguardteam.github.io/AnonymousRedirect/redirect.html?url=https%3A%2F%2Fmega.nz%2F%23confirmp5rxpmkJUmMlSaEAWAZEc3JUGzbOfT4a4xnPJ6KQZPWy2h-EowMAUiS2Me7AY3ZiaW5hcnkwMTAxY29kZUBnb29nbGVtYWlsLmNvbQlEYXJrIE1vb26U9i4M6p_0VQ

[2016-11-17 09:03] ameshkov commented on #1325
https://security.googleblog.com/2016/11/sha-1-certificates-in-chrome.html

[2016-11-17 17:15] Alex-302 commented on #1222
Another one:
http://73online.ru/
http://ipic.su/img/img7/fs/kiss_84kb.1479402900.png

[2016-11-17 17:15] Alex-302 commented on #1222
@adbuker
Another one:
http://73online.ru/
http://ipic.su/img/img7/fs/kiss_84kb.1479402900.png

[2016-11-17 17:52] ameshkov opened #1386 "Use https for safebrowsing service requests"
Switch protocol to https.

[2016-11-17 17:55] Aokromes commented on #1310
Still broken on 10.0.14965

[2016-11-17 18:31] Vincent-Michael opened #1387 "[Bug] Adguard is not injected to HTML"
Sample links:
e.g.
![](http://i.imgur.com/xBnupkn.png)
http://www.golem.de/

![](http://i.imgur.com/aCFHRol.png)
https://www.computerbase.de/2016-11/iphone-8-2017-apple-oled-probleme/

![](http://i.imgur.com/iA95Wtv.png)
https://www.youtube.com/

![](http://i.imgur.com/sVFPLeh.png)
http://prnt.sc/

And:
https://www.mydealz.de/
http://www.heise.de/
http://www.chip.de/
http://www.winbeta.org/
http:/

[2016-11-17 19:57] ameshkov commented on #1387
Can't confirm it, injected on my side.

Do you have this issue in all browsers?

[2016-11-17 20:00] Vincent-Michael commented on #1387
yea @ameshkov

![image](http://i.imgur.com/HYtiExE.png)

![image](http://i.imgur.com/3xdGrUc.png)

[2016-11-17 20:11] ameshkov commented on #1273
We should again re-test it when $extensions modifier is ready

[2016-11-17 20:11] Alex-302 commented on #1273
I can't watch video because regional restrictions, even with German VPN.

[2016-11-17 20:12] ameshkov commented on #1387
Which filters do you use?

[2016-11-17 20:14] Vincent-Michael commented on #1387
![](http://i.imgur.com/rtKr63a.png) @ameshkov

[2016-11-17 21:28] ameshkov commented on #1387
Does it change anything if you disable user filter?
Also what do you see in pages source?

[2016-11-17 21:30] Vincent-Michael commented on #1387
1. negative

2. ![](http://i.imgur.com/zBVRPRT.png)

[2016-11-17 21:34] ameshkov commented on #1310
Reported it to WFP forums:
https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/802d12db-5911-4177-9027-b422c4de1ec0/wfp-has-been-broken-in-windows-insider-preview-still-build-14393?forum=wfp

[2016-11-17 21:38] ameshkov commented on #1310
Also i've contacted one dev from MS, i hope he'll help me to report this issue directly to wfp dev team.

[2016-11-17 21:40] ameshkov commented on #1387
Weeeird. Is it so on every website or just these two?

[2016-11-17 21:41] ameshkov commented on #1222
Simply add `base href=` to known tags.

[2016-11-17 21:42] Alex-302 commented on #1387
@Vincent-Michael for test - please backup adguard.db in ProgramData, then stop AG GUI and service, remove adguard.db and start AG.

[2016-11-17 22:18] Aokromes commented on #1310
voted :)

[2016-11-18 01:40] zhuochenming opened #1388 "how to remove video ad just like http://www.iqiyi.com in china"
thanks

[2016-11-18 04:57] Vincent-Michael commented on #1387
1. @ameshkov
i found this problem on:
http://www.golem.de/
https://www.computerbase.de/
https://www.youtube.com/

2. @Alex-302
same result

[2016-11-18 05:11] muskle opened #1389 "ADguard version 6.1.287.1519"
This version does not block any ads the previous version was working fine but I updated and it killed the ad blocking abilities of adguard.

![youtube](https://cloud.githubusercontent.com/assets/22967363/20419283/0fc26b62-ad1b-11e6-99e9-7489ed997423.png)

[2016-11-18 08:28] ameshkov commented on #1310
I've got an email of the WFP plugfest team email. Reported this bug to them.

[2016-11-18 12:24] SlowMemory commented on #114
http://lib.vmweb.net/identity.min.js

[2016-11-18 12:26] seanl-adg commented on #114
`http://lib.vmweb.net/identity.min.js`
Source: https://source.ind.ie/better/content/blob/master/trackers/vmweb.net/index.md

[2016-11-18 17:42] evgeniy-ADG commented on #964
It's in AppData\_Roaming_\Spotify, it just has stopped blocking ads in ADG 6.1.287.1519 and Spotify 1.0.42.151.g19de0aa6.

[2016-11-18 17:54] evgeniy-ADG opened #1390 "Intermission ads are no longer blocked in Spotify"
Adg 6.1.287.1519, Spotify is added manually:

![image](https://cloud.githubusercontent.com/assets/15856304/20440409/a105b36a-adc8-11e6-8b5c-bff86fac1c28.png)

Banners are still blocked, but intermissions are back since the update (both apps updated today):

![image](https://cloud.githubusercontent.com/assets/15856304/20441077/8a351df8-adcb-11e6-9c17-30422e3bfd69.png)

<details>

![image](https://c

[2016-11-18 20:02] Bluscream commented on #964
@evgeniy-ADG `%appdata%` resolves to `C:\Users\<username>\AppData\Roaming\`

[2016-11-19 11:12] evgeniy-ADG commented on #964
Indeed.

[2016-11-19 19:24] lazyb5 commented on #1390
same issue version 6.1.278.1411

[2016-11-19 19:24] lazyb5 commented on #1389
same issue

[2016-11-21 07:13] #1342 closed

[2016-11-21 08:14] zhuochenming opened #1391 "Bug in IE"
the system is win10 enterprise X64 and it is newest，I just use CJX and EasyList+China,but i can not open www.baidu.com,when i use edge browser, it is ok

[2016-11-21 10:11] ameshkov commented on #1389
Guys, we may need to get Adguard's log files.

Here's an instruction on how to get them:
https://kb.adguard.com/index.php?/Knowledgebase/Article/View/23/0/how-can-i-get-adguard-log-files

[2016-11-21 10:12] ameshkov commented on #1387
@Vincent-Michael could you please record AG log?
https://kb.adguard.com/index.php?/Knowledgebase/Article/View/23/0/how-can-i-get-adguard-log-files

[2016-11-21 10:24] Vincent-Michael commented on #1387
@ameshkov https://www.dropbox.com/s/o3psf6zh770urm6/AdguardLogs.7z?dl=0

[2016-11-21 11:33] ameshkov commented on #1387
@Vincent-Michael could you please first change the logging level to "Debug"?
INFO-level log is just not enough.

[2016-11-21 12:00] Vincent-Michael commented on #1387
@ameshkov https://www.dropbox.com/s/8fptb2vlon7fqza/AdguardLogs_2.7z?dl=0

[2016-11-21 13:43] zhuochenming commented on #1391
更详细的测试是：只要选择
 **过滤HTTPS协议**
 https网站如github都上不去，

[2016-11-21 14:36] confessor-adguard commented on #1363
Fixed.

[2016-11-21 14:37] #1363 closed

[2016-11-21 14:38] confessor-adguard commented on #1139
Note that issue #1363 fixed for now.
This changes will be included in the next beta.

[2016-11-21 15:14] Alex-302 opened #1392 "[Filtering log] $replace rule is shown as applied to images"
http://ipic.su/img/img7/fs/kiss_269kb.1479740572.png

[2016-11-21 16:00] worldsdream opened #1393 "Skype app showing error at login screen"
Latest windows 10
Latest skype app
Latest beta adguard

Steps to reproduce:
1) open skype
2) fill in your username and click Sign in
3) you will see the error

see screenshot: http://i.imgur.com/wpqsjue.png

Disabling adguard, it works without the error

[2016-11-21 16:03] Alex-302 commented on #1392
Also replace rule looks like is not applied to HTML
http://ipic.su/img/img7/fs/kiss_43kb.1479744127.png

[2016-11-21 16:14] ameshkov commented on #1389
Ok, found the issue.

In the latest build we have accidentally disabled filtering for all IPv6 addresses.
Will be resolved tomorrow.

[2016-11-21 16:14] #1389 closed

[2016-11-21 16:14] ameshkov commented on #1393
@Alex-302 I suppose this is caused by some JS rule injected into skype

[2016-11-21 16:16] ameshkov commented on #1391
Is it broken in Edge only?

[2016-11-21 16:16] ameshkov commented on #1387
Found the issue. We've accidentally disabled filtering for all IPv6 addresses.
Will be resolved in tomorrow's build.

[2016-11-21 16:16] #1387 closed

[2016-11-21 16:21] ameshkov commented on #964
Guys, we've accidentally disabled IPv6 filtering in the latest beta. I guess the issue is caused by it.

[2016-11-21 16:31] ameshkov commented on #1390
This is our mistake. We've accidentally disabled IPv6 filtering in the latest beta.
Will be resolved tomorrow.

[2016-11-21 16:31] #1390 closed

[2016-11-21 16:42] Bluscream opened #1394 "[Potential Bug] Cloudflare browsercheck infinite loading"
Example URL: http://forum.teamspeak.com/threads/122783-Release-DarkenTS-Save-the-eyes?p=438390

[2016-11-21 18:52] zhuochenming commented on #1391
Just ie，edge is ok

[2016-11-21 19:30] Alex-302 commented on #1393
I need full version number.

[2016-11-21 20:18] seanl-adg commented on #1271
A website `http://kissanime.to/Anime/Mobile-Suit-Gundam-Iron-Blooded-Orphans/Episode-012?id=121188` uses `<meta name="referrer" content="never">`, and as a result all ad requests it fires doesn't have a referrer header, so `$third-party` modifier in filter rules are not applied.

[2016-11-21 21:03] ameshkov commented on #1392
@confessor-adguard the thing is that $replace rule is stored in the FilteringContext for all requests.
We do not mark requests for which it was **actually** applied.

So there're two ways of fixing the issue:

1. Add a "IsReplaceRuleApplied" flag
2. Clean "FiredReplaceRule" in case if it was not applied.

[2016-11-21 21:03] ameshkov commented on #1392
We may need to create similar issue in Mac repo as well.

[2016-11-21 21:04] ameshkov commented on #1394
Can't confirm it on my side

[2016-11-21 21:18] worldsdream commented on #1393
Version number of what?

[2016-11-21 21:19] Alex-302 commented on #1393
Yes, version number.

[2016-11-21 21:20] ameshkov commented on #1391
@zhuochenming could you please take a screenshot?

Are ALL https websites broken?
Could it be a compatibility issue with your AV? Have you tried disabling it?

[2016-11-21 21:21] ameshkov commented on #1393
Lmao

[2016-11-21 21:21] ameshkov commented on #1393
Skype I guess:)

[2016-11-21 21:22] ameshkov commented on #1393
@Alex-302 isn't `Latest skype app` enough?:)

[2016-11-21 21:22] ameshkov commented on #1393
I guess it could depend on the filters you use as well

[2016-11-21 21:36] worldsdream commented on #1393
I unchecked all filters. Still the same. Disabling adguard it works. So it's not in the filters list but in one of the settings?

Yes latest stable skype desktop app. I am not behind the pc.

[2016-11-21 21:45] ameshkov commented on #1393
Stealth mode?

[2016-11-21 21:50] Alex-302 commented on #1393
@ameshkov

no, because I can't reproduce even with Stealth mode with all options.

[2016-11-21 22:22] worldsdream commented on #1393
We can do TV tomorrow?

[2016-11-22 01:09] zhuochenming commented on #1391
I am in china, so i can take a screenshot in night.

My Anti-virus software is Kaspersky Internet Security 2017,close it did not work, I have test lots of https webset.

just when i open 过滤HTTPS协议, it broken，close it，it is ok

[2016-11-22 08:49] #1392 closed

[2016-11-22 09:16] confessor-adguard commented on #882
Related to: #1363.
Now it works.

[2016-11-22 09:16] #882 closed

[2016-11-22 10:45] Bluscream commented on #1394
My Setup:
<details>
Microsoft Windows 8.1 [Version 6.3.9600] x64
AdGuard BETA 6.1.287.1519
Chrome Canary 56.0.2889.0 (Official Build) (64-Bit)
Opera Stable 41.0.2353.56
</details>

[2016-11-22 10:45] Bluscream commented on #1394
I tried it with opera + adguardforwindows + adguardbrowserextension

[2016-11-22 12:14] worldsdream commented on #859
Yes please, just wanted to open a ticket for it.

I would like to have the option to drag and drop my rules up and down.

[2016-11-22 12:18] worldsdream commented on #859
This was added to milestone 6.1, but we are at 6.1 R2. Can this be added to a proper milestone please?

[2016-11-22 12:19] worldsdream commented on #859
Can this be added to a Milestone please?

[2016-11-22 12:30] ameshkov opened #1395 "App modifier is ignored when HTML content is being filtered"
Source:
https://github.com/AdguardTeam/AdguardForAndroid/issues/921

Code review:
/adguard-java-code/review/AJC-CR-127

[2016-11-22 12:45] #1386 closed

[2016-11-22 12:52] ameshkov commented on #1393
@worldsdream also we may need to get a debug-level log

[2016-11-22 12:52] ameshkov commented on #1391
I suggest you trying disabling "SSL Scan" in Kaspersky settings. Can you do it?

[2016-11-22 13:00] worldsdream commented on #1393
I did select the option, Advanced>Logging level>Debug

then what to do?

[2016-11-22 13:12] #1309 closed

[2016-11-22 13:14] #1381 closed

[2016-11-22 13:15] zhuochenming commented on #1391
It is ok now，thanks

[2016-11-22 13:18] ameshkov commented on #1394
I wonder could it be caused by the bug with disabled IPv6 filtering in the latest beta?

[2016-11-22 13:19] ameshkov commented on #1394
@seanl-adg could you please check it on your side?

[2016-11-22 13:38] ameshkov commented on #859
Since we're planning to completely change filter editor, this task becomes redundant.

[2016-11-22 13:40] ameshkov commented on #1393
Reproduce the issue and grab the log:
https://kb.adguard.com/index.php?/Knowledgebase/Article/View/23/0/how-can-i-get-adguard-log-files

[2016-11-22 13:42] ameshkov commented on #1391
Great, thank you!

[2016-11-22 13:42] #1391 closed

[2016-11-22 14:57] #1347 closed

[2016-11-22 14:57] #1344 closed

[2016-11-22 15:00] ameshkov opened #1396 "Add $app modifier support"
Just like it's done in Android version.

After this task is implemented we should:

1. Create this task for Mac version
2. Add information to filtering rules description

[2016-11-22 15:03] ameshkov commented on #1395
$app modifier is not yet supported

[2016-11-22 15:03] #1395 closed

[2016-11-22 16:46] adbuker opened #1397 "Style problem"

[2016-11-22 17:23] gshumihin opened #1398 "Adguard UI crash"
STR:
1. ввести что-нибудь в строке поиска (sala, например)
2. потыкаться между вкладками (general settings, ad blocker, etc.)

после ~10-15 переключений адгардик падает вот так:
http://screencast.com/t/CS2VmWFOT

[2016-11-22 20:14] Alex-302 commented on #1393
Skype  7.30.66.105 - not reproduced

[2016-11-22 20:35] a-ladanov commented on #1398
Рецидив.
Раньше уже эта ошибка была и ее исправляли.
https://github.com/AdguardTeam/AdguardForWindows/issues/1043

[2016-11-23 08:59] confessor-adguard opened #1399 "Don't install the WOT extension during update if it was removed previously"
https://forum.adguard.com/index.php?threads/adguard-for-windows-v6-1-290-r2-release-candidate.14750/page-5#post-114176

[2016-11-23 09:45] worldsdream commented on #1399
Thanks for listening 👍

[2016-11-23 09:46] worldsdream opened #1400 "remove"

[2016-11-23 09:48] #1400 closed

[2016-11-23 09:50] suhan3z commented on #1399
Fixed

[2016-11-23 09:50] #1399 closed

[2016-11-23 09:51] suhan3z commented on #1398
Fixed

[2016-11-23 09:51] #1398 closed

[2016-11-23 10:05] worldsdream commented on #1399
Too fast! Thanks!

[2016-11-23 10:15] vgavrish opened #1401 "igru-xbox.net - no Assistant"
1412565
There is no Assistant icon on the main page and others in Chrome
<details>

![image](https://cloud.githubusercontent.com/assets/18548949/20557949/793590c4-b176-11e6-9ff4-ba55e7d74781.png)

[2016-11-23 10:15] Bluscream commented on #1393
I also can't reproduce it even with all my filters extensions and full stealth

[2016-11-23 10:23] vbagirov opened #1402 "'Anti-Adblock Killer | Reek' userscript incompatibility issue"
Some websites (to name one, http://www.spiegel.de) do not load properly (the page remains blank) when this userscript is added via Adguard. When adding it via Tampermonkey/Greasemonkey, everything is fine. Tested in Chrome/Vivaldi/Edge, doesn't seem to reproduce in Firefox browsers.

Original thread:
https://forum.adguard.com/index.php?threads/16535/

[2016-11-23 10:24] Bluscream commented on #1402
@reek

[2016-11-23 10:32] seanl-adg opened #1403 "Edge does not send Origin or Referrer along with WS upgrade request"
`http://www.nowvideo.li/video/81e35ec6727ee`
http upgrade requests to wsp.steepto.com/ws and wsp.mgid.com/ws does not appear in the filtering log unless it is blocked.
STR: disable ||wsp.steepto.com^ and ||wsp.mgid.com^ in English filter. Visit the above url with Edge browser.

[2016-11-23 10:35] Bluscream commented on #1366
Any news on this? It shouldn't be that hard ^~^

[2016-11-23 11:19] ameshkov opened #1404 "Network settings rework"
1. Move "Filtering settings" and "Proxy settings" from "General" to "Network"

[2016-11-23 11:20] ameshkov opened #1405 "Settings export/import"
Add a new section to Settings -> "General"
`Export...` and `Import...` buttons.

[2016-11-23 11:34] evgeniy-ADG commented on #692
the icon when an update exists which you want to inform the user
about? The difference between green arrow (normal icon) and blue
exclamation mark (update available) is a little bit to subtle. My
father for example cannot see it and I always have to remember him
that he should update Adguard. Doesn't matter if the update is rolled
out later automatically (which btw I never experienced because I do

[2016-11-23 11:40] Bluscream opened #1406 "Implement own error pages"
Just like the Android version has. This would also allow some tweaks like AdGuardTeam/AdGuardForAndroid#923 applied to all filtered apps.

![screenshot_20161123-122306](https://cloud.githubusercontent.com/assets/3318223/20560242/872f722e-b178-11e6-8937-c272bda46480.png)
![](https://cloud.githubusercontent.com/assets/22858651/22091348/49e0f3ae-de3a-11e6-984a-d50ce9a8ee0d.png)

[2016-11-23 11:43] Bluscream opened #1407 "[Bug][aff.adguard.com] Language always russian after logging in"
Whenever i log in to
https://aff.adguard.com/en/welcome.html
it redirects me to
https://aff.adguard.com/ru/member/news.html

[2016-11-23 11:48] Bluscream opened #1408 "[Security Risk][aff.adguard.com] E-Mail dispatcher sends plain text passwords"
Please don't send plain text login details on a successfull registration.
Such services get listed at http://plaintextoffenders.com

![adguard](https://cloud.githubusercontent.com/assets/3318223/20560718/1e633ad4-b17b-11e6-832e-ea56460ae28a.png)

[2016-11-23 13:59] confessor-adguard commented on #1402
Here we have a two problems:
[code]

"instanceof" problem we can easily fix.
"is not of type 'Node'" problem is more difficult as long as in this case, the document is our wrapper on the original document.
Source:
[code]

[2016-11-23 14:30] Bluscream opened #1409 "[Bug] Teamspeak Sync not working when filtered"
https://www.myteamspeak.com/register
http://www.teamspeak.com/downloads.html#client
Taken from Teamspeak's logs:
[code]
I tried to add these rules
[code]
but it still shows this error.

https://www.sslshopper.com/ssl-checker.html#hostname=clientapi.myteamspeak.com

![image](https://cloud.githubusercontent.com/assets/3318223/20566596/ea2978bc-b195-11e6-8fbd-068a942cc510.png)

https://blogs.msdn.mic

[2016-11-23 14:48] ameshkov commented on #1402
@confessor-adguard at least we should fix the first issue and expose `window.Event` property.

What for the mutationobserver issue, do we really need to wrap `document`?

[2016-11-23 15:12] ameshkov commented on #1393
Waiting for logs then

[2016-11-23 15:16] ameshkov commented on #1403
Updated issue title.

The problem is that there's no easy way of detecting if request is third party or not.
I need some time to think about possible solutions.

[2016-11-23 15:17] ameshkov commented on #1366
Oh, it isn't indeed. Let's do it in v6.1r2 then.

@adbuker just change the files filter, you can do it in the master branch right away.

[2016-11-23 15:29] ameshkov commented on #1409
It should be enough to add `myteamspeak.com` to HTTPS exclusions in AG settings.

[2016-11-23 15:44] Bluscream commented on #1409
adding `api.myteamspeak.com` works fine, thanks. Can you add this to the default list, i think Teamspeak is a very popular application, @ameshkov :)

[2016-11-23 15:44] worldsdream commented on #1405
1) Great, I wanted to request that today. But the thing is, what will happen if:

- You export settings from Adguard 6.2
- You import settings it into Adguard 6.3
- Adguard 6.3 has new features that Adguard 6.2 did not have

It will append the settings from 6.2 to 6.3 where it belongs and the new features of 6.3 will be untouched correct? (that is how it should)

2) Can we get a message that if we

[2016-11-23 15:52] Bluscream commented on #1366
Thank you very much :3

[2016-11-23 15:57] worldsdream commented on #1393
logs: https://www.dropbox.com/s/73wz5ry9btqjkfj/Logs.zip?dl=0

[2016-11-23 15:57] ameshkov commented on #1409
Yep, done

[2016-11-23 16:00] ameshkov commented on #1393
Dropbox thinks you're too naughty
`This account's links are generating too much traffic and have been temporarily disabled!`

[2016-11-23 16:00] worldsdream commented on #1393
I will uploaded to mega.nz.

[2016-11-23 16:01] Bluscream opened #1410 "Add link to adguard.com/en/filterrules.html to the "Filter Editor""
Just drop a
[code]
somewhere in the filter editor

[2016-11-23 16:03] worldsdream commented on #1393
Here you go: https://mega.nz/#!0FZ2XYpQ!jS0nunDcEb8AsZbsFtr2Zgqs9n1Z2H1jWPyFpSFtOr8

[2016-11-23 16:11] Bluscream opened #1411 "Example replace rule "invalid""
https://adguard.com/en/filterrules.html#replace-examples

![image](https://cloud.githubusercontent.com/assets/3318223/20569284/d33202f0-b19f-11e6-9f17-90a9202e047b.png)

[2016-11-23 16:27] Bluscream opened #1412 "[Crash] When closing filter editor"
Oh noes, AdGuard crashed the first time for me when closing the filter editor while having a invalid rule in it.

![image](https://cloud.githubusercontent.com/assets/3318223/20569953/1f920094-b1a2-11e6-89d7-d84afbf86784.png)

[code]

[2016-11-23 16:32] ameshkov commented on #1411
@Bluscream you'd better file it here also:
https://github.com/AdguardTeam/AdguardKnowledgebase

[2016-11-23 16:32] ameshkov commented on #1411
@adbuker could you please check what's wrong with the rule?

[2016-11-23 16:42] ameshkov commented on #1411
@Bluscream let's not close it yet, we'd better double-check it.

[2016-11-23 17:10] vozersky commented on #1411
The thing is, that in [English version](https://adguard.com/en/filterrules.html#replace-examples) of the guide the rule has a mistake, one / is missing.

In [Russian version ](https://adguard.com/ru/filterrules.html#Примеры-replace)it's fine though:

[2016-11-23 17:13] Bluscream commented on #1411
Oh, okay thanks :D @vozersky

[2016-11-23 17:15] vozersky commented on #1411
@Bluscream thanks, we'll fix it 👍

[2016-11-23 17:25] Bluscream opened #1413 "New rule modifiers to filter by executable and incoming user agent"
[code]
which only blocks requests to `baddomain.com` when they're sent from `ts3client_win64.exe`

[code]
which only blocks requests to `baddomain.com` when the incoming user agent string equals `$useragent`

[2016-11-23 17:32] #1397 closed

[2016-11-23 17:33] #1258 closed

[2016-11-24 09:37] mmigi commented on #1307
Fixed.

[2016-11-24 09:37] #1307 closed

[2016-11-24 11:31] vbagirov opened #1414 "[Ferature Request] Make an option to disable Adguard extension too when app protection is disabled in integration mode"
Original thread:
https://forum.adguard.com/index.php?threads/16535/#post-114358

[2016-11-24 14:33] gshumihin commented on #1380
Очень странно. У меня на последней бете при переходе со страницы sberbank.ru на online.sberbank.ru через защищенный браузер (от ESET который) даже с включенной фильтрацией https внутри есета все номрально.

[2016-11-24 14:37] gshumihin commented on #1380
При отключении фильтрации https, все так же все открывается/грузится корректно.

[2016-11-24 14:48] #1411 closed

[2016-11-24 15:23] Bluscream commented on #1413
This would also allow stuff like https://github.com/Bluscream/AdguardFilters/tree/master/ApplicationsFilter/Teamspeak_3_Client

[2016-11-25 10:21] #1366 closed

[2016-11-25 10:36] confessor-adguard commented on #1402
I think this is not a critical part of our user script execution environment, so we can try to work without it.

[2016-11-25 10:36] #1402 closed

[2016-11-25 11:02] ameshkov commented on #1393
Try the following rule:
[code]

[2016-11-25 12:59] confessor-adguard commented on #1385
We are waiting for a dump.

[2016-11-25 13:02] confessor-adguard commented on #1311
Moved to the next milestone, because still, it is very hard to detect causes of this problem.

[2016-11-25 19:36] worldsdream commented on #1393
@ameshkov that did not work

[2016-11-26 14:32] Bluscream opened #1415 "[Suggestion] ЫГппуые ФвИдщслштп кудфеув гыукыскшзеы ия вуафгде"
Ыщ ш цфы ерштлштп ящг сщгдв ыгппуые ыщьу фззкщмув фвидщслштп кудфеув гыукыскшзеы ия вуафгде ыщ ящг сфт щту сдшсл штыефдд еруь црут ящгк учеутышщт дшые шы уьзеяю Ш цщгдв ыгппуые фввштп федуфые еру ащддщцштп гыукыскшзеы ещ ерфе дшыеЮ

- Фтеш.Фвидщсл ЛШддук ия @reek
- ФвыИязфыыук
- уес...

[2016-11-26 15:17] ameshkov commented on #1415
Puzzle?:)

I got the idea though

[2016-11-26 16:01] s-knysh opened #1416 "No Assistant in Chrome and Edge browser"
no Assistant in Chrome and Edge browser on the website https://www.tdameritrade.com

[2016-11-27 03:17] liangshengzero opened #1417 "http://www.zdfans.com/ - Assistant doesn't show up"
Adguard version: 6.1.258.1302

Filters list:
FilterId:2 Name: English filter
FilterId:104 Name: EasyList China
FilterId:118 Name: EasyPrivacy
FilterId:0 Name: User filter
FilterId:220 Name: CJX's Annoyance List
FilterId:100000 Name: EasyList Lite

Operating system: Microsoft Windows NT 10.0.14393.0

Chrome 54.0.2840.99 m (64-bit)
![ashampoo_snap_2016 11 21_14h50m01s_001_](https://cloud.githubuserc

[2016-11-27 07:24] evgeniy-ADG opened #1418 "[Assistant] Add the ability to open filtering log and filters editor"
Почему через помощника Adguard невозможно посмотреть журнал фильтрации и открыть редактор фильтров? Из-за этого приходится открывать основной интерфейс программы и зачастую держать значок Adguard в области уведомлений. Это неудобно, плюс дополнительный процесс висит в системе и потихоньку трескает ресурсы (немного, но он их отнимает!).

[2016-11-27 20:05] ameshkov commented on #1393
Argh, and what about this:
`@@||skype.com^$document`

[2016-11-27 20:07] ameshkov commented on #1393
One more thing to try: `@@||login.live.com^$document`
Before doing it disable existing `@@||login.live.com^` rule in the english filter.

[2016-11-27 20:09] ameshkov commented on #1393
And one more thing if nothing above helps:
`@@||mobile.pipe.aria.microsoft.com`

[2016-11-27 20:26] ameshkov commented on #1417
Assigning to the "Assistant 4.0" milestone

[2016-11-27 20:32] worldsdream commented on #1393
@ameshkov

I tried them all, only this one worked without error:

One more thing to try: @@||login.live.com^$document
Before doing it disable existing @@||login.live.com^ rule in the english filter.

[2016-11-27 20:39] ameshkov commented on #1393
Nice, thanks for checking it:)

@Alex-302 let's update that rule.

[2016-11-27 20:45] Alex-302 commented on #1393
done

[2016-11-27 20:45] #1393 closed

[2016-11-28 09:30] worldsdream commented on #1363
Not working, on chrome and firefox. I have adguard windows: 6.1.294.1539 and latest adsbypasser script.